﻿<%@ Page Title="" Language="C#" MasterPageFile="~/MainMaster.master" AutoEventWireup="true" CodeBehind="frmSalesManMaster.aspx.cs" Inherits="EnterpriserWebFinal.Masters.frmSalesManMaster" %>


<%@ Register TagPrefix="ups" TagName="PaginationUserControl" Src="~/UserControls/PaginationUserControl.ascx" %>

<asp:Content ID="Content1" ContentPlaceHolderID="head" runat="server">
    <style type="text/css">
        .grdLoad td:nth-child(1), .grdLoad th:nth-child(1) {
            min-width: 60px;
            max-width: 100px;
            text-align: center !important;
        }

        .grdLoad td:nth-child(2), .grdLoad th:nth-child(2) {
            min-width: 60px;
            max-width: 100px;
            text-align: center !important;
        }
         .grdLoad td:nth-child(3), .grdLoad th:nth-child(3) {
            min-width: 60px;
            max-width: 100px;
            text-align: center !important;
        }


        .grdLoad td:nth-child(4), .grdLoad th:nth-child(4) {
            min-width: 95px;
            max-width: 120px;
        }

        .grdLoad td:nth-child(5), .grdLoad th:nth-child(5) {
          display:none;
        }

        .grdLoad td:nth-child(6), .grdLoad th:nth-child(6) {
            min-width: 160px;
            max-width: 240px;
        }

        .grdLoad td:nth-child(7), .grdLoad th:nth-child(7) {
            min-width: 150px;
            max-width: 150px;
        }

        .grdLoad td:nth-child(8), .grdLoad th:nth-child(8) {
            min-width: 160px;
            max-width: 200px;
        }

        .grdLoad td:nth-child(9), .grdLoad th:nth-child(9) {
          min-width: 135px;
          max-width: 240px;

        }
        .grdLoad td:nth-child(10), .grdLoad th:nth-child(10) {
            min-width: 240px;
            max-width: 240px;
        }
        .grdLoad td:nth-child(11), .grdLoad th:nth-child(11) {
            min-width: 245px;
            max-width: 158px;
        }  
         .fa-question-circle {
            color: royalblue;
            display: block;
            position: absolute;
            left: 1386px;
            font-size: 15px;
            padding: 0px 80px;
            font-weight: bold
        }
         .no-close .ui-dialog-titlebar-close{
            display:none;
        }
    </style>
    <script type="text/javascript">
        function ValidateForm() {
             if ($('#<%=txtSalesManID.ClientID%>').is(':disabled') && $('#<%=hidEditbtn.ClientID%>').val() != "E1") {
                    ShowPopupMessageBox("You have no permission to save existing Salesman");
                    return false;
                }
                if (!($('#<%=txtSalesManID.ClientID%>').is(':disabled')) && $('#<%=hidSavebtn.ClientID%>').val() != "N1") {
                    ShowPopupMessageBox("You have no permission to save New Salesman");
                    return false;
                }
            var Show = '';
            var SalesManID = $.trim($('#<%=txtSalesManID.ClientID %>').val());   //23112022 musaraf
            var EmployeeCode = $.trim($('#<%=txtEmployeeCode.ClientID %>').val());
            var SalesManName = $.trim($('#<%=txtSalesManName.ClientID %>').val());

            if (SalesManID == "") {
                Show = Show + 'Please Enter SalesMan ID';
                document.getElementById("<%=txtSalesManID.ClientID %>").focus();
            }
            if (EmployeeCode == "") {
                Show = Show + '<br />Please Enter Employee Code';
                document.getElementById("<%=txtEmployeeCode.ClientID %>").focus();
            }
            if (SalesManName == "") {
                Show = Show + '<br />Please Enter SalesMan Name';
                document.getElementById("<%=txtSalesManName.ClientID %>").focus();
            }
            if (document.getElementById("<%=ddlLocation.ClientID%>").value == 0) {
                Show = Show + '<br />Please Select The Location';
                document.getElementById("<%=ddlLocation.ClientID %>").focus();
            }

            if (Show != '') {
                ShowPopupMessageBox(Show);
                return false;
            }

            else {
                $('#<%=txtSalesManID.ClientID %>').removeAttr('disabled'); 
                __doPostBack('ctl00$ContentPlaceHolder1$lnkSave', '');
                return true;
            }
        }
        function imgbtnEdit_ClientClick(source) {
            if ($('#<%=hidEditbtn.ClientID%>').val() != "E1") {
                ShowPopupMessageBox("You have no permission to Edit this Salesman");
                return false;
            }
            DisplayDetails($(source).closest("tr"));

        }

        function DisplayDetails(row) {
            $('#<%=txtSalesManID.ClientID %>').attr("disabled", "disabled");
            $('#<%=txtSalesManID.ClientID %>').val($("td", row).eq(3).html().replace(/&nbsp;/g, ''));
            $('#<%=txtEmployeeCode.ClientID %>').val($("td", row).eq(4).html().replace(/&nbsp;/g, ''));
            $('#<%=txtSalesManName.ClientID %>').val($("td", row).eq(5).html().replace(/&nbsp;/g, ''));
            $('#<%=txtCommission.ClientID %>').val($("td", row).eq(6).html().replace(/&nbsp;/g, ''));
            $('#<%=ddlLocation.ClientID %>').val($("td", row).eq(7).html().replace(/&nbsp;/g, ''));
            $('#<%=ddlLocation.ClientID %>').trigger("liszt:updated");

            if ($("td", row).eq(8).html().replace(/&nbsp;/g, '') == "1") {
                $('#<%= chkActive.ClientID %>').attr("checked", "checked");
            }
            else {

                $('#<%= chkActive.ClientID %>').removeAttr("checked");
            }

        }
        function SalemMan_Delete(source) {
              if ($('#<%=hidDeletebtn.ClientID%>').val() != "D1") {
                ShowPopupMessageBox("You have no permission to Delete this Salesman");
                return false;
            }
            $("#dialog-confirm").dialog({
                resizable: false,
                height: "auto",
                width: 400,
                modal: true,
                buttons: {
                    "YES": function () {
                        $(this).dialog("close");
                        $('#<%=hdnValue.ClientID %>').val($("td", $(source).closest("tr")).eq(3).html().replace(/&nbsp;/g, ''));

                        $("#<%= btnDelete.ClientID %>").click();
                    },
                    "NO": function () {
                        $(this).dialog("close");
                        returnfalse();
                    }
                }
            });


        }
        function isNumberKey(evt) {
            var charCode = (evt.which) ? evt.which : evt.keyCode;
            if (charCode > 31 && (charCode < 46 || charCode > 57))
                return false;
            return true;
        }
    </script>
    <script type="text/javascript">
        function pageLoad() {
             if ($('#<%=hidSavebtn.ClientID%>').val() == "N1" || $('#<%=hidEditbtn.ClientID%>').val() == "E1") {
                $('#<%=lnkSave.ClientID %>').css("display", "block");
              }
              else {
                  $('#<%=lnkSave.ClientID %>').css("display", "none");
              }
            $("select").chosen({ width: '100%' });
            $('#<%=txtCommission.ClientID %>').number(true, 2);
            $('#<%=txtSalesManID.ClientID %>').focus();
            $('#<%=txtSalesManID.ClientID %>').focusout(function () {
                $.ajax({
                    url: "frmSalesManMaster.aspx/GetExistingCode",
                    data: "{ 'Code': '" + $("#<%=txtSalesManID.ClientID%>").val() + "'}",
                    dataType: "json",
                    type: "POST",
                    contentType: "application/json; charset=utf-8",
                    success: function (data) {
                        var temp = data.d;
                        var strarray = temp.split(',');

                        if (temp != "Null") {
                            $('#<%=txtSalesManID.ClientID %>').prop("disabled", true);
                            $('#<%=txtSalesManID.ClientID %>').val(strarray[0]);
                            $('#<%=txtEmployeeCode.ClientID %>').val(strarray[1]);
                            $('#<%=txtSalesManName.ClientID %>').val(strarray[2]);
                            $('#<%=txtCommission.ClientID %>').val(strarray[3]);
                            $('#<%=ddlLocation.ClientID %>').val($.trim(strarray[4]));
                            $('#<%=ddlLocation.ClientID %>').trigger("liszt:updated");
                            if ($.trim(strarray[5]) == "1") {
                                $('#<%= chkActive.ClientID %>').attr("checked", "checked");
                            }
                            else {
                                $('#<%= chkActive.ClientID %>').removeAttr("checked");
                            }
                        }

                    },
                    error: function (response) {
                        ShowPopupMessageBox(response.responseText);
                    },
                    failure: function (response) {
                        ShowPopupMessageBox(response.responseText);
                    }
                });
            });
            $("[id$=txtSalesManName]").autocomplete({
                source: function (request, response) {
                    $.ajax({
                        url: "frmSalesManMaster.aspx/GetFilterValue",
                        data: "{ 'prefix': '" + request.term + "'}",
                        dataType: "json",
                        type: "POST",
                        contentType: "application/json; charset=utf-8",
                        success: function (data) {
                            response($.map(data.d, function (item) {
                                return {
                                    label: item.split('-')[1],
                                    val: item.split('-')[1]
                                }

                            }))
                        },
                        error: function (response) {
                            ShowPopupMessageBox(response.responseText);
                        },
                        failure: function (response) {
                            ShowPopupMessageBox(response.responseText);
                        }
                    });
                },
               <%-- focus: function (event, i) {

                    $('#<%=txtManufacturerName.ClientID %>').val($.trim(i.item.label));

                    event.preventDefault();
                },--%>
                select: function (e, i) {

                    $('#<%=txtSalesManName.ClientID %>').val($.trim(i.item.label));

                    return false;
                },
                minLength: 1
            });

                $("[id$=txtSearch]").autocomplete({
                    source: function (request, response) {
                        $.ajax({
                            url: "frmSalesManMaster.aspx/GetFilterValue",
                            data: "{ 'prefix': '" + request.term + "'}",
                            dataType: "json",
                            type: "POST",
                            contentType: "application/json; charset=utf-8",
                            success: function (data) {
                                response($.map(data.d, function (item) {
                                    return {
                                        label: item.split('-')[1],
                                        val: item.split('-')[1]
                                    }
                                }))
                            },
                            error: function (response) {
                                ShowPopupMessageBox(response.responseText);
                            },
                            failure: function (response) {
                                ShowPopupMessageBox(response.responseText);
                            }
                        });
                    },

                    focus: function (event, i) {
                        $('#<%=txtSearch.ClientID %>').val($.trim(i.item.label));
                        event.preventDefault();
                    },
                    select: function (e, i) {
                        $('#<%=txtSearch.ClientID %>').val($.trim(i.item.label));
                         __doPostBack('ctl00$ContentPlaceHolder1$lnkSearchGrid', '');

                         return false;
                     },

                     minLength: 1
                });
            $('input[type=text]').bind('change', function () {
                if (this.value.match(/[^a-zA-Z0-9-,. ]/g)) {

                    ShowPopupMessageBoxandOpentoObject("Special Characters are not Allowed : " + this.value);
                    this.value = this.value.replace(/[^a-zA-Z0-9-,. ]/g, '');
                }
            });

                 }
                 function clearForm() {
                     $(':input').not(':button, :submit, :reset, :hidden, :checkbox, :radio').val('');
                     $(':checkbox, :radio').prop('checked', false);
                     $('#<%= chkActive.ClientID %>').removeAttr("checked");
                        $('#<%= ddlLocation.ClientID %>').val('');
                     $('#<%= ddlLocation.ClientID %>').trigger("liszt:updated");
                     $('#<%=txtSalesManID.ClientID %>').focus();
            return false;
                    }
                    function disableFunctionKeys(e) {
                        var functionKeys = new Array(112, 113, 114, 115, 116, 117, 118, 119, 120, 121, 123);
                        if (functionKeys.indexOf(e.keyCode) > -1 || functionKeys.indexOf(e.which) > -1) {

                            if (e.keyCode == 115) {
                                if ($('#<%=lnkSave.ClientID %>').is(":visible"))
                                $('#<%= lnkSave.ClientID %>').click();
                                e.preventDefault();
                            }
                            else if (e.keyCode == 117) {
                                $("input").removeAttr('disabled');
                                $('#<%= lnkClear.ClientID %>').click();
                            e.preventDefault();
                        }
                       <%-- else if (e.keyCode == 119) {
                             $('#<%= lnkClose.ClientID %>').click();
            e.preventDefault();
        }--%>


                        }
                    };

        $(document).ready(function () {
            $(document).on('keydown', disableFunctionKeys);
        });
    </script>
    <script type="text/javascript">
        var d1;
        var d2;
        var Opendate;
        var dur;
        function fncGetUrl() {
            fncSaveHelpVideoDetail('', '', 'SalesManMaster');
        }
        function fncOpenvideo() {

            document.getElementById("ifHelpVideo").src = HelpVideoUrl;

            var Mode = "SalesManMaster";
            var d = new Date($.now());
            Opendate = d.getDate() + "-" + (d.getMonth() + 1) + "-" + d.getFullYear() + " " + d.getHours() + ":" + d.getMinutes() + ":" + d.getSeconds();
            d1 = new Date($.now()).getTime();



            $("#dialog-Open").dialog({
                autoOpen: true,
                resizable: false,
                height: "auto",
                width: 1093,
                modal: true,
                dialogClass: "no-close",
                buttons: {
                    Close: function () {
                        $(this).dialog("destroy");
                        var d = new Date($.now());
                        var ClosedDate = d.getDate() + "-" + (d.getMonth() + 1) + "-" + d.getFullYear() + " " + d.getHours() + ":" + d.getMinutes() + ":" + d.getSeconds();
                        d2 = new Date($.now()).getTime();
                        var Diff = Math.floor((d2 - d1) / 1000);
                        //alert(Diff);
                        if (Diff >= 60) {
                            fncSaveHelpVideoDetail(Opendate, ClosedDate, Mode);
                        }

                    }
                }
            });
        }


    </script>

</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="ContentPlaceHolder1" runat="server">
    <div class="main-container" style="overflow: hidden" id="form1">
        <div id="breadcrumbs" class="breadcrumbs" runat="Server">
            <ul>
                <li><a href="../MISDashboard/frmMisDashBoard.aspx">Home</a> <i class="fa fa-angle-right"></i></li>
                <li><a style="text-decoration: none;">Master</a><i class="fa fa-angle-right"></i></li>
                <li><a style="text-decoration: none;">Sales</a><i class="fa fa-angle-right"></i></li>
                <li><a style="text-decoration: none;">Sales Man</a><i class="fa fa-angle-right"></i></li>
                <li class="active-page">SalesMan Master </li><li><i class="fa fa-question-circle" style="cursor:pointer;font-size: 19px;" onclick= "fncGetUrl(); return false;"></i></li>
            </ul>
        </div>

        <asp:UpdatePanel ID="upfrom" runat="Server" UpdateMode="Conditional">
            <ContentTemplate>
                <div id="dialog-confirm" style="display: none;" title="Enterpriser Web">
                    <p><span class="ui-icon ui-icon-alert" style="float: left; display: none; margin: 12px 12px 20px 0;"></span>These items will be permanently deleted and cannot be recovered. Are you sure?</p>
                </div>
                <asp:HiddenField ID="hdnValue" Value="" runat="server" />
                <asp:HiddenField ID="hdnValue1" Value="" runat="server" />

                <div class="container-group">
                    <div class="container-control">
                        <div class="container-left">
                            <div class="control-group">
                                <div style="float: left">
                                    <asp:Label ID="Label1" runat="server" Text='<%$ Resources:LabelCaption,lblSalesManID %>'></asp:Label><span class="mandatory">*</span>
                                </div>
                                <div style="float: right">
                                    <asp:TextBox ID="txtSalesManID" MaxLength="10" runat="server" CssClass="form-control"></asp:TextBox>
                                </div>
                            </div>
                            <div class="control-group">
                                <div style="float: left">
                                    <asp:Label ID="Label2" runat="server" Text='<%$ Resources:LabelCaption,lbl_EmployeeCode %>'></asp:Label><span class="mandatory">*</span>
                                </div>
                                <div style="float: right">
                                    <asp:TextBox ID="txtEmployeeCode" MaxLength="10" runat="server" CssClass="form-control"></asp:TextBox>
                                </div>
                            </div>
                            <div class="control-group">
                                <div style="float: left">
                                    <asp:Label ID="Label4" runat="server" Text='<%$ Resources:LabelCaption,lblSalesManName %>'></asp:Label><span class="mandatory">*</span>
                                </div>
                                <div style="float: right">
                                    <asp:TextBox ID="txtSalesManName" MaxLength="50" runat="server" CssClass="form-control"></asp:TextBox>
                                </div>
                            </div>
                        </div>
                        <div class="container-right">
                            <div class="control-group">
                                <div style="float: left">
                                    <asp:Label ID="Label8" runat="server" Text='<%$ Resources:LabelCaption,lblCommission %>'></asp:Label>
                                </div>
                                <div style="float: right">
                                    <asp:TextBox ID="txtCommission" onkeypress="return isNumberKey(event)" text="0" MaxLength="5" runat="server" CssClass="form-control"></asp:TextBox>
                                </div>
                            </div>
                            <div class="control-group">
                                <div style="float: left">
                                    <asp:Label ID="Label5" runat="server" Text='<%$ Resources:LabelCaption,lbl_location %>'></asp:Label><span class="mandatory">*</span>
                                </div>
                                <div style="float: right">
                                    <asp:DropDownList ID="ddlLocation" runat="server" CssClass="form-control">
                                    </asp:DropDownList>
                                </div>
                            </div>
                            <div class="control-group">
                                <div style="float: left">
                                    <asp:Label ID="Label7" runat="server" Text="Active"></asp:Label>
                                </div>
                                <div style="float: left; margin-left: 95px">
                                    <asp:CheckBox ID="chkActive" runat="server" />
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="button-contol">
                        <div class="control-button">
                            <asp:LinkButton ID="lnkSave" runat="server" class="button-red" OnClick="lnkSave_Click"
                                OnClientClick="return ValidateForm()"><i class="icon-play"></i>Save(F4)</asp:LinkButton>
                        </div>
                        <div class="control-button">
                            <asp:LinkButton ID="lnkClear" runat="server" class="button-red" OnClientClick="clearForm()"><i class="icon-play"></i>Clear(F6)</asp:LinkButton>
                        </div>
                        <div class="control-button">
                            <asp:LinkButton ID="lnkClose" runat="server" Style="display: none" class="button-red" OnClientClick="Close()"><i class="icon-play"></i>Close(F8)</asp:LinkButton>
                        </div>
                    </div>
                </div>


            </ContentTemplate>
        </asp:UpdatePanel>

        <asp:UpdatePanel ID="upgrid" runat="Server" UpdateMode="Conditional">
            <ContentTemplate>
                <div class="GridDetails">
                    <div class="grid-search">
                        <asp:Panel ID="Panel1" runat="server" DefaultButton="lnkSearchGrid">
                            <asp:TextBox ID="txtSearch" runat="server" CssClass="TextboxSize" placeholder="Enter Description To Search"></asp:TextBox>&nbsp;&nbsp;
                    <asp:LinkButton ID="lnkSearchGrid" runat="server" class="button-blue" Width="100px" Style="visibility: hidden"
                        OnClick="lnkSearchGrid_Click" Text='<%$ Resources:LabelCaption,btn_Search %>'><i class="icon-play"></i></asp:LinkButton>
                         <asp:label Id="lblcount" runat="server" style="font-weight: 900;"></asp:label>
                        </asp:Panel>
                    </div>

                    <div class="GridDetails">
                        <div class="row">
                            <div class="col-xs-12 fw_light m_bottom_45 m_xs_bottom_30">
                                <div class="right-container-top-detail">
                                    <div class="grdLoad">
                                        <table id="tblItemhistory" cellspacing="0" rules="all" border="1" class="fixed_header">
                                            <thead>
                                                <tr>
                                                    <th scope="col">Delete
                                                    </th>
                                                    <th scope="col">Edit
                                                    </th>
                                                     <th scope="col">Serial No
                                                    </th>
                                                    <th scope="col">SalesMan ID
                                                    </th>
                                                    <th scope="col">SalesManCode
                                                    </th>
                                                    <th scope="col">SalesMan Name
                                                    </th>
                                                    <th scope="col">Commission
                                                    </th>
                                                    <th scope="col">Location
                                                    </th>
                                                     <th scope="col">IsActive
                                                    </th>
                                                     <th scope="col">Modify User
                                                    </th>
                                                     <th scope="col">Modify Date
                                                    </th>                                                   
                                                </tr>
                                            </thead>
                                        </table>
                                        <div class="GridDetails" style="overflow-x: hidden; overflow-y: hidden; height: 201px; width: 1367px; background-color: aliceblue;">
                                            <asp:GridView ID="gvSalesMan" runat="server" AutoGenerateColumns="False"
                                                ShowHeaderWhenEmpty="true" ShowHeader="false" 
                                                CssClass="pshro_GridDgn grdLoad" oncopy="return false" AllowPaging="True"
                                                DataKeyNames="SalesManId">
                                                <EmptyDataTemplate>
                                                    <asp:Label ID="Label3" runat="server" Text="No Records Found"></asp:Label>
                                                </EmptyDataTemplate>
                                                <HeaderStyle CssClass="pshro_GridDgnHeaderCellCenter" />
                                                <RowStyle CssClass="pshro_GridDgnStyle tbl_left" />
                                                <AlternatingRowStyle CssClass="pshro_GridDgnStyle_Alternative tbl_left" />

                                                <PagerStyle CssClass="pshro_text" />
                                                <Columns>
                                                    <asp:TemplateField HeaderText="Delete">
                                                        <ItemTemplate>
                                                            <asp:ImageButton ID="imgbtnDelete" runat="server" ImageUrl="~/images/No.png" OnClientClick=" return SalemMan_Delete(this);  return false;"
                                                                ToolTip="Click here to Delete" />
                                                        </ItemTemplate>
                                                    </asp:TemplateField>
                                                    <asp:TemplateField HeaderText="Edit">
                                                        <ItemTemplate>
                                                            <asp:ImageButton ID="imgbtnEdit" runat="server" ImageUrl="~/images/edit-icon.png" OnClientClick="imgbtnEdit_ClientClick(this);return false;"
                                                                ToolTip="Click here to edit" />
                                                        </ItemTemplate>
                                                    </asp:TemplateField>
                                                     <asp:BoundField DataField="RowNumber" HeaderText="Serial No"></asp:BoundField>
                                                    <asp:BoundField DataField="SalesManId" HeaderText='<%$ Resources:LabelCaption,lblSalesManID %>'></asp:BoundField>
                                                    <asp:BoundField DataField="SalesManCode" HeaderText='<%$ Resources:LabelCaption,lbl_SalesManCode %>' ItemStyle-CssClass="hiddencol" HeaderStyle-CssClass="hiddencol"></asp:BoundField>
                                                    <asp:BoundField DataField="SalesManName" HeaderText='<%$ Resources:LabelCaption,lblSalesManName %>'></asp:BoundField>
                                                    <asp:BoundField DataField="Commission" HeaderText='<%$ Resources:LabelCaption,lblCommission %>' ItemStyle-HorizontalAlign="Right"></asp:BoundField>
                                                    <asp:BoundField DataField="Location" HeaderText='<%$ Resources:LabelCaption,lbl_location %>'></asp:BoundField>
                                                    <asp:BoundField DataField="IsActive" HeaderText='<%$ Resources:LabelCaption,lbl_IsActive %>'></asp:BoundField>
                                                    <asp:BoundField DataField="ModifyUser" HeaderText="Modify User"></asp:BoundField>
                                                    <asp:BoundField DataField="ModifyDate" HeaderText="Modify Date"></asp:BoundField>
                                                    
                                                </Columns>
                                            </asp:GridView>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <ups:PaginationUserControl runat="server" ID="SalesManPaging" OnPaginationButtonClick="SalesManPaging_PaginationButtonClick" />

                </div>
                <div class="hiddencol">

                    <asp:Button ID="btnDelete" runat="server" OnClick="imgbtnDelete_Click" />
            </ContentTemplate>
        </asp:UpdatePanel>
    </div>
        <asp:HiddenField ID="hidSavebtn" runat="server" />
        <asp:HiddenField ID="hidDeletebtn" runat="server" />
        <asp:HiddenField ID="hidEditbtn" runat="server" />
        <asp:HiddenField ID="hidViewbtn" runat="server" />
</asp:Content>
