﻿
.process td:nth-child(1), .process th:nth-child(1) {
    min-width: 50px;
    max-width: 50px;
    text-align: center;
}

.process td:nth-child(2), .process th:nth-child(2) {
    min-width: 60px;
    max-width: 60px;
    text-align: left;
}

.process td:nth-child(3), .process th:nth-child(3) {
    min-width: 100px;
    max-width: 100px;
    text-align: left;
}

.process td:nth-child(4), .process th:nth-child(4) {
    min-width: 70px;
    max-width: 70px;
    text-align: left;
}

.process td:nth-child(5), .process th:nth-child(5) {
    min-width: 60px;
    max-width: 60px;
    text-align: right;
}

.process td:nth-child(6), .process th:nth-child(6) {
    min-width: 60px;
    max-width: 60px;
    text-align: right;
}

.process td:nth-child(7), .process th:nth-child(7) {
    min-width: 70px;
    max-width: 70px;
    text-align: left;
}

process {
    padding: 2px;
}

.pendig td:nth-child(1), .pendig th:nth-child(1) {
    min-width: 30px;
    max-width: 30px;
    text-align: center;
}

.pendig td:nth-child(2), .pendig th:nth-child(2) {
    min-width: 50px;
    max-width: 50px;
    text-align: left;
}

.pendig td:nth-child(3), .pendig th:nth-child(3) {
    min-width: 60px;
    max-width: 60px;
    text-align: left;
}

.pendig td:nth-child(4), .pendig th:nth-child(4) {
    min-width: 60px;
    max-width: 60px;
    text-align: left;
}
.pendig td:nth-child(5), .pendig th:nth-child(5) {
    min-width: 60px;
    max-width: 60px;
    text-align: left;
}

.grdLoad td:nth-child(1), .grdLoad th:nth-child(1) {
    display: none;
}

.grdLoad td:nth-child(2), .grdLoad th:nth-child(2) {
    min-width: 50px;
    max-width: 50px;
    text-align: center;
}

.grdLoad td:nth-child(3), .grdLoad th:nth-child(3) {
    min-width: 65px;
    max-width: 65px;
    text-align: left;
}

.grdLoad td:nth-child(4), .grdLoad th:nth-child(4) {
    min-width: 335px;
    max-width: 335px;
    text-align: left;
}

.grdLoad td:nth-child(5), .grdLoad th:nth-child(5) {
    min-width: 65px;
    max-width: 65px;
    text-align: left;
}

.grdLoad td:nth-child(6), .grdLoad th:nth-child(6) {
    min-width: 77px;
    max-width: 77px;
    text-align: right;
}

.grdLoad td:nth-child(7), .grdLoad th:nth-child(7) {
    min-width: 75px;
    max-width: 75px;
}

.grdLoad td:nth-child(8), .grdLoad th:nth-child(8) {
    min-width: 70px;
    max-width: 70px;
    text-align: right;
}

.grdLoad td:nth-child(9), .grdLoad th:nth-child(9) {
    min-width: 75px;
    max-width: 75px;
    text-align: right;
}

.grdLoad td:nth-child(10), .grdLoad th:nth-child(10) {
    min-width: 70px;
    max-width: 70px;
    text-align: right;
}

.grdLoad td:nth-child(11), .grdLoad th:nth-child(11) {
    min-width: 70px;
    max-width: 70px;
    text-align: right;
}

.grdLoad td:nth-child(12), .grdLoad th:nth-child(12) {
    min-width: 75px;
    max-width: 75px;
    text-align: right;
}

.grdLoad td:nth-child(13), .grdLoad th:nth-child(13) {
    min-width: 80px;
    max-width: 80px;
    text-align: right;
}

.grdLoad td:nth-child(14), .grdLoad th:nth-child(14) {
    min-width: 80px;
    max-width: 80px;
    text-align: right;
}

.grdLoad td:nth-child(15), .grdLoad th:nth-child(15) {
    display: none;
}

.grdLoad td:nth-child(16), .grdLoad th:nth-child(16) {
    display: none;
}

.grdLoad td:nth-child(17), .grdLoad th:nth-child(17) {
    display: none;
}

.grdLoad td:nth-child(18), .grdLoad th:nth-child(18) {
    display: none;
}

.grdLoad td:nth-child(19), .grdLoad th:nth-child(19) {
    display: none;
}

.grdLoad td:nth-child(20), .grdLoad th:nth-child(20) {
    display: none;
}

.grdLoad td:nth-child(21), .grdLoad th:nth-child(21) {
    display: none;
}

.grdLoad td:nth-child(22), .grdLoad th:nth-child(22) {
    display: none;
}

.grdLoad td:nth-child(23), .grdLoad th:nth-child(23) {
    min-width: 80px;
    max-width: 80px;
}

.grdLoad td:nth-child(24), .grdLoad th:nth-child(24) {
    min-width: 80px;
    max-width: 80px;
    text-align: right;
}

.grdLoad td:nth-child(25), .grdLoad th:nth-child(25) {
    min-width: 85px;
    max-width: 85px;
    text-align: right;
}

.grdLoad td:nth-child(26), .grdLoad th:nth-child(26) {
    min-width: 80px;
    max-width: 80px;
    text-align: right;
}

.grdLoad td:nth-child(27), .grdLoad th:nth-child(27) {
    display: none;
}

.grdLoad td:nth-child(28), .grdLoad th:nth-child(28) {
    display: none;
}

.grdLoad td:nth-child(29), .grdLoad th:nth-child(29) {
    display: none;
}

.grdLoad td:nth-child(30), .grdLoad th:nth-child(30) {
    min-width: 160px;
    max-width: 160px;
    text-align: left;
}

.grdLoad td:nth-child(31), .grdLoad th:nth-child(31) {
    min-width: 200px;
    max-width: 200px;
    text-align: left;
}

.grdLoad td:nth-child(32), .grdLoad th:nth-child(32) {
    min-width: 200px;
    max-width: 200px;
    text-align: left;
}

.grdLoad td:nth-child(33), .grdLoad th:nth-child(33) {
    min-width: 200px;
    max-width: 200px;
    text-align: left;
}

.grdLoad td:nth-child(34), .grdLoad th:nth-child(34) {
    min-width: 100px;
    max-width: 100px;
    text-align: left;
}

.grdLoad td:nth-child(35), .grdLoad th:nth-child(35) {
    display: none;
}

.grdLoad td {
    padding: 2px !important;
}

.textboxOrder {
    background-color: transparent;
    font-size: 13px;
    width: 100%;
    height: 100%;
    font-weight: bold;
    text-align: right;
    padding-right: 5px;
}

/*.left_align {
    padding-left: 5px;
}

.right_align {
    text-align: right;
    padding-right: 5px;
}*/

.gridAlign td:nth-child(2) {
    text-align: left !important;
}

.gridAlign td:nth-child(3) {
    text-align: left !important;
}

.gridAlign td:nth-child(4) {
    text-align: right !important;
}

.gridAlign td:nth-child(5) {
    text-align: right !important;
}

.gridAlign td:nth-child(6) {
    text-align: right !important;
}

.gridAlign td:nth-child(7) {
    text-align: right !important;
}

.gridAlign td:nth-child(8) {
    text-align: right !important;
}

.gridAlign td:nth-child(9) {
    text-align: right !important;
}

.gridAlign td:nth-child(10) {
    text-align: right !important;
}

.gridAlign td:nth-child(19) {
    text-align: right !important;
}

.gridAlign td:nth-child(20) {
    text-align: right !important;
}

.gridAlign td:nth-child(21) {
    text-align: right !important;
}

.gridAlign td:nth-child(22) {
    text-align: right !important;
}

.Itemhistory td:nth-child(1), .Itemhistory th:nth-child(1) {
    min-width: 100px;
    max-width: 100px;
}

.Itemhistory td:nth-child(2), .Itemhistory th:nth-child(2) {
    min-width: 75px;
    max-width: 75px;
}

.Itemhistory td:nth-child(2) {
    text-align: right !important;
}

.Itemhistory td:nth-child(3), .Itemhistory th:nth-child(3) {
    min-width: 75px;
    max-width: 75px;
}

.Itemhistory td:nth-child(3) {
    text-align: right !important;
}

.Itemhistory td:nth-child(4), .Itemhistory th:nth-child(4) {
    min-width: 75px;
    max-width: 75px;
}

.Itemhistory td:nth-child(4) {
    text-align: right !important;
}

.Itemhistory td:nth-child(5), .Itemhistory th:nth-child(5) {
    min-width: 75px;
    max-width: 75px;
}

.Itemhistory td:nth-child(5) {
    text-align: right !important;
}

.Itemhistory td:nth-child(6), .Itemhistory th:nth-child(6) {
    min-width: 75px;
    max-width: 75px;
}

.Itemhistory td:nth-child(6) {
    text-align: right !important;
}

.Itemhistory td:nth-child(7), .Itemhistory th:nth-child(7) {
    min-width: 75px;
    max-width: 75px;
}

.Itemhistory td:nth-child(7) {
    text-align: right !important;
}

/*.FilterSearch {
    margin-top: -3px;
}*/

input:checked + label {
    color: white;
    background: red;
}

/*.RadioButtonFilter {
    margin-top: -10px;
}*/

.Sortby {
    width: 11% !important;
}

/*.RadioWidthLeft {
    width: 52%;
}

.RadioWidthRight {
    width: 48%;
}*/

/*.chzn-default{
    visibility:hidden;
}
.chzn-single {
    display:none;
}
.chzn-container ,.chzn-container-single{
    display:none;
}*/

#tblPendnigValuehead {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

#tblPendnigValue {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
    font-weight: 700;
}

    #tblPendnigValue td {
        border: 1px solid #ddd;
        padding-top: 2px;
        padding-bottom: 2px;
    }

        #tblPendnigValue td:nth-child(even) {
            background-color: #f2f2f2;
        }

        #tblPendnigValue td:hover {
            background-color: #ddd;
            cursor: pointer;
        }

#tblPendnigValuehead th {
    padding-top: 2px;
    padding-bottom: 2px;
    background-color: #1216c8;
    font-weight: bolder;
    color: white;
}



#tblProcessValuehead {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

#tblProcessValue {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
    font-weight: 700;
}

    #tblProcessValue td {
        border: 1px solid #ddd;
        padding: 2px;
    }

        #tblProcessValue td:nth-child(even) {
            background-color: #f2f2f2;
        }

#tblPendnigValue td:hover {
    background-color: #ddd;
    cursor: pointer;
}

#tblProcessValuehead th {
    padding-top: 2px;
    padding-bottom: 2px;
    background-color: #E91E63;
    font-weight: bolder;
    color: white;
}

.grdbodyAp {
    overflow-x: hidden;
    overflow-y: scroll;
    height: 375px;  
    width:231%;
    background-color: aliceblue;
}

.Vendor_margin_border {
    border: 1px solid black;
    height: 200px;
    padding: 2px;
}
/*-------------------------------------------------------Add PO Style-------------------------------------------------------------*/
#dialog-ViewItemHistory {
    width: 100% !important;
}

.container-inv-history {
    width: 100% !important;
}

.cust-pages {
    display: none !important;
}

.ReGeneratePO_Itemhistory td:nth-child(1), .ReGeneratePO_Itemhistory th:nth-child(1) {
    min-width: 50px;
    max-width: 50px;
    display: none;
}

.ReGeneratePO_Itemhistory td:nth-child(2), .ReGeneratePO_Itemhistory th:nth-child(2) {
    min-width: 70px;
    max-width: 70px;
}

.ReGeneratePO_Itemhistory td:nth-child(3), .ReGeneratePO_Itemhistory th:nth-child(3) {
    min-width: 70px;
    max-width: 70px;
}

.ReGeneratePO_Itemhistory td:nth-child(3) {
    text-align: right !important;
}

.ReGeneratePO_Itemhistory td:nth-child(4), .ReGeneratePO_Itemhistory th:nth-child(4) {
    min-width: 70px;
    max-width: 70px;
}

.ReGeneratePO_Itemhistory td:nth-child(4) {
    text-align: right !important;
}

.ReGeneratePO_Itemhistory td:nth-child(5), .ReGeneratePO_Itemhistory th:nth-child(5) {
    min-width: 70px;
    max-width: 70px;
}

.ReGeneratePO_Itemhistory td:nth-child(5) {
    text-align: right !important;
}

.ReGeneratePO_Itemhistory td:nth-child(6), .ReGeneratePO_Itemhistory th:nth-child(6) {
    min-width: 60px;
    max-width: 60px;
}

.ReGeneratePO_Itemhistory td:nth-child(6) {
    text-align: right !important;
}

.ReGeneratePO_Itemhistory td:nth-child(7), .ReGeneratePO_Itemhistory th:nth-child(7) {
    min-width: 60px;
    max-width: 60px;
}

.ReGeneratePO_Itemhistory td:nth-child(7) {
    text-align: right !important;
}

.ReGeneratePO_Itemhistory td:nth-child(8), .ReGeneratePO_Itemhistory th:nth-child(8) {
    min-width: 70px;
    max-width: 70px;
    display: none;
}

.ReGeneratePO_Itemhistory td:nth-child(8) {
    text-align: right !important;
}

.ReGeneratePO_Itemhistory td:nth-child(9), .ReGeneratePO_Itemhistory th:nth-child(9) {
    min-width: 70px;
    max-width: 70px;
}

.ReGeneratePO_Itemhistory td:nth-child(9) {
    text-align: right !important;
}

.gvVendorLoadItemdummy td:nth-child(1) {
    min-width: 50px;
    max-width: 50px;
}

.gvVendorLoadItemdummy td:nth-child(2) {
    min-width: 50px;
    max-width: 50px;
}

.gvVendorLoadItemdummy td:nth-child(3) {
    min-width: 400px;
    max-width: 400px;
}

.gvVendorLoadItemdummy td:nth-child(4) {
    min-width: 70px;
    max-width: 70px;
}

.gvVendorLoadItemdummy td:nth-child(5) {
    min-width: 60px;
    max-width: 60px;
}

.gvVendorLoadItemdummy td:nth-child(6) {
    min-width: 60px;
    max-width: 60px;
}

.gvVendorLoadItemdummy td:nth-child(7) {
    min-width: 60px;
    max-width: 60px;
}

.gvVendorLoadItemdummy td:nth-child(8) {
    min-width: 50px;
    max-width: 50px;
}

.gvVendorLoadItemdummy td:nth-child(9) {
    min-width: 90px;
    max-width: 90px;
}

.gvVendorLoadItemdummy td:nth-child(10) {
    min-width: 90px;
    max-width: 90px;
}

.gvVendorLoadItemdummy td:nth-child(11) {
    min-width: 90px;
    max-width: 90px;
}

.gvVendorLoadItemdummy td:nth-child(12) {
    min-width: 60px;
    max-width: 60px;
}

.gvVendorLoadItemdummy td:nth-child(13) {
    min-width: 80px;
    max-width: 80px;
}

.gvVendorLoadItemdummy td:nth-child(14) {
    min-width: 70px;
    max-width: 80px;
}

.gvVendorLoadItemdummy td:nth-child(15) {
    min-width: 60px;
    max-width: 60px;
}

.gvVendorLoadItemdummy td:nth-child(16) {
    min-width: 100px;
    max-width: 100px;
}

.gvVendorLoadItemdummy td:nth-child(17) {
    min-width: 100px;
    max-width: 100px;
}

.gvVendorLoadItemdummy td:nth-child(18) {
    min-width: 100px;
    max-width: 100px;
}

.gvVendorLoadItemdummy td:nth-child(19) {
    min-width: 100px;
    max-width: 100px;
}

.gvVendorLoadItemdummy td:nth-child(20) {
    min-width: 100px;
    max-width: 100px;
}

.gvVendorLoadItemdummy td:nth-child(21) {
    min-width: 100px;
    max-width: 100px;
}

.gvVendorLoadItemdummy td:nth-child(22) {
    min-width: 100px;
    max-width: 100px;
}

.gvVendorLoadItemdummy td:nth-child(23) {
    min-width: 100px;
    max-width: 100px;
}

.gvVendorLoadItemdummy td:nth-child(24) {
    min-width: 100px;
    max-width: 100px;
}

.gvVendorLoadItemdummy td:nth-child(25) {
    min-width: 100px;
    max-width: 100px;
}

.gvVendorLoadItemdummy td:nth-child(26) {
    min-width: 100px;
    max-width: 100px;
}

.gvVendorLoadItemdummy td:nth-child(27) {
    min-width: 80px;
    max-width: 80px;
}

.gvVendorLoadItemdummy td:nth-child(28) {
    min-width: 100px;
    max-width: 100px;
    display: none;
}

.gvVendorLoadItemdummy td:nth-child(29) {
    min-width: 100px;
    max-width: 100px;
    display: none;
}

.gvSelectItemListdummy td:nth-child(1) {
    min-width: 55px;
    max-width: 55px;
}

.gvSelectItemListdummy td:nth-child(2) {
    min-width: 50px;
    max-width: 50px;
}

.gvSelectItemListdummy td:nth-child(3) {
    min-width: 50px;
    max-width: 50px;
}

.gvSelectItemListdummy td:nth-child(4) {
    min-width: 350px;
    max-width: 350px;
}

.gvSelectItemListdummy td:nth-child(5) {
    min-width: 70px;
    max-width: 70px;
}

.gvSelectItemListdummy td:nth-child(6) {
    min-width: 60px;
    max-width: 60px;
}

.gvSelectItemListdummy td:nth-child(7) {
    min-width: 60px;
    max-width: 60px;
}

.gvSelectItemListdummy td:nth-child(8) {
    min-width: 90px;
    max-width: 90px;
}

.gvSelectItemListdummy td:nth-child(9) {
    min-width: 90px;
    max-width: 90px;
}

.gvSelectItemListdummy td:nth-child(10) {
    min-width: 90px;
    max-width: 90px;
}

.gvSelectItemListdummy td:nth-child(11) {
    min-width: 90px;
    max-width: 90px;
}

.gvSelectItemListdummy td:nth-child(12) {
    min-width: 90px;
    max-width: 90px;
}

.gvSelectItemListdummy td:nth-child(13) {
    min-width: 90px;
    max-width: 90px;
}

.gvSelectItemListdummy td:nth-child(14) {
    min-width: 90px;
    max-width: 90px;
}

.gvSelectItemListdummy td:nth-child(15) {
    min-width: 90px;
    max-width: 90px;
}

.gvSelectItemListdummy td:nth-child(16) {
    min-width: 50px;
    max-width: 50px;
}

.gvSelectItemListdummy td:nth-child(17) {
    min-width: 50px;
    max-width: 50px;
}

.gvSelectItemListdummy td:nth-child(18) {
    min-width: 70px;
    max-width: 70px;
}

.gvSelectItemListdummy td:nth-child(19) {
    min-width: 90px;
    max-width: 90px;
}

.gvSelectItemListdummy td:nth-child(20) {
    min-width: 90px;
    max-width: 90px;
}

.gvSelectItemListdummy td:nth-child(21) {
    min-width: 90px;
    max-width: 90px;
}

.gvSelectItemListdummy td:nth-child(22) {
    min-width: 90px;
    max-width: 90px;
}

.gvSelectItemListdummy td:nth-child(23) {
    min-width: 50px;
    max-width: 50px;
}

.gvSelectItemListdummy td:nth-child(24) {
    min-width: 50px;
    max-width: 50px;
}

.gvSelectItemListdummy td:nth-child(25) {
    min-width: 65px;
    max-width: 65px;
}

.gvSelectItemListdummy td:nth-child(26) {
    min-width: 70px;
    max-width: 70px;
}

.gvSelectItemListdummy td:nth-child(27) {
    display: none;
}

.gvSelectItemListdummy td:nth-child(28) {
    display: none;
}

.POItemwisePending td:nth-child(1), .POItemwisePending th:nth-child(1) {
    min-width: 50px;
    max-width: 50px;
    display: none;
}

.POItemwisePending td:nth-child(2), .POItemwisePending th:nth-child(2) {
    min-width: 110px;
    max-width: 110px;
}

.POItemwisePending td:nth-child(3), .POItemwisePending th:nth-child(3) {
    min-width: 80px;
    max-width: 80px;
}

.POItemwisePending td:nth-child(4), .POItemwisePending th:nth-child(4) {
    min-width: 70px;
    max-width: 70px;
}

.POItemwisePending td:nth-child(5), .POItemwisePending th:nth-child(5) {
    min-width: 50px;
    max-width: 50px;
}

.POItemwisePending td:nth-child(5) {
    text-align: right !important;
}

.POItemwisePending td:nth-child(6), .POItemwisePending th:nth-child(6) {
    min-width: 65px;
    max-width: 65px;
}

.POItemwisePending td:nth-child(6) {
    text-align: right !important;
}

.lastFocDet td:nth-child(1), .lastFocDet th:nth-child(1) {
    min-width: 50px;
    max-width: 50px;
    display: none;
}

.lastFocDet td:nth-child(2), .lastFocDet th:nth-child(2) {
    min-width: 60px;
    max-width: 60px;
}

.lastFocDet td:nth-child(3), .lastFocDet th:nth-child(3) {
    min-width: 50px;
    max-width: 50px;
}

.lastFocDet td:nth-child(4), .lastFocDet th:nth-child(4) {
    min-width: 70px;
    max-width: 70px;
}

.lastFocDet td:nth-child(5), .lastFocDet th:nth-child(5) {
    min-width: 60px;
    max-width: 60px;
}

.lastFocDet td:nth-child(5) {
    text-align: right !important;
}

.lastFocDet td:nth-child(6), .lastFocDet th:nth-child(6) {
    min-width: 100px;
    max-width: 100px;
}

.lastFocDet td:nth-child(7), .lastFocDet th:nth-child(7) {
    min-width: 80px;
    max-width: 80px;
}

.gid_vetDetail td:nth-child(1), .gid_vetDetail th:nth-child(1) {
    min-width: 45px;
    max-width: 45px;
}

.gid_vetDetail td:nth-child(2), .gid_vetDetail th:nth-child(2) {
    min-width: 56px;
    max-width: 56px;
}

.gid_vetDetail td:nth-child(2) {
    text-align: right !important;
}

.gid_vetDetail td:nth-child(3), .gid_vetDetail th:nth-child(3) {
    min-width: 65px;
    max-width: 65px;
}

.gid_vetDetail td:nth-child(3) {
    text-align: right !important;
}

.gid_vetDetail td:nth-child(4), .gid_vetDetail th:nth-child(4) {
    min-width: 85px;
    max-width: 85px;
}

.gid_vetDetail td:nth-child(4) {
    text-align: right !important;
}

.gid_vetDetail td:nth-child(5), .gid_vetDetail th:nth-child(5) {
    min-width: 90px;
    max-width: 90px;
}

.gid_vetDetail td:nth-child(5) {
    text-align: right !important;
}

.gid_vetDetail td:nth-child(6), .gid_vetDetail th:nth-child(6) {
    min-width: 90px;
    max-width: 90px;
}

.gid_vetDetail td:nth-child(6) {
    text-align: right !important;
}

.gid_vetDetail td:nth-child(7), .gid_vetDetail th:nth-child(7) {
    min-width: 90px;
    max-width: 90px;
}

.gid_vetDetail td:nth-child(7) {
    text-align: right !important;
}

.gid_vetDetail td:nth-child(8), .gid_vetDetail th:nth-child(8) {
    min-width: 100px;
    max-width: 100px;
}

.gid_vetDetail td:nth-child(8) {
    text-align: right !important;
}

.ui-accordion .ui-accordion-content {
    padding: 0px 10px !important;
}

.ui-accordion .ui-accordion-header {
    font-weight: bold !important;
}
