﻿
#ContentPlaceHolder1_chkDailyPrice, #ContentPlaceHolder1_chkIsCore, #ContentPlaceHolder1_chkExclude,
#ContentPlaceHolder1_chkActive, #ContentPlaceHolder1_chkPrAttribute {
    width: 20px;
    height: 20px;
    float: right;
}

#ContentPlaceHolder1_chkFreightCharge {
    width: 20px;
    height: 20px;
    float: left;
}

.grdLoad_Details td:nth-child(1), .grdLoad_Details th:nth-child(1) {
    display: none;
}

.grdLoad_Details td:nth-child(2), .grdLoad_Details th:nth-child(2) {
    min-width: 235px;
    max-width: 235px;
}


.grdLoad_Details td:nth-child(3), .grdLoad_Details th:nth-child(3) {
    min-width: 100px;
    max-width: 100px;
    text-align: center !important;
}

.grdLoad_Details td:nth-child(4), .grdLoad_Details th:nth-child(4) {
    min-width: 100px;
    max-width: 100px;
    text-align: center !important;
}

.Cat_Margin {
    margin-top: 5px;
}
.Cat_Margins {
    margin-top: 0px;
}

body {
    font-size: 12px !important;
    font-weight: inherit !important;
}

.button_Add {
    background-color: #008CBA; /* Blue */
    border: none;
    color: white;
    padding: 5px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

.whole-price-header {
    padding: 0 0 0 10px;
    background-color: aliceblue;
    color: black;
    font-weight: bold;
    font-size: 20px;
}

a {
    color: black;
}

    a:focus {
        outline: none;
        text-decoration: none;
    }

.lblBlack {
    font-weight: bold !important;
    color: black;
}

 
.addbtnstyle {
    font-size: 20px;
    border: groove;
    color: white;
    background-color: blue;
}
.addbtnstylered {
    font-size: 20px;
    border: groove;
    color: white;
    background-color: red;
}
    .addbtnstyle:hover, .addbtnstyle:focus {
        color: white;
        background-color: red;
    }
/*.Payment_fixed_headers th, .Payment_fixed_headers td {
    text-align: center;
    padding: 2px 2px;
    word-wrap: break-word;
    top: -31px;*/
    /* left: 228px; */
    /* width: 71px; */
    /* border-color: black; */
    /*font-weight: 700;
}*/

element.style {
}

/*.Payment_fixed_headers th, .Payment_fixed_headers td {
    text-align: center !important ;
    padding: 2px 2px;
    word-wrap: break-word;
    top: -31px;*/
    /* left: 228px; */
    /* width: 71px; */
    /* border-color: black; */
    /*font-weight: 700;
}*/

table th {
    border-color: #ccc;
    padding: 5px 5px;
}

td, th {
    width: 100.4px !important;
    /* border: none !important; */
}

th {
    font-weight: 500;
}

th {
    text-align: Center;
}

td, th {
    padding: 0;
}

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

user agent stylesheet
th {
    display: table-cell;
    vertical-align: inherit;
    font-weight: bold;
    text-align: -internal-center;
}

.Payment_fixed_headers thead {
    /*color: black;*/
    /* background: #0078ae url(../images/ui-bg_glass_45_0078ae_1x400.png) 50% 50% repeat-x; */
     /*background-color: white; */
     background-color: #4163e1; 
}
.border_nonewith_yellow {
    background-color: #ffffff;
    border: none;
    /*color: white; */
}
.form-control-res[disabled], .form-control-res[readonly], .form-control-res-right[disabled], .form-control-res-right[readonly], fieldset[disabled] {
    background-color: #eeeeee;
    opacity: 1;
}
select:invalid {
    color: gray;
}

option {
    color: black;
}