﻿  [type=checkbox]:after {
            content: attr(value);
            margin: -3px 15px;
            vertical-align: top;
            white-space: nowrap;
            display: inline-block;
        }

        .ui-autocomplete {
            position: absolute;
            cursor: default;
            z-index: 110 !important;
        }

        .grn td:nth-child(1), .grn th:nth-child(1) {
            min-width: 50px;
            max-width: 50px;
            text-align: center !important;
        }

        .grn td:nth-child(2), .grn th:nth-child(2) {
            min-width: 50px;
            max-width: 50px;
            text-align: center !important;
            display: none;
        }

        .grn td:nth-child(3), .grn th:nth-child(3) {
            min-width: 100px;
            max-width: 100px;
        }

        .grn td:nth-child(4), .grn th:nth-child(4) {
            min-width: 60px;
            max-width: 60px;
        }


        .grn td:nth-child(5), .grn th:nth-child(5) {
            min-width: 300px;
            max-width: 300px;
        }

        .grn td:nth-child(6), .grn th:nth-child(6) {
            min-width: 100px;
            max-width: 100px;
        }

        .grn td:nth-child(6) {
            text-align: right !important;
        }


        .grn td:nth-child(7), .grn th:nth-child(7) {
            min-width: 100px;
            max-width: 100px;
        }

        .grn td:nth-child(8), .grn th:nth-child(8) {
            min-width: 100px;
            max-width: 100px;
        }

        .grn td:nth-child(9), .grn th:nth-child(9) {
            min-width: 100px;
            max-width: 100px;
        }

        .grn td:nth-child(10), .grn th:nth-child(10) {
            min-width: 100px;
            max-width: 100px;
        }

        .grn td:nth-child(11), .grn th:nth-child(11) {
            min-width: 100px;
            max-width: 100px;
        }

        .grn td:nth-child(12), .grn th:nth-child(12) {
            min-width: 100px;
            max-width: 100px;
        }

        .grn td:nth-child(13), .grn th:nth-child(13) {
            min-width: 100px;
            max-width: 100px;
        }

        .grn td:nth-child(14), .grn th:nth-child(14) {
            min-width: 100px;
            max-width: 100px;
        }

        .grn td:nth-child(15), .grn th:nth-child(15) {
            min-width: 100px;
            max-width: 100px;
        }

        .grn td:nth-child(16), .grn th:nth-child(16) {
            min-width: 111px;
            max-width: 111px;
        }

        .grn td:nth-child(17), .grn th:nth-child(17) {
            min-width: 100px;
            max-width: 100px;
        }

        .grn td:nth-child(18), .grn th:nth-child(18) {
            min-width: 100px;
            max-width: 100px;
        }

        .grn td:nth-child(19), .grn th:nth-child(19) {
            min-width: 104px;
            max-width: 104px;
        }

        .grn td:nth-child(20), .grn th:nth-child(20) {
            min-width: 100px;
            max-width: 100px;
        }

        .grn td:nth-child(21), .grn th:nth-child(21) {
            min-width: 100px;
            max-width: 100px;
        }

        .grn td:nth-child(22), .grn th:nth-child(22) {
            min-width: 120px;
            max-width: 120px;
        }

        .grn td:nth-child(23), .grn th:nth-child(23) {
            min-width: 100px;
            max-width: 100px;
        }

        .grn td:nth-child(24), .grn th:nth-child(24) {
            min-width: 118px;
            max-width: 118px;
        }

        .grn td:nth-child(25), .grn th:nth-child(25) {
            min-width: 100px;
            max-width: 100px;
        }

        .grn td:nth-child(26), .grn th:nth-child(26) {
            min-width: 100px;
            max-width: 100px;
        }

        .grn td:nth-child(27), .grn th:nth-child(27) {
            min-width: 100px;
            max-width: 100px;
        }

        .grn td:nth-child(28), .grn th:nth-child(28) {
            min-width: 100px;
            max-width: 100px;
        }

        .grn td:nth-child(29), .grn th:nth-child(29) {
            min-width: 100px;
            max-width: 100px;
        }

        .grn td:nth-child(30), .grn th:nth-child(30) {
            min-width: 100px;
            max-width: 100px;
        }

        .grn td:nth-child(31), .grn th:nth-child(31) {
            min-width: 100px;
            max-width: 100px;
        }

        .grn td:nth-child(32), .grn th:nth-child(32) {
            min-width: 110px;
            max-width: 110px;
        }

        .grn td:nth-child(33), .grn th:nth-child(33) {
            min-width: 112px;
            max-width: 112px;
        }

        .grn td:nth-child(34), .grn th:nth-child(34) {
            min-width: 112px;
            max-width: 112px;
        }

        .grn td:nth-child(35), .grn th:nth-child(35) {
            min-width: 100px;
            max-width: 100px;
        }

        .grn td:nth-child(36), .grn th:nth-child(36) {
            min-width: 100px;
            max-width: 100px;
        }

        .grn td:nth-child(37), .grn th:nth-child(37) {
            min-width: 100px;
            max-width: 100px;
        }

        .grn td:nth-child(38), .grn th:nth-child(38) {
            min-width: 110px;
            max-width: 110px;
        }

        .grn td:nth-child(39), .grn th:nth-child(39) {
            min-width: 100px;
            max-width: 100px;
        }

        .grn td:nth-child(40), .grn th:nth-child(40) {
            min-width: 100px;
            max-width: 100px;
        }

        .grn td:nth-child(41), .grn th:nth-child(41) {
            min-width: 100px;
            max-width: 100px;
        }

        .grn td:nth-child(42), .grn th:nth-child(42) {
            min-width: 100px;
            max-width: 100px;
        }

        .grn td:nth-child(43), .grn th:nth-child(43) {
            min-width: 100px;
            max-width: 100px;
        }

        .grn td:nth-child(44), .grn th:nth-child(44) {
            min-width: 100px;
            max-width: 100px;
        }

        .grn td:nth-child(45), .grn th:nth-child(45) {
            min-width: 102px;
            max-width: 102px;
        }

        .grn td:nth-child(46), .grn th:nth-child(46) {
            display: none;
        }

        .grn td:nth-child(47), .grn th:nth-child(47) {
            min-width: 100px;
            max-width: 100px;
        }

        .grn td:nth-child(48), .grn th:nth-child(48) {
            min-width: 100px;
            max-width: 100px;
        }

        .grn td:nth-child(49), .grn th:nth-child(49) {
            min-width: 118px;
            max-width: 118px;
        }

        .grn td:nth-child(50), .grn th:nth-child(50) {
            min-width: 103px;
            max-width: 103px;
        }

        .grn td:nth-child(51), .grn th:nth-child(51) {
            min-width: 110px;
            max-width: 110px;
        }

        .grn td:nth-child(52), .grn th:nth-child(52) {
            min-width: 120px;
            max-width: 120px;
        }

        .grn td:nth-child(53), .grn th:nth-child(53) {
            min-width: 100px;
            max-width: 100px;
        }

        .grn td:nth-child(54), .grn th:nth-child(54) {
            min-width: 126px;
            max-width: 126px;
        }

        .grn td:nth-child(55), .grn th:nth-child(55) {
            min-width: 100px;
            max-width: 100px;
        }

        .grn td:nth-child(56), .grn th:nth-child(56) {
            min-width: 100px;
            max-width: 100px;
        }

        .grn td:nth-child(57), .grn th:nth-child(57) {
            display: none;
        }

        .grn td:nth-child(58), .grn th:nth-child(58) {
            display: none;
        }

        .grn td:nth-child(59), .grn th:nth-child(59) {
            display: none;
        }

        .grn td:nth-child(60), .grn th:nth-child(60) {
            display: none;
        }

        .grn td:nth-child(61), .grn th:nth-child(61) {
            display: none;
        }

        .grn td:nth-child(62), .grn th:nth-child(62) {
            display: none;
        }

        .grn td:nth-child(63), .grn th:nth-child(63) {
            display: none;
        }

        .grn td:nth-child(64), .grn th:nth-child(64) {
            display: none;
        }

        .grn td:nth-child(65), .grn th:nth-child(65) {
            display: none;
        }

        .grn td:nth-child(66), .grn th:nth-child(66) {
            display: none;
        }

        .grn td:nth-child(67), .grn th:nth-child(67) {
            display: none;
        }

        .grn td:nth-child(68), .grn th:nth-child(68) {
            display: none;
        }

        .grn td:nth-child(69), .grn th:nth-child(69) {
            display: none;
        }

        .grn td:nth-child(70), .grn th:nth-child(70) {
            display: none;
        }

        .grn td:nth-child(71), .grn th:nth-child(71) {
            display: none;
        }

        .grn td:nth-child(72), .grn th:nth-child(72) {
            display: none;
        }

        .grn td:nth-child(73), .grn th:nth-child(73) {
            display: none;
        }

        .grn td:nth-child(74), .grn th:nth-child(74) {
            display: none;
        }

        .grn td:nth-child(75), .grn th:nth-child(75) {
            display: none;
        }

        .grn td:nth-child(76), .grn th:nth-child(76) {
            display: none;
        }

        .grn td:nth-child(77), .grn th:nth-child(77) {
            display: none;
        }

        .grn td:nth-child(78), .grn th:nth-child(78) {
            display: none;
        }

        .grn td:nth-child(79), .grn th:nth-child(79) {
            display: none;
        }

        .gid_vetDetail td:nth-child(1), .gid_vetDetail th:nth-child(1) {
            min-width: 100px;
            max-width: 100px;
        }

        .gid_vetDetail td:nth-child(2), .gid_vetDetail th:nth-child(2) {
            min-width: 100px;
            max-width: 100px;
        }

        .gid_vetDetail td:nth-child(2) {
            text-align: right !important;
        }

        .gid_vetDetail td:nth-child(3), .gid_vetDetail th:nth-child(3) {
            min-width: 100px;
            max-width: 100px;
        }

        .gid_vetDetail td:nth-child(3) {
            text-align: right !important;
        }

        .gid_vetDetail td:nth-child(4), .gid_vetDetail th:nth-child(4) {
            min-width: 120px;
            max-width: 120px;
        }

        .gid_vetDetail td:nth-child(4) {
            text-align: right !important;
        }

        .gid_vetDetail td:nth-child(5), .gid_vetDetail th:nth-child(5) {
            min-width: 100px;
            max-width: 100px;
        }

        .gid_vetDetail td:nth-child(5) {
            text-align: right !important;
        }

        .gid_vetDetail td:nth-child(6), .gid_vetDetail th:nth-child(6) {
            min-width: 100px;
            max-width: 100px;
        }

        .gid_vetDetail td:nth-child(6) {
            text-align: right !important;
        }

        .gid_vetDetail td:nth-child(7), .gid_vetDetail th:nth-child(7) {
            min-width: 100px;
            max-width: 100px;
        }

        .gid_vetDetail td:nth-child(7) {
            text-align: right !important;
        }

        .gid_vetDetail td:nth-child(8), .gid_vetDetail th:nth-child(8) {
            min-width: 100px;
            max-width: 100px;
        }

        .gid_vetDetail td:nth-child(8) {
            text-align: right !important;
        }


        .gid_Deduction td:nth-child(1), .gid_Deduction th:nth-child(1) {
            min-width: 40px;
            max-width: 40px;
        }

        .gid_Deduction td:nth-child(2), .gid_Deduction th:nth-child(2) {
            min-width: 40px;
            max-width: 40px;
        }

        .gid_Deduction td:nth-child(3), .gid_Deduction th:nth-child(3) {
            min-width: 200px;
            max-width: 200px;
        }

        .gid_Deduction td:nth-child(4), .gid_Deduction th:nth-child(4) {
            min-width: 100px;
            max-width: 100px;
        }

        .gid_Deduction td:nth-child(5), .gid_Deduction th:nth-child(5) {
            min-width: 100px;
            max-width: 100px;
        }

        .gid_Deduction td:nth-child(6), .gid_Deduction th:nth-child(6) {
            display: none;
        }

        .gid_ParentandChild td:nth-child(1), .gid_ParentandChild th:nth-child(1) {
            min-width: 50px;
            max-width: 50px;
        }

        .gid_ParentandChild td:nth-child(2), .gid_ParentandChild th:nth-child(2) {
            min-width: 70px;
            max-width: 70px;
        }

        .gid_ParentandChild td:nth-child(3), .gid_ParentandChild th:nth-child(3) {
            min-width: 250px;
            max-width: 250px;
        }

        .gid_ParentandChild td:nth-child(4), .gid_ParentandChild th:nth-child(4) {
            min-width: 70px;
            max-width: 70px;
        }

        .gid_ParentandChild td:nth-child(5), .gid_ParentandChild th:nth-child(5) {
            min-width: 100px;
            max-width: 100px;
        }

        .gid_ParentandChild td:nth-child(6), .gid_ParentandChild th:nth-child(6) {
            min-width: 100px;
            max-width: 100px;
        }

        .gid_ParentandChild td:nth-child(7), .gid_ParentandChild th:nth-child(7) {
            min-width: 100px;
            max-width: 100px;
        }

        .gid_ParentandChild td:nth-child(8), .gid_ParentandChild th:nth-child(8) {
            min-width: 100px;
            max-width: 100px;
        }

        .gid_ParentandChild td:nth-child(9), .gid_ParentandChild th:nth-child(9) {
            min-width: 100px;
            max-width: 100px;
        }

        .gid_ParentandChild td:nth-child(10), .gid_ParentandChild th:nth-child(10) {
            min-width: 100px;
            max-width: 100px;
        }

        .gid_ParentandChild td:nth-child(11), .gid_ParentandChild th:nth-child(11) {
            min-width: 100px;
            max-width: 100px;
        }

        .gid_ParentandChild td:nth-child(12), .gid_ParentandChild th:nth-child(12) {
            min-width: 100px;
            max-width: 100px;
        }

        .gid_ParentandChild td:nth-child(13), .gid_ParentandChild th:nth-child(13) {
            min-width: 100px;
            max-width: 100px;
        }

        .gid_ParentandChild td:nth-child(14), .gid_ParentandChild th:nth-child(14) {
            min-width: 100px;
            max-width: 100px;
        }

        .gid_LastPurchase td:nth-child(1), .gid_LastPurchase th:nth-child(1) {
            min-width: 50px;
            max-width: 50px;
        }

        .gid_LastPurchase td:nth-child(2), .gid_LastPurchase th:nth-child(2) {
            min-width: 300px;
            max-width: 300px;
        }

        .gid_LastPurchase td:nth-child(3), .gid_LastPurchase th:nth-child(3) {
            min-width: 100px;
            max-width: 100px;
        }

        .gid_LastPurchase td:nth-child(4), .gid_LastPurchase th:nth-child(4) {
            min-width: 100px;
            max-width: 100px;
        }

        .gid_LastPurchase td:nth-child(5), .gid_LastPurchase th:nth-child(5) {
            min-width: 100px;
            max-width: 100px;
        }

        .gid_LastPurchase td:nth-child(6), .gid_LastPurchase th:nth-child(6) {
            min-width: 100px;
            max-width: 100px;
        }

        .gid_LastPurchase td:nth-child(7), .gid_LastPurchase th:nth-child(7) {
            min-width: 100px;
            max-width: 100px;
        }

        .gid_LastPurchase td:nth-child(8), .gid_LastPurchase th:nth-child(8) {
            min-width: 100px;
            max-width: 100px;
        }

        .gid_LastPurchase td:nth-child(9), .gid_LastPurchase th:nth-child(9) {
            min-width: 100px;
            max-width: 100px;
        }

        .gid_LastPurchase td:nth-child(10), .gid_LastPurchase th:nth-child(10) {
            min-width: 100px;
            max-width: 100px;
        }

        .gid_LastPurchase td:nth-child(11), .gid_LastPurchase th:nth-child(11) {
            min-width: 100px;
            max-width: 100px;
        }

        .gid_LastPurchase td:nth-child(12), .gid_LastPurchase th:nth-child(12) {
            min-width: 100px;
            max-width: 100px;
        }

        .gid_LastPurchase td:nth-child(13), .gid_LastPurchase th:nth-child(13) {
            min-width: 100px;
            max-width: 100px;
        }

        .gid_LastPurchase td:nth-child(14), .gid_LastPurchase th:nth-child(14) {
            min-width: 100px;
            max-width: 100px;
        }

        .gid_LastPurchase td:nth-child(15), .gid_LastPurchase th:nth-child(15) {
            min-width: 100px;
            max-width: 100px;
        }

        .gid_Itemsearch td:nth-child(1), .gid_Itemsearch th:nth-child(1) {
            min-width: 50px;
            max-width: 50px;
            text-align: center;
        }

        .gid_Itemsearch td:nth-child(2), .gid_Itemsearch th:nth-child(2) {
            min-width: 100px;
            max-width: 100px;
        }

        .gid_Itemsearch td:nth-child(3), .gid_Itemsearch th:nth-child(3) {
            min-width: 300px;
            max-width: 300px;
        }

        .gid_Itemsearch td:nth-child(4), .gid_Itemsearch th:nth-child(4) {
            min-width: 100px;
            max-width: 100px;
        }

        .gid_Itemsearch td:nth-child(5), .gid_Itemsearch th:nth-child(5) {
            min-width: 100px;
            max-width: 100px;
        }

        .gid_Itemsearch td:nth-child(5) {
            text-align: right !important;
        }

        .gid_Itemsearch td:nth-child(6), .gid_Itemsearch th:nth-child(6) {
            min-width: 100px;
            max-width: 100px;
        }

        .gid_Itemsearch td:nth-child(6) {
            text-align: right !important;
        }

        .gid_Itemsearch td:nth-child(7), .gid_Itemsearch th:nth-child(7) {
            min-width: 100px;
            max-width: 100px;
        }

        .gid_Itemsearch td:nth-child(7) {
            text-align: right !important;
        }

        .gid_Itemsearch td:nth-child(8), .gid_Itemsearch th:nth-child(8) {
            min-width: 100px;
            max-width: 100px;
        }

        .gid_Itemsearch td:nth-child(8) {
            text-align: right !important;
        }

        .gid_Itemsearch td:nth-child(9), .gid_Itemsearch th:nth-child(9) {
            min-width: 100px;
            max-width: 100px;
        }

        .gid_Itemsearch td:nth-child(9) {
            text-align: right !important;
        }

        .gid_Itemsearch td:nth-child(10), .gid_Itemsearch th:nth-child(10) {
            min-width: 100px;
            max-width: 100px;
        }

        .gid_Itemsearch td:nth-child(10) {
            text-align: right !important;
        }

        .gid_Itemsearch td:nth-child(11), .gid_Itemsearch th:nth-child(11) {
            min-width: 100px;
            max-width: 100px;
        }

        .gid_Itemsearch td:nth-child(11) {
            text-align: right !important;
        }

        .gid_Itemsearch td:nth-child(12), .gid_Itemsearch th:nth-child(12) {
            min-width: 100px;
            max-width: 100px;
        }

        .gid_Itemsearch td:nth-child(12) {
            text-align: right !important;
        }

        .gid_Itemsearch td:nth-child(13), .gid_Itemsearch th:nth-child(13) {
            min-width: 100px;
            max-width: 100px;
        }

        .gid_Itemsearch td:nth-child(14), .gid_Itemsearch th:nth-child(14) {
            min-width: 100px;
            max-width: 100px;
        }

        .gid_Itemsearch td:nth-child(14) {
            text-align: right !important;
        }

        .gid_Itemsearch td:nth-child(15), .gid_Itemsearch th:nth-child(15) {
            min-width: 100px;
            max-width: 100px;
        }

        .gid_Itemsearch td:nth-child(15) {
            text-align: right !important;
        }

        .gid_Itemsearch td:nth-child(16), .gid_Itemsearch th:nth-child(16) {
            min-width: 100px;
            max-width: 100px;
        }

        .gid_Itemsearch td:nth-child(16) {
            text-align: right !important;
        }

        .gid_Itemsearch td:nth-child(17), .gid_Itemsearch th:nth-child(17) {
            min-width: 100px;
            max-width: 100px;
        }

        .gid_Itemsearch td:nth-child(18), .gid_Itemsearch th:nth-child(18) {
            min-width: 100px;
            max-width: 100px;
        }

        .gid_Itemsearch td:nth-child(19), .gid_Itemsearch th:nth-child(19) {
            min-width: 100px;
            max-width: 100px;
        }

        .multipleUOM td:nth-child(1), .multipleUOM th:nth-child(1) {
            min-width: 50px;
            max-width: 50px;
        }

        .multipleUOM td:nth-child(2), .multipleUOM th:nth-child(2) {
            min-width: 150px;
            max-width: 150px;
        }

        .multipleUOM td:nth-child(3), .multipleUOM th:nth-child(3) {
            min-width: 100px;
            max-width: 100px;
        }

        .multipleUOM td:nth-child(3) {
            text-align: right !important;
        }

        .multipleUOM td:nth-child(4), .multipleUOM th:nth-child(4) {
            min-width: 100px;
            max-width: 100px;
        }

        .multipleUOM td:nth-child(4) {
            text-align: right !important;
        }

        .multipleUOM td:nth-child(5), .multipleUOM th:nth-child(5) {
            min-width: 100px;
            max-width: 100px;
        }

        .multipleUOM td:nth-child(6), .multipleUOM th:nth-child(6) {
            min-width: 100px;
            max-width: 100px;
        }

        .multipleUOM td:nth-child(6) {
            text-align: right !important;
        }

        .multipleUOM td:nth-child(7), .multipleUOM th:nth-child(7) {
            min-width: 100px;
            max-width: 100px;
        }

        .multipleUOM td:nth-child(8), .multipleUOM th:nth-child(8) {
            min-width: 100px;
            max-width: 100px;
        }

        .multipleUOM td:nth-child(8) {
            text-align: right !important;
        }

        .multipleUOM td:nth-child(9), .multipleUOM th:nth-child(9) {
            min-width: 100px;
            max-width: 100px;
        }

        .multipleUOM td:nth-child(9) {
            text-align: right !important;
        }

        .multipleUOM td:nth-child(10), .multipleUOM th:nth-child(10) {
            min-width: 100px;
            max-width: 100px;
        }

        .multipleUOM td:nth-child(10) {
            text-align: right !important;
        }

        .multipleUOM td:nth-child(11), .multipleUOM th:nth-child(11) {
            min-width: 100px;
            max-width: 100px;
        }

        .multipleUOM td:nth-child(11) {
            text-align: right !important;
        }

        .multipleUOM td:nth-child(12), .multipleUOM th:nth-child(12) {
            min-width: 100px;
            max-width: 100px;
        }

        .multipleUOM td:nth-child(13) {
            text-align: right !important;
        }

        .multipleUOM td:nth-child(13), .multipleUOM th:nth-child(13) {
            min-width: 100px;
            max-width: 100px;
        }

        .multipleUOM td:nth-child(12) {
            text-align: right !important;
        }

        .POPendings td:nth-child(1), .POPendings th:nth-child(1) {
            min-width: 50px;
            max-width: 50px;
        }

        .POPendings td:nth-child(2), .POPendings th:nth-child(2) {
            min-width: 80px;
            max-width: 80px;
        }

        .POPendings td:nth-child(3), .POPendings th:nth-child(3) {
            min-width: 400px;
            max-width: 400px;
        }

        .POPendings td:nth-child(4), .POPendings th:nth-child(4) {
            min-width: 60px;
            max-width: 60px;
        }

        .POPendings td:nth-child(4) {
            text-align: right !important;
        }

        .POPendings td:nth-child(5), .POPendings th:nth-child(5) {
            min-width: 60px;
            max-width: 60px;
        }

        .POPendings td:nth-child(5) {
            text-align: right !important;
        }

        .POPendings td:nth-child(6), .POPendings th:nth-child(6) {
            min-width: 60px;
            max-width: 60px;
        }

        .POPendings td:nth-child(6) {
            text-align: right !important;
        }

        /*Margin table*/
        .gid_MarginItem td:nth-child(1), .gid_MarginItem th:nth-child(1) {
            min-width: 50px;
            max-width: 50px;
            text-align: center;
        }

        .gid_MarginItem td:nth-child(1) {
            text-align: center !important;
        }

        .gid_MarginItem td:nth-child(2), .gid_MarginItem th:nth-child(2) {
            min-width: 50px;
            max-width: 50px;
            text-align: center;
        }

        .gid_MarginItem td:nth-child(2) {
            text-align: center !important;
        }

        .gid_MarginItem td:nth-child(3), .gid_MarginItem th:nth-child(3) {
            min-width: 75px;
            max-width: 75px;
            text-align: center;
        }

        .gid_MarginItem td:nth-child(3) {
            text-align: center !important;
        }

        .gid_MarginItem td:nth-child(4), .gid_MarginItem th:nth-child(4) {
            min-width: 75px;
            max-width: 75px;
            text-align: center;
        }

        .gid_MarginItem td:nth-child(4) {
            text-align: center !important;
        }

        .gid_MarginItem td:nth-child(5), .gid_MarginItem th:nth-child(5) {
            min-width: 75px;
            max-width: 75px;
            text-align: center;
        }

        .gid_MarginItem td:nth-child(6), .gid_MarginItem th:nth-child(6) {
            min-width: 75px;
            max-width: 75px;
            text-align: center;
        }

        .gid_MarginItem td:nth-child(7), .gid_MarginItem th:nth-child(7) {
            min-width: 75px;
            max-width: 75px;
            text-align: center;
        }

        .gid_MarginItem td:nth-child(8), .gid_MarginItem th:nth-child(8) {
            min-width: 75px;
            max-width: 75px;
            text-align: center;
        }

        .gid_MarginItem td:nth-child(9), .gid_MarginItem th:nth-child(9) {
            min-width: 75px;
            max-width: 75px;
            text-align: center;
        }




        /*TextileItemsearch table*/

        .gid_TextileItemsearch td:nth-child(1), .gid_TextileItemsearch th:nth-child(1) {
            min-width: 50px;
            max-width: 50px;
            text-align: center;
        }

        .gid_TextileItemsearch td:nth-child(1) {
            text-align: center !important;
        }

        .gid_TextileItemsearch td:nth-child(2), .gid_TextileItemsearch th:nth-child(2) {
            min-width: 75px;
            max-width: 75px;
            text-align: left;
            padding-left: 10px;
        }

        .gid_TextileItemsearch td:nth-child(2) {
            text-align: center !important;
        }

        .gid_TextileItemsearch td:nth-child(3), .gid_TextileItemsearch th:nth-child(3) {
            min-width: 75px;
            max-width: 75px;
            text-align: center;
        }

        .gid_TextileItemsearch td:nth-child(3) {
            text-align: center !important;
        }

        .gid_TextileItemsearch td:nth-child(4), .gid_TextileItemsearch th:nth-child(4) {
            min-width: 415px;
            max-width: 415px;
            text-align: center;
        }

        .gid_TextileItemsearch td:nth-child(5), .gid_TextileItemsearch th:nth-child(5) {
            min-width: 75px;
            max-width: 75px;
            text-align: center;
        }

        .gid_TextileItemsearch td:nth-child(5) {
            text-align: right !important;
        }

        .gid_TextileItemsearch td:nth-child(6), .gid_TextileItemsearch th:nth-child(6) {
            min-width: 75px;
            max-width: 75px;
            text-align: center;
        }

        .gid_TextileItemsearch td:nth-child(6) {
            text-align: right !important;
        }

        .gid_TextileItemsearch td:nth-child(7), .gid_TextileItemsearch th:nth-child(7) {
            min-width: 75px;
            max-width: 75px;
            text-align: center;
        }

        .gid_TextileItemsearch td:nth-child(7) {
            text-align: right !important;
        }

        .gid_TextileItemsearch td:nth-child(8), .gid_TextileItemsearch th:nth-child(8) {
            min-width: 75px;
            max-width: 75px;
            text-align: center;
        }

        .gid_TextileItemsearch td:nth-child(8) {
            text-align: right !important;
        }

        .gid_TextileItemsearch td:nth-child(9), .gid_TextileItemsearch th:nth-child(9) {
            min-width: 75px;
            max-width: 75px;
            text-align: center;
        }

        .gid_TextileItemsearch td:nth-child(9) {
            text-align: right !important;
        }

        .gid_TextileItemsearch td:nth-child(10), .gid_TextileItemsearch th:nth-child(10) {
            min-width: 75px;
            max-width: 75px;
            text-align: center;
        }

        .gid_TextileItemsearch td:nth-child(10) {
            text-align: right !important;
        }

        .gid_TextileItemsearch td:nth-child(11), .gid_TextileItemsearch th:nth-child(11) {
            min-width: 75px;
            max-width: 75px;
            text-align: center;
        }

        .gid_TextileItemsearch td:nth-child(11) {
            text-align: center !important;
        }

        .gid_TextileItemsearch td:nth-child(12), .gid_TextileItemsearch th:nth-child(12) {
            min-width: 200px;
            max-width: 200px;
            text-align: center;
        }

        .gid_TextileItemsearch td:nth-child(13), .gid_TextileItemsearch th:nth-child(13) {
            min-width: 200px;
            max-width: 200px;
            text-align: center;
        }

        .gid_TextileItemsearch td:nth-child(14), .gid_TextileItemsearch th:nth-child(14) {
            min-width: 200px;
            max-width: 200px;
            text-align: center;
        }

        .gid_TextileItemsearch td:nth-child(15), .gid_TextileItemsearch th:nth-child(15) {
            min-width: 200px;
            max-width: 200px;
            text-align: center;
        }

        .gid_TextileItemsearch td:nth-child(16), .gid_TextileItemsearch th:nth-child(16) {
            min-width: 200px;
            max-width: 200px;
            text-align: center;
        }
