﻿.ui-accordion .ui-accordion-content {
    padding: 0px 10px !important;
} 
.ui-accordion .ui-accordion-header {
    font-weight: bold !important;
} 
.InvChange_InvType_right {
    margin-top: 1%;
    width: 54%;
    margin-left: 2px;
    border: 2px solid #d8d9d8;
    background-color: #2ba6cb;
    float: left;
} 
.InvChange_InvType_left {
    margin-top: 1%;
    width: 45% !important;
    border: 1px solid #d8d9d8;
    background-color: #f3f3f3;
    float: left;
} 
.InvChange_InvType_left_Reorder {
    margin-top: 1%;
    padding: 11px 10px;
    border: 1px solid #d8d9d8;
    background-color: #f3f3f3;
    float: left;
} 
.marginPer3 {
    margin-top: 3%;
} 
.sort_by {
    padding: 3px 10px;
    border: 1px solid #d8d9d8;
    background-color: #f3f3f3;
    float: left;
} 
.highlight {
    background-color: red;
} 
.grdLoad td:nth-child(1), .grdLoad th:nth-child(1) {
    min-width: 20px;
    max-width: 20px;
} 
.grdLoad td:nth-child(2), .grdLoad th:nth-child(2) {
    min-width: 50px;
    max-width: 50px;
    text-align: center;
} 
.grdLoad td:nth-child(3), .grdLoad th:nth-child(3) {
    min-width: 75px;
    max-width: 75px;
    text-align: left;
} 
.grdLoad td:nth-child(4), .grdLoad th:nth-child(4) {
    min-width: 225px;
    max-width: 225px;
    text-align: left;
}


.grdLoad td:nth-child(5), .grdLoad th:nth-child(5) {
    min-width: 160px;
    max-width: 160px;
    text-align: left;
} 
.grdLoad td:nth-child(6), .grdLoad th:nth-child(6) {
    min-width: 90px;
    max-width: 90px;
    text-align: left;
}  
.grdLoad td:nth-child(7), .grdLoad th:nth-child(7) {
    min-width: 90px;
    max-width: 90px;
    text-align: left;
} 
.grdLoad td:nth-child(8), .grdLoad th:nth-child(8) {
    min-width: 80px;
    max-width: 80px;
    text-align: left;
}

.grdLoad td:nth-child(9), .grdLoad th:nth-child(9) {
    min-width: 90px;
    max-width: 90px;
    text-align: left;
} 
.grdLoad td:nth-child(10), .grdLoad th:nth-child(10) {
    min-width: 85px;
    max-width: 85px;
    text-align: left;
} 
.grdLoad td:nth-child(11), .grdLoad th:nth-child(11) {
    min-width: 45px;
    max-width: 45px;
    text-align: left;
} 
.grdLoad td:nth-child(12), .grdLoad th:nth-child(12) {
    min-width: 80px;
    max-width: 80px;
    text-align: right;
} 
.grdLoad td:nth-child(13), .grdLoad th:nth-child(13) {
    min-width: 80px;
    max-width: 80px;
    text-align: right;
} 
.grdLoad td:nth-child(14), .grdLoad th:nth-child(14) {
    min-width: 80px;
    max-width: 80px;
    text-align: right;
}

.grdLoad td:nth-child(15), .grdLoad th:nth-child(15) {
    min-width: 100px;
    max-width: 100px;
    text-align: right;
} 
.grdLoad td:nth-child(16), .grdLoad th:nth-child(16) {
    min-width: 100px;
    max-width: 100px;
    text-align: right;
} 
.grdLoad td:nth-child(17), .grdLoad th:nth-child(17) {
    min-width: 100px;
    max-width: 100px;
    text-align: right;
} 
.grdLoad td:nth-child(18), .grdLoad th:nth-child(18) {
    min-width: 100px;
    max-width: 100px;
    text-align: right;
} 
.grdLoad td:nth-child(19), .grdLoad th:nth-child(19) {
    min-width: 100px;
    max-width: 100px;
    text-align: right;
}
.grdLoad td:nth-child(20), .grdLoad th:nth-child(20) {
    min-width: 100px;
    max-width: 100px;
    text-align: right;
}
.grdLoad td:nth-child(21), .grdLoad th:nth-child(21) {
    min-width: 100px;
    max-width: 100px;
    text-align: right;
} 
.grdLoad td:nth-child(22), .grdLoad th:nth-child(22) {
    min-width: 100px;
    max-width: 100px;
    text-align: right;
}
.grdLoad td:nth-child(23), .grdLoad th:nth-child(23) {
    min-width: 100px;
    max-width: 100px;
    text-align: right;
}
.grdLoad td:nth-child(24), .grdLoad th:nth-child(24) {
    min-width: 100px;
    max-width: 100px;
    text-align: right;
} 
.grdLoad td:nth-child(25), .grdLoad th:nth-child(25) {
    min-width: 100px;
    max-width: 100px;
    text-align: left;
} 
.grdLoad td:nth-child(26), .grdLoad th:nth-child(26) {
    min-width: 100px;
    max-width: 100px;
    text-align: left;
}

.grdLoad td:nth-child(27), .grdLoad th:nth-child(27) {
    min-width: 100px;
    max-width: 100px;
    text-align: left;
} 
.grdLoad td:nth-child(28), .grdLoad th:nth-child(28) {
    min-width: 100px;
    max-width: 100px;
    text-align: left;
} 
.grdLoad td:nth-child(29), .grdLoad th:nth-child(29) {
    min-width: 100px;
    max-width: 100px;
    text-align: left;
} 
.grdLoad td:nth-child(30), .grdLoad th:nth-child(30) {
    min-width: 100px;
    max-width: 100px;
    text-align: left;
} 
.grdLoad td:nth-child(31), .grdLoad th:nth-child(31) {
    min-width: 100px;
    max-width: 100px;
    text-align: left;
} 
.grdLoad td:nth-child(32), .grdLoad th:nth-child(32) {
    min-width: 100px;
    max-width: 100px;
    text-align: left;
} 
.grdLoad td:nth-child(33), .grdLoad th:nth-child(33) {
    min-width: 100px;
    max-width: 100px;
    text-align: left;
}


.grdLoad td {
    padding: 2px !important;
}

.selected {
    background-color: #4F84C4 !important;
    font-weight: bold;
    color: #fff;
}

#tblActivation tr:hover td {
    background-color: #ff4c4c;
    font-weight: bold;
    color: #fff;
}

.Sort_arrow {
    font-size: large;
    cursor: pointer;
}

.Grid {
    width: auto;
    font: 13px Verdana;
    /*margin:5px 0 10px 0;*/
    background-color: #FFF;
    overflow: auto;
}

    .Grid td {
        padding: 2px;
        border: solid 1px #C1C1C1;
        color: #333;
        text-align: left;
    }

    .Grid th {
        padding: 3px;
        color: #FFF;
        background: #3e4095;
        border-left: solid 1px #525252;
        font: inherit;
    }

.Datefilter {
    width: 115% !important;
}
