﻿@keyframes scroll{
0% {left:800px;}
100% {left:-800px;}
}
canvas {
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
    color: #004966;
    font-weight:bold;
}
td {
    background-color:aliceblue;
}
.modal-content {
   box-shadow: 0 5px 20px rgba(0, 0, 0, 0.31);
  border-radius: 3px;
  border: 0;
}
.modal-header {
    background-color: transparent;
    color: inherit;
}


.maincontentP {
    text-align: center;
    font-weight: bold;
    font-size: 18px;
    margin: 0 0 0px;
    color: #004966;
}

.maincontenthr {
    height: 1px;
    margin-bottom: 2px;
    margin-top: 0px;
    border-top: 1px solid;
    color:#004966;
}

.maincontentborder {
    /*border: solid;*/
    margin: 3px;
    border-radius: 2px;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.16), 0 0 0 1px rgba(0,0,0,0.08);
    background-color: aliceblue;
}

 
.text-center {
    padding-top: 4px;
    color: #004966;
}
#backgroundImage:before {
   content: "";
   position: absolute;
   z-index: -1;
   top: 0;
   bottom: 0;
   left: 0;
   right: 0;
   background-image: url("LoginImage.jpg");
    background-repeat: no-repeat;
    background-size: 100%;
    opacity: 0.3;
  
    filter: blur(2px);
    height:auto;
    width:100%;
 }
.custom_body {

    
    float: left;
    width: 100%;
}
.login_box {
    margin:0 auto;
    max-width: 400px;
    min-width: 320px;
    width: 100%;
}
.input-box {
    float: left;
    margin-bottom: 10px;
    text-align: left;
    width: 100%;
}
.i_icon {
    border: medium none;
    border-radius: 0;
    color: #3965a0;
    float: left;
    padding: 12px;
    top: 32px;
    width: 40px;
}
.input_layout {
    border: medium none;
    border-radius: 0;
    float: left;
    height: 40px;
    margin: 0;
    padding: 0 10px;
    width: 89%;
}
.main-box {
    border-radius: 5px;
    background: white none repeat scroll 0 0;
    float: left;
    margin-bottom: 100px;
    margin-top: 100px;
    padding: 50px 15px;
    width: 100%;
    border: 1px solid grey;
}
.btn_style {
    background-color:  rgba(57, 101, 160, 1);
    color: #fff;
    padding: 10px 0;
    width: 100%;
    border: none;
}
.btn_style:hover {
    background-color: rgba(57, 101, 160, 1);
    color: #ffffff;
}
 footer.page-footer
  {
    margin-top:20px;
    font-size:13px;
    color:White;
    background-color:#ee6e73;
    border-radius: 4px;
    }

#legend {
  float: right;
}

[class$="-legend"] {
  list-style: none;
  cursor: pointer;
  padding-left: 0;
}

[class$="-legend"] li {
  display: block;
  padding: 0 5px;
}

[class$="-legend"] li.hidden {
  text-decoration: line-through;
}

[class$="-legend"] li span {
  border-radius: 5px;
  display: inline-block;
  height: 10px;
  margin-right: 10px;
  width: 10px;
}
