﻿
.grdLoad td:nth-child(1), .grdLoad th:nth-child(1) {
    min-width: 75px;
    max-width: 75px;
    text-align: center;
}

.grdLoad td:nth-child(2), .grdLoad th:nth-child(2) {
    min-width: 180px;
    max-width: 180px;
    text-align: left;
}

.grdLoad td:nth-child(3), .grdLoad th:nth-child(3) {
    min-width: 300px;
    max-width: 300px;
    text-align: left;
}

.grdLoad td:nth-child(4), .grdLoad th:nth-child(4) {
    min-width: 140px;
    max-width: 140px;
    text-align: right;
}

.grdLoad td:nth-child(5), .grdLoad th:nth-child(5) {
    min-width: 155px;
    max-width: 155px;
    text-align: right;
}

.grdLoad td:nth-child(6), .grdLoad th:nth-child(6) {
    min-width: 150px;
    max-width: 150px;
    text-align: left;
}

.grdLoad td:nth-child(7), .grdLoad th:nth-child(7) {
    min-width: 150px;
    max-width: 150px;
    text-align: left;
}
.grdLoad td:nth-child(8), .grdLoad th:nth-child(8) {
    min-width: 150px;
    max-width: 150px;
    text-align: left;
}
.grdLoad td:nth-child(9), .grdLoad th:nth-child(9) {
    min-width: 150px;
    max-width: 150px;
    text-align: left;
}

.grdLoad td, th {
    padding: 2px;
}
