﻿.label {
    font-size: 10pt;
    font-weight: bold;
    font-family: Arial;
}

.contents {
    /* border: 1px dotted black; */
    /* padding: 5px; */
    /* width: 300px; */
}

.name {
    color: #18B5F0;
}

.left {
    float: left;
    width: 50px;
    /*height: 50px;*/
}

.right {
    margin-left: 60px;
    line-height: 50px;
}

.clear {
    clear: both;
}

.table th {
    text-align: left !important;
    border-color: #ffffff !important;
    /*padding: 6px 8px !important;*/
}

.td, th {
    padding: 9px !important;
    border-color: #ffffff !important;
    /* margin-left: 10px; */
    /* left: 10px; */
}
