﻿<%@ Page Title="" Language="C#" MasterPageFile="~/MainMaster.master" Async="true" AutoEventWireup="true" CodeBehind="frmEInvoice.aspx.cs" Inherits="EnterpriserWebFinal.Purchase.frmEInvoice" %>
<asp:Content ID="Content1" ContentPlaceHolderID="head" runat="server">
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="ContentPlaceHolder1" runat="server"> 
</asp:Content>
