/*body { padding-top:20px;
 background-color:#556;
  background-image: linear-gradient(30deg, #445 12%, transparent 12.5%, transparent 87%, #445 87.5%, #445),
  linear-gradient(150deg, #445 12%, transparent 12.5%, transparent 87%, #445 87.5%, #445),
  linear-gradient(30deg, #445 12%, transparent 12.5%, transparent 87%, #445 87.5%, #445),
  linear-gradient(150deg, #445 12%, transparent 12.5%, transparent 87%, #445 87.5%, #445),
  linear-gradient(60deg, #99a 25%, transparent 25.5%, transparent 75%, #99a 75%, #99a), 
  linear-gradient(60deg, #99a 25%, transparent 25.5%, transparent 75%, #99a 75%, #99a);
  background-size:80px 140px;
  background-position: 0 0, 0 0, 40px 70px, 40px 70px, 0 0, 40px 70px;
  
  font-family: 'Prompt', sans-serif;
     }*/



/* Make it move */
@keyframes scroll{
0% {left:800px;}
100% {left:-800px;}
}
canvas {
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
    color: #004966;
    font-weight:bold;
}
td {
    background-color:aliceblue;
}
.modal-content {
   box-shadow: 0 5px 20px rgba(0, 0, 0, 0.31);
  border-radius: 3px;
  border: 0;
}
.modal-header {
    background-color: transparent;
    color: inherit;
}


.maincontentP {
    text-align: center;
    font-weight: bold;
    font-size: 18px;
    margin: 0 0 0px;
    color: #004966;
}

.maincontenthr {
    height: 1px;
    margin-bottom: 2px;
    margin-top: 0px;
    border-top: 1px solid;
    color:#004966;
}

.maincontentborder {
    /*border: solid;*/
    margin: 3px;
    border-radius: 2px;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.16), 0 0 0 1px rgba(0,0,0,0.08);
    background-color: aliceblue;
}



/*.animation-element {
      opacity: 0;
      position: relative;
    }*/
/*animation element sliding left*/

/*.animation-element.slide-left {
        opacity: 0;
        -moz-transition: all 900ms linear;
        -webkit-transition: all 900ms linear;
        -o-transition: all 900ms linear;
        transition: all 900ms linear;
        -moz-transform: translate3d(-100px, 0px, 0px);
        -webkit-transform: translate3d(-100px, 0px, 0px);
        -o-transform: translate(-100px, 0px);
        -ms-transform: translate(-100px, 0px);
        transform: translate3d(-100px, 0px, 0px);
    }
    .animation-element.slide-left.in-view {
        opacity: 1;
        -moz-transform: translate3d(0px, 0px, 0px);
        -webkit-transform: translate3d(0px, 0px, 0px);
        -o-transform: translate(0px, 0px);
        -ms-transform: translate(0px, 0px);
        transform: translate3d(0px, 0px, 0px);
    }

    .animation-element.slide-right {
        opacity: 0;
        -moz-transition: all 900ms linear;
        -webkit-transition: all 900ms linear;
        -o-transition: all 900ms linear;
        transition: all 900ms linear;
        -moz-transform: translate3d(100px, 0px, 0px);
        -webkit-transform: translate3d(100px, 0px, 0px);
        -o-transform: translate(100px, 0px);
        -ms-transform: translate(100px, 0px);
        transform: translate3d(100px, 0px, 0px);
    }
    .animation-element.slide-right.in-view {
        opacity: 1;
        -moz-transform: translate3d(0px, 0px, 0px);
        -webkit-transform: translate3d(0px, 0px, 0px);
        -o-transform: translate(0px, 0px);
        -ms-transform: translate(0px, 0px);
        transform: translate3d(0px, 0px, 0px);
    }

    .animation-element.slide-bottom {
        opacity: 0;
        -moz-transition: all 900ms linear;
        -webkit-transition: all 900ms linear;
        -o-transition: all 900ms linear;
        transition: all 900ms linear;
        -moz-transform: translate3d(0, -100px, 0px);
        -webkit-transform: translate3d(0, -100px, 0px);
        -o-transform: translate(0, -100px);
        -ms-transform: translate(0, -100px);
        transform: translate3d(0, -100px, 0px);
    }
    .animation-element.slide-bottom.in-view {
        opacity: 1;
        -moz-transform: translate3d(0px, 0px, 0px);
        -webkit-transform: translate3d(0px, 0px, 0px);
        -o-transform: translate(0px, 0px);
        -ms-transform: translate(0px, 0px);
        transform: translate3d(0px, 0px, 0px);
    }

    .animation-element.slide-top {
        opacity: 0;
        -moz-transition: all 900ms linear;
        -webkit-transition: all 900ms linear;
        -o-transition: all 900ms linear;
        transition: all 900ms linear;
        -moz-transform: translate3d(0, 100px, 0px);
        -webkit-transform: translate3d(0, 100px, 0px);
        -o-transform: translate(0, 100px);
        -ms-transform: translate(0, 100px);
        transform: translate3d(0, 100px, 0px);
    }
    .animation-element.slide-top.in-view {
        opacity: 1;
        -moz-transform: translate3d(0px, 0px, 0px);
        -webkit-transform: translate3d(0px, 0px, 0px);
        -o-transform: translate(0px, 0px);
        -ms-transform: translate(0px, 0px);
        transform: translate3d(0px, 0px, 0px);
    }
    
    
    .block {
    margin:100px 0;
    }
    
    .info-box span {
     display:block;
    }*/
.text-center {
    padding-top: 4px;
    color: #004966;
}
