﻿<%@ Page Title="" Language="C#" MasterPageFile="~/MainMaster.master" AutoEventWireup="true" CodeBehind="frmGSTAnalysisMultiComapny.aspx.cs" Inherits="EnterpriserWebFinal.Managements.frmGSTAnalysisMultiComapny" %>

<%@ Register TagPrefix="ups" TagName="ReportFilterUserControl" Src="~/UserControls/ReportFilterUserControl.ascx" %>

<asp:Content ID="Content1" ContentPlaceHolderID="head" runat="server">

    <link href="../css/ziehharmonika.css" rel="stylesheet" type="text/css" />
    <%--------------------------------- js file  ------------------------------------%>
    <script src="../js/ChosenDropdown/ziehharmonika.js" type="text/javascript"></script>
    <style type="text/css">
        .chzn-drop {
            width: 100% !important;
        }
        .fa-question-circle {
            color: royalblue;
            display: block;
            position: absolute;
            left: 1386px;
            font-size: 15px;
            padding: 0px 80px;
            font-weight: bold
        }


    .no-close .ui-dialog-titlebar-close{
            display:none;
        }
    </style>
     <script type="text/javascript">
         var d1;
         var d2;
         var Opendate;
         var dur;
         function fncGetUrl() {
             fncSaveHelpVideoDetail('', '', 'GSTAnalysisMultiCompany');
         }
         function fncOpenvideo() {

             document.getElementById("ifHelpVideo").src = HelpVideoUrl;

             var Mode = "GSTAnalysisMultiCompany";
             var d = new Date($.now());
             Opendate = d.getDate() + "-" + (d.getMonth() + 1) + "-" + d.getFullYear() + " " + d.getHours() + ":" + d.getMinutes() + ":" + d.getSeconds();
             d1 = new Date($.now()).getTime();



             $("#dialog-Open").dialog({
                 autoOpen: true,
                 resizable: false,
                 height: "auto",
                 width: 1093,
                 modal: true,
                 dialogClass: "no-close",
                 buttons: {
                     Close: function () {
                         $(this).dialog("destroy");
                         var d = new Date($.now());
                         var ClosedDate = d.getDate() + "-" + (d.getMonth() + 1) + "-" + d.getFullYear() + " " + d.getHours() + ":" + d.getMinutes() + ":" + d.getSeconds();
                         d2 = new Date($.now()).getTime();
                         var Diff = Math.floor((d2 - d1) / 1000);
                         //alert(Diff);
                         if (Diff >= 60) {
                             fncSaveHelpVideoDetail(Opendate, ClosedDate, Mode);
                         }

                     }
                 }
             });
         }


     </script>

    <script type="text/javascript">

        function pageLoad() {
            shortcut.add("Ctrl+A", function () {
                $('#breadcrumbs_text').removeClass('lowercase');
                $('#breadcrumbs_text').addClass('uppercase');
                $("#<%=hidValBilltype.ClientID%>").val('A');

             });
        shortcut.add("Ctrl+B", function () {
            $('#breadcrumbs_text').removeClass('uppercase');
            $('#breadcrumbs_text').addClass('lowercase');
            $("#<%=hidValBilltype.ClientID%>").val('B');
        });
        shortcut.add("Ctrl+C", function () {
            $('#breadcrumbs_text').removeClass('uppercase');
            $('#breadcrumbs_text').removeClass('lowercase');
            $('#breadcrumbs_text').text('GST - Analysis Multi Company Reports');
            $("#<%=hidValBilltype.ClientID%>").val('C');
              });
        $("[id*=divLocation]").show();
        $("[id*=divComapnyId]").show();
        $("select").chosen({ width: '100%' });
        var checkedvalue = $("#<%=rdoVatAnalysis.ClientID%>").find(":checked").val();
             if (checkvalue != "") {
                    $('#ContentPlaceHolder1_GSTReportFilterUserControl_txtLocation').val('');
                    $('#ContentPlaceHolder1_CompanyIdFilter_txtCompId').val('');
                }
            if (checkedvalue === 'Pur1' || checkedvalue === 'Sales1' || checkedvalue === 'PurRet1') { // dinesh
                //alert(checkedvalue);
                $("[id*=GroupBy]").show();
            }
            else {
                //alert('sdf');
                $("[id*=GroupBy]").hide();
            }

            if (checkedvalue == 'PurRet1') {
                $("[id*=GroupBy]").show();
                $("[id*=DivBydate]").show();
                $("[id*=divLocation]").show();
            }
            else if (checkedvalue == 'PurRetDet') {
                $("[id*=GroupBy]").hide();
                $("[id*=DivBydate]").show();
                $("[id*=divLocation]").show();
            }
            else if (checkedvalue == 'SalesItem' || checkedvalue == 'SalesRetItem' || checkedvalue == 'PurItem') {
                //alert(checkedvalue);
                $("[id*=DivBydate]").show();
                $("[id*=divLocation]").show();
            }
            else {
                $("[id*=DivBydate]").show();
            }

            if (checkedvalue === 'SalesLoc' || checkedvalue === 'PurInv') {
                $("[id*=divLocation]").show();
            }
            else if (checkedvalue == 'SalesItem' || checkedvalue == 'SalesRetItem' || checkedvalue == 'PurItem') {
                $("[id*=divLocation]").show();
            }
            else {
                $("[id*=divLocation]").show();
            }

            $('#<%=chkBydate.ClientID%>').change(function () {
                if (this.checked) {
                    $("[id*=divfilter]").attr("disabled", "disabled");
                    $("[id*=txtFromDate]").removeAttr("disabled");
                    $("[id*=txtToDate]").removeAttr("disabled");
                }
                else {
                    $("[id*=divfilter]").removeAttr("disabled");
                    $("[id*=txtFromDate]").attr("disabled", "disabled");
                    $("[id*=txtToDate]").attr("disabled", "disabled");
                }
            });

            var Bydatevalue = $("#<%=chkBydate.ClientID%>").is(':checked');
            if (!Bydatevalue) {
                $("[id*=txtFromDate]").attr("disabled", "disabled");
                $("[id*=txtToDate]").attr("disabled", "disabled");
            }

            $('#<%=chkByGstrDate.ClientID%>').change(function () {
                if (this.checked) {
                    $("[id*=txtFromDateGstr]").removeAttr("disabled");
                    $("[id*=txtToDateGstr]").removeAttr("disabled");
                }
                else {
                    $("[id*=txtFromDateGstr]").attr("disabled", "disabled");
                    $("[id*=txtToDateGstr]").attr("disabled", "disabled");
                }
            });

            var ByGstrdatevalue = $("#<%=chkByGstrDate.ClientID%>").is(':checked');
            if (ByGstrdatevalue) {
                $("[id*=txtFromDateGstr]").removeAttr("disabled");
                $("[id*=txtToDateGstr]").removeAttr("disabled");
            }
            else {
                $("[id*=txtFromDateGstr]").attr("disabled", "disabled");
                $("[id*=txtToDateGstr]").attr("disabled", "disabled");
            }
        }

        function clearForm() {

            try {

                //$("select").val(0);
                $("select").trigger("liszt:updated");
            }
            catch (err) {

                alert(err.Message);
                return false;
            }

            return false;
        }
        $(document).ready(function () {

            $('#<%= rdoVatAnalysis.ClientID %> input').click(function () {
                
                //alert('Selected Value: ' + $("#<%= rdoVatAnalysis.ClientID %> input:radio:checked").val());
                var checkvalue = $("#<%= rdoVatAnalysis.ClientID %> input:radio:checked").val();
                if (checkvalue != "") {
                    $('#ContentPlaceHolder1_GSTReportFilterUserControl_txtLocation').val('');
                    $('#ContentPlaceHolder1_CompanyIdFilter_txtCompId').val('');
                }
                if (checkvalue == 'Pur1') {
                    $("[id*=GroupBy]").show();
                    $("[id*=divLocation]").show();
                    $("[id*=DivBydate]").show();
                }
                else if (checkvalue == 'PurInv') {
                    $("[id*=GroupBy]").hide();
                    $("[id*=divLocation]").show();
                    $("[id*=DivBydate]").show();
                }
                else if (checkvalue == 'PurItem') {
                    $("[id*=GroupBy]").hide();
                    $("[id*=divLocation]").show();
                    $("[id*=DivBydate]").show();
                }
                else if (checkvalue == 'Sales1') {
                    $("[id*=GroupBy]").show();
                    $("[id*=divLocation]").show();
                    $("[id*=DivBydate]").show();
                }
                else if (checkvalue == 'SalesInv') {
                    $("[id*=GroupBy]").hide();
                    $("[id*=divLocation]").show();
                    $("[id*=DivBydate]").show();

                }
                else if (checkvalue == 'SalesItem') {
                    $("[id*=GroupBy]").hide();
                    $("[id*=divLocation]").show();
                }
                else if (checkvalue == 'PurRet1') {
                    $("[id*=GroupBy]").show();
                    $("[id*=DivBydate]").show();
                    $("[id*=divLocation]").show();
                }
                else if (checkvalue == 'PurRetDet') {
                    $("[id*=GroupBy]").hide();
                    $("[id*=DivBydate]").show();
                    $("[id*=divLocation]").show();
                }
                else if (checkvalue == 'SalesRet1') {
                    $("[id*=GroupBy]").hide();
                    $("[id*=divLocation]").show();
                }
                else if (checkvalue == 'SalesRetDet') {
                    $("[id*=GroupBy]").hide();
                    $("[id*=divLocation]").show();
                    $("[id*=DivBydate]").show();
                }
                else if (checkvalue == 'SalesRetItem') {
                    $("[id*=GroupBy]").hide();
                    $("[id*=divLocation]").show();
                }
                else if (checkvalue == 'SalesRetInv') {
                    $("[id*=GroupBy]").hide();
                    $("[id*=DivBydate]").show();
                    $("[id*=divLocation]").show();
                }
                else if (checkvalue == 'CrSales') {
                    $("[id*=GroupBy]").hide();
                    $("[id*=DivBydate]").show();
                    $("[id*=divLocation]").show();
                }
                else if (checkvalue == 'SalesLoc') {
                    $("[id*=GroupBy]").hide();
                    $("[id*=DivBydate]").show();
                    $("[id*=divLocation]").show();
                }

                else if (checkvalue == 'SalesHsn') {
                    $("[id*=GroupBy]").hide();
                    $("[id*=divLocation]").show();
                    $("[id*=DivBydate]").show();
                }

                else if (checkvalue == 'PurchaseHsn') {
                    $("[id*=GroupBy]").hide();
                    $("[id*=DivBydate]").show();
                    $("[id*=divLocation]").show();
                }
            });
        });

        $(function () {

            try {

                $("#<%= txtFromDate.ClientID %>").datepicker({ dateFormat: "yy-mm-dd", changeMonth: true, changeYear: true, showButtonPanel: true, maxDate: "0" });
                $("#<%= txtToDate.ClientID %>").datepicker({ dateFormat: "yy-mm-dd", changeMonth: true, changeYear: true, showButtonPanel: true, maxDate: "0" });
                $("#<%= txtFromDateGstr.ClientID %>").datepicker({ dateFormat: "yy-mm-dd", changeMonth: true, changeYear: true, showButtonPanel: true, maxDate: "0" });
                $("#<%= txtToDateGstr.ClientID %>").datepicker({ dateFormat: "yy-mm-dd", changeMonth: true, changeYear: true, showButtonPanel: true, maxDate: "0" });

                if ($("#<%= txtFromDate.ClientID %>").val() === '') {
                    $("#<%= txtFromDate.ClientID %>").datepicker({ dateFormat: "yy-mm-dd", changeMonth: true, changeYear: true, showButtonPanel: true, maxDate: "0" }).datepicker("setDate", "0");
                }

                if ($("#<%= txtToDate.ClientID %>").val() === '') {
                    $("#<%= txtToDate.ClientID %>").datepicker({ dateFormat: "yy-mm-dd", changeMonth: true, changeYear: true, showButtonPanel: true, maxDate: "0" }).datepicker("setDate", "0");
                }

                if ($("#<%= txtFromDateGstr.ClientID %>").val() === '') {
                    $("#<%= txtFromDateGstr.ClientID %>").datepicker({ dateFormat: "yy-mm-dd", changeMonth: true, changeYear: true, showButtonPanel: true, maxDate: "0" }).datepicker("setDate", "0");
                }
                if ($("#<%= txtToDateGstr.ClientID %>").val() === '') {
                    $("#<%= txtToDateGstr.ClientID %>").datepicker({ dateFormat: "yy-mm-dd", changeMonth: true, changeYear: true, showButtonPanel: true, maxDate: "0" }).datepicker("setDate", "0");
                }
            }
            catch (err) {
                alert(err.Message);
            }
        });


        function JSalerts(Show) {
            swal({
                title: "Please fill the details!",
                text: Show,
                type: "warning",
                showCancelButton: false,
                confirmButtonColor: "#DD6B55",
                confirmButtonText: "OK",
                cancelButtonText: "I am not sure!",
                closeOnConfirm: true,
                closeOnCancel: true
            });
        }

        function DateCheck() {
            var StartDate = $("#<%= txtFromDate.ClientID %>").val();
            var EndDate = $("#<%= txtToDate.ClientID %>").val();
            var eDate = new Date(EndDate);
            var sDate = new Date(StartDate);
            if (StartDate != '' && EndDate != '' && sDate > eDate) {
                ShowPopupMessageBox("Please ensure that the End Date is greater than or equal to the Start Date.");
                return false;
            }
        }

        function ValidateForm() {
            try {
                var Show = '';
                if ($("#<%= txtFromDate.ClientID %>").val() == "") {
                    Show = Show + '\n  Choose From date';
                    $("#<%= txtFromDate.ClientID %>").focus();
                }

                if ($("#<%= txtToDate.ClientID %>").val() == "") {
                    Show = Show + '\n  Choose To date';
                    $("#<%= txtToDate.ClientID %>").focus();
                }

                if (Show != '') {
                    ShowPopupMessageBox(Show);
                    return false;
                }

                else {
                    DateCheck();
                    return true;
                }
            }
            catch (err) {
                return false;
                alert(err.Message);
            }
        }

        function ValidateGstrForm() {
            try {
                var Show = '';
                if ($("#<%= txtFromDateGstr.ClientID %>").val() == "") {
                    Show = Show + '\n  Choose From date';
                    $("#<%= txtFromDateGstr.ClientID %>").focus();
                }

                if ($("#<%= txtToDateGstr.ClientID %>").val() == "") {
                    Show = Show + '\n  Choose To date';
                    $("#<%= txtToDateGstr.ClientID %>").focus();
                }

                if (Show != '') {
                    ShowPopupMessageBox(Show);
                    return false;
                }

                else {
                    DateCheck();
                    return true;
                }
            }
            catch (err) {
                return false;
                alert(err.Message);
            }
        }

        //        function ToogleTextBoxes(s, e) {
        //            var ToDate = document.getElementById("<%=txtToDate.ClientID%>");
        //            var FromDate = document.getElementByID("<%=txtFromDate.ClientID%>");
        //            var disabledState = s.GetChecked() ? '' : 'disabled';

        //            ToDate.disabled = disabledState;
        //            FromDate.disabled = disabledState;
        //        }


    </script>

    <style type="text/css">
        body {
            font-family: 'Roboto', 'Verdana';
            background-color: #fafafa;
        }

        .chzn-container .chzn-results {
            max-height: 150px;
        }

        .container {
            width: 100%;
        }

        h3 {
            font-weight: normal;
            font-size: 16px;
            font-family: 'Roboto',Verdana;
            background: url("../images/ui-bg_gloss-wave_55_000000_500x100.png") repeat-x scroll 50% 50%;
        }

        h4 {
            font-weight: normal;
            font-size: 16px;
            font-family: 'Roboto', 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        }

        input:checked + label {
            color: white;
            background: red;
        }
    </style>
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="ContentPlaceHolder1" runat="Server">
    <div class="main-container">
        <div class="breadcrumbs">
            <ul>
                <li><a href="../MISDashboard/frmMisDashBoard.aspx">Home</a> <i class="fa fa-angle-right"></i></li>
                <li><a style="text-decoration: none;">Management</a><i class="fa fa-angle-right"></i></li>
                <li class="active-page" id="breadcrumbs_text">GST - ANALYSIS MULTI COMPANY REPORTS</li><li><i class="fa fa-question-circle" style="cursor:pointer;font-size: 19px;" onclick= "fncGetUrl(); return false;"></i></li>
            </ul>
        </div>


        <div class="ziehharmonika">
            <div style="overflow: visible; display: block;" runat="server" id="DivVoucherSettlement">
                <h3>GST- Analysis Multi Company Reports</h3>
                <div class="row">
                    <div class="col-md-3" style="margin-left: 20px">
                        <div>
                            <asp:RadioButtonList ID="rdoVatAnalysis" runat="server" Class="radioboxlist" AutoPostBack="True" OnSelectedIndexChanged="rdoVatAnalysis_SelectedIndexChanged">
                                <asp:ListItem Value="Pur1" style="display: none;">Purchase GST</asp:ListItem>
                                <asp:ListItem Value="PurInv" style="display: none;">Purchase GST Invoice Wise</asp:ListItem>
                                <asp:ListItem Value="PurItem" style="display: none;">Purchase GST Item Wise</asp:ListItem>
                                <asp:ListItem Value="Sales1" Selected="True"> Sales GST</asp:ListItem>
                                <asp:ListItem Value="SalesInv">Sales GST Invoice Wise</asp:ListItem>
                                <asp:ListItem Value="SalesItem">Sales GST Item Wise</asp:ListItem>
                                <asp:ListItem Value="PaymodeWiseGST" style="display: none;">Paymodewise GST</asp:ListItem>
                                <asp:ListItem Value="PurRet1" style="display: none;">Purchase Return GST</asp:ListItem>
                                <asp:ListItem Value="PurRetDet" style="display: none;">Purchase Return GST Detail</asp:ListItem>
                                <%--<asp:ListItem Value="PurchaseHsnIGST">Purchase GST HSN Wise(IGST)</asp:ListItem>--%>
                                <asp:ListItem Value="SalesRet1">Sales Return GST</asp:ListItem>
                                <%-- <asp:ListItem Value="SalesRetDet">Sales Return GST Detail</asp:ListItem>--%>
                                <asp:ListItem Value="SalesRetItem">Sales Return GST Item Wise</asp:ListItem>
                                <asp:ListItem Value="SalesRetInv">Sales Return GST Invoice Wise</asp:ListItem>
                                <asp:ListItem Value="CrSales" style="display: none;">Credit Sales</asp:ListItem>
                                <asp:ListItem Value="SalesLoc" style="display: none;">Sales GST Location Wise</asp:ListItem>
                                <asp:ListItem Value="SalesHsn">Sales GST HSNCode Wise</asp:ListItem>
                                <asp:ListItem Value="PurchaseHsn" style="display: none;">Purchase GST HSNCode Wise</asp:ListItem>
                                <asp:ListItem Value="LiabilitySummary" style="display: none;">GST Liability Summary Report</asp:ListItem>
                                <asp:ListItem Value="LiabilityDetail" style="display: none;">GST Liability Detail Report</asp:ListItem>
                            </asp:RadioButtonList>
                        </div>
                    </div>



                    <div class="col-md-4 form_bootstyle_border" style="margin-right: 45px">
                        <div class="barcode-header">
                            Date Filter
                        </div>
                        <div class="small-box bg-aqua">
                            <div class="col-md-12">
                                <div class="col-md-12">
                                    <div class="col-md-6 form_bootstyle">
                                        <asp:Label ID="Label4" runat="server" Text="From Date"></asp:Label>
                                        <asp:TextBox ID="txtFromDate" runat="server" CssClass="form_textbox"></asp:TextBox>
                                    </div>
                                    <div class="col-md-6 form_bootstyle">
                                        <asp:Label ID="Label5" runat="server" Text="To Date"></asp:Label>
                                        <asp:TextBox ID="txtToDate" runat="server" CssClass="form_textbox"></asp:TextBox>
                                    </div>
                                </div>

                            </div>
                        </div>
                        <div id="GroupBy" class="col-md-12 form_bootstyle_border" style="margin-top: 15px;">
                            <div class="col-md-4 form_bootstyle">
                                <asp:RadioButton ID="rdoDate" Class="radioboxlist" runat="server" GroupName="RegularMenu" Text="DATE"
                                    Checked="true" />
                            </div>
                            <div class="col-md-4 form_bootstyle">
                                <asp:RadioButton ID="rdoMonth" Class="radioboxlist" runat="server" GroupName="RegularMenu" Text="MONTH" />
                            </div>
                            <div class="col-md-4 form_bootstyle">
                                <asp:RadioButton ID="rdoNoneo" Class="radioboxlist" runat="server" GroupName="RegularMenu" Text="NONE" />
                            </div>
                        </div>

                        <div class="col-md-12" style="margin-top: 15px">
                            <div id="DivBydate" class="col-md-3 form_bootstyle">
                                <asp:CheckBox ID="chkBydate" runat="server" Text="By Date" Class="radioboxlistgreen" Checked="true" Font-Bold="True" />
                            </div>
                            <div class="col-md-4">
                                <%--<asp:LinkButton ID="lnkClearSearch" runat="server" class="btn btn-primary"
                                            Font-Bold="true" OnClientClick="return clearForm()">Clear</asp:LinkButton>--%>
                            </div>
                            <div class="col-md-3">
                                <asp:LinkButton ID="lnkLoadReport" runat="server" class="btn btn-danger" Font-Bold="true" OnClick="lnkLoadReport_Click">Load Report </asp:LinkButton>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-4 form_bootstyle_border" id="divLocation" style="display: none;">
                        <div class="report-header-filter">
                            Filtrations
                        </div>
                        <div class="small-box bg-aqua">
                            <ups:ReportFilterUserControl runat="server" ID="GSTReportFilterUserControl"
                                EnablelocationDropDown="true" />
                        </div>
                        <div class="small-box bg-aqua" id="divComapnyId" style="display: none;">
                            <ups:ReportFilterUserControl runat="server" ID="CompanyIdFilter"
                                EnableCompanyIdTextBox="true" />
                        </div>
                    </div>
                </div>
                <div style="overflow: visible; display: block;" runat="server" id="DivGSTR">
                    <h3>GST- R</h3>
                    <div class="row">
                        <div class="col-md-4" style="margin-left: 20px">
                            <div>
                                <asp:RadioButtonList ID="rdoGstr" runat="server" Class="radioboxlist">
                                    <asp:ListItem Selected="True" Value="B2B"> B2B_Sale</asp:ListItem>
                                    <asp:ListItem Value="B2CSmall"> B2CSmall_Sales</asp:ListItem>
                                    <asp:ListItem Value="B2CLarge"> B2CLarge_Sales</asp:ListItem>
                                    <asp:ListItem Value="SalesReg"> Sales Return (CR Note) to Reg.Customer</asp:ListItem>
                                    <asp:ListItem Value="SalesUnReg"> Sales Return (CR Note) to Un Reg.Customer</asp:ListItem>
                                    <asp:ListItem Value="HsnSummary">HSN_Summary</asp:ListItem>
                                    <asp:ListItem Value="GstExcelExport">ANNUAL RETURN GST EXCEL EXPORT</asp:ListItem>
                                </asp:RadioButtonList>
                            </div>
                        </div>
                        <div class="col-md-4 form_bootstyle_border" style="margin-right: 45px">
                            <div class="barcode-header">
                                Date Filter
                            </div>
                            <div class="small-box bg-aqua">
                                <div class="col-md-12">
                                    <div class="col-md-12">
                                        <div class="col-md-6 form_bootstyle">
                                            <asp:Label ID="lblFromDateGstr" runat="server" Text="From Date"></asp:Label>
                                            <asp:TextBox ID="txtFromDateGstr" runat="server" CssClass="form_textbox"></asp:TextBox>
                                        </div>
                                        <div class="col-md-6 form_bootstyle">
                                            <asp:Label ID="lblToDateGstr" runat="server" Text="To Date"></asp:Label>
                                            <asp:TextBox ID="txtToDateGstr" runat="server" CssClass="form_textbox"></asp:TextBox>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-12" style="margin-top: 15px">
                                <div id="DivByGstrdate" class="col-md-3 form_bootstyle">
                                    <asp:CheckBox ID="chkByGstrDate" runat="server" Text="By Date" Class="radioboxlistgreen" Checked="true" Font-Bold="True" />
                                </div>
                                <div class="col-md-4">
                                </div>
                                <div class="col-md-3">
                                    <asp:LinkButton ID="lnkLoadGstr" runat="server" class="btn btn-danger" Font-Bold="true" OnClick="lnkLoadGstr_Click">Load Report </asp:LinkButton>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3 form_bootstyle_border" id="divGstrLocation" style="display: block;">
                            <div class="report-header-filter">
                                Filtrations
                            </div>
                            <div class="small-box bg-aqua">
                                <ups:ReportFilterUserControl runat="server" ID="ReportFilterUserControl"
                                    EnablelocationDropDown="true" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <asp:HiddenField ID="hidValBilltype" runat="server" Value="A" />
    </div>
</asp:Content>
