
/* --------------------------------------- Newly Added by Sivaraj ---------------------------------------------*/

.ui-widget /*For Overite Font for jquery ui*/
{
	/*font-family: "Roboto" ,sans-serif !important;*/
	font-size: 13px;
}
.control-group
{
	display: table;
	padding: 2px 0px;
	width: 360px;
}
.control-group-full
{
	display: table;
	padding: 2px 0px;
	width: 300%;
}
.nav-label
{
	font-weight: bold;
	font-size: 13px;
}

.container-control
{
	display: table;
	padding: 5px 10px;
	width: 100%;
}

.container-left
{
	width: 49%;
	float: left;
}

.container-right
{
	width: 49%;
	float: left;
	margin-left: 2%;
}

.container-date-report
{
	position: relative;
	display: table;
	margin-left: 10px;
	font-weight: bold;
	width: 400px;
	border: 1px solid #d8d9d8;
	background-color: #f3f3f3;
	color: Black;
	padding: 10px;
	float: left;
}

.container-date-report-left1
{
	position: relative;
	display: table;
	margin-left: 10px;
	font-weight: bold;
	width: 45%;
	border: 1px solid #d8d9d8;
	background-color: #f3f3f3;
	color: Black;
	padding: 10px;
	float: left;
}

.centered
{
	position: fixed;
	top: 40%;
	left: 50%;
	width: 100%;
	transform: translate(-50%, -50%);
	transform: -webkit-translate(-50%, -50%);
	transform: -moz-translate(-50%, -50%);
	transform: -ms-translate(-50%, -50%);
}

.middleDiv
{
	position: absolute;
	width: 200px;
	height: 200px;
	left: 50%;
	top: 50%;
	margin-left: -100px; /* half of the width  */
	margin-top: -100px; /* half of the height */
}

.container-date-report-right1
{
	position: relative;
	display: table;
	margin-left: 10px;
	font-weight: bold;
	width: 20%;
	border: 1px solid #d8d9d8;
	background-color: #f3f3f3;
	color: Black;
	padding: 10px;
	float: right;
}

.container-date-report-centre
{
	position: relative;
	display: table;
	margin-left: 10px;
	font-weight: bold;
	width: 400px;
	border: 1px solid #d8d9d8;
	background-color: #f3f3f3;
	color: Black;
	padding: 10px;
	float: right;
}


.container-date-report-right
{
	position: relative;
	overflow: auto;
	height: 560px;
	font-weight: bold;
	width: 69%;
	border: 1px solid #d8d9d8;
	background-color: White;
	color: Black;
	padding: 10px;
	float: right;
}
.container-date-report-right40
{
	position: relative;
	display: table;
	margin-right: 60px;
	font-weight: bold;
	width: 20%;
	border: 1px solid #d8d9d8;
	background-color: White;
	color: Black;
	padding: 10px;
	float: right;
}
.container-date-report-filter
{
	position: relative;
	margin-right: 40px;
	display: table;
	font-weight: bold;
	width: 30%;
	border: 1px solid #d8d9d8;
	background-color: #f3f3f3;
	color: Black;
	padding: 10px;
	float: right;
}
.container-group
{
	position: relative;
	display: table;
	width: 815px;
	border: 1px solid #d8d9d8;
	background-color: #f3f3f3;
	padding: 0px;
	margin-bottom: 5px;
}

.container-group-report
{
	position: relative;
	display: table;
	font-weight: bold;
	width: 830px;
	border: 1px solid #d8d9d8;
	background-color: White;
	color: Black;
	padding: 5px 10px;
}

.header-name
{
	font-size: 25px;
	font-weight: bold;
	color: #007180;
	margin: -5px 0;
}

.button-contol
{
	clear: both;
	display: table;
	float: right;
	margin-right: 10px;
	padding: 0;
}

.textbox-inv
{
	width: 80px;
	height: 22px;
}

.grid-textbox1
{
	background-color: transparent;
	font-size: 13px;
	width: 100%;
	height: 100%;
	font-weight: bold;
	text-align: center;
}

.label
{
	background-color: transparent;
	font-size: 13px;
	font-weight: bold;
	text-align: center;
}

.label-invoice
{
	background-color: transparent;
	font-family: Candara;
	font-size: 14px;
	font-weight: bold;
	text-align: center;
	color: White;
}
.container-bottom
{
	clear: both;
	width: 765px;
	border: 1px solid Black;
	display: table;
	padding: 15px 5px 15px 5px;
	margin: 20px 0 10px 20px;
}

.container-bottom-invchange
{
	clear: both;
	width: 765px;
	display: table;
	padding: 5px 5px 5px 5px;
	margin: 0 0 0 0;
}

.container-bottom-left
{
	width: 230px;
	float: left;
	margin-right: 20px;
	clear: both;
}

.container-bottom-right
{
	width: 500px;
	float: left;
	clear: both;
}


.container-bottom-left-vendor
{
	width: 515px;
	float: left;
	margin-right: 20px;
}

.container-bottom-right-vendor
{
	width: 100px;
	float: left;
}

.modal-loader
{
	position: fixed;
	z-index: 999;
	height: 100%;
	width: 100%;
	top: 0;
	background-color: Black;
	filter: alpha(opacity=60);
	opacity: 0.6;
	-moz-opacity: 0.8;
}
.container5
{
	width: 1%;
	float: left;
	margin-top: 2%;
	margin-left: 3px;
}
.center-loader
{
	z-index: 1000;
	position: fixed;
	top: 50%;
	left: 50%;
	margin-top: -50px;
	padding: 10px;
	width: 130px;
	background-color: Black;
	border-radius: 10px;
	filter: alpha(opacity=100);
	opacity: 1;
	-moz-opacity: 1;
}
.center-loader img
{
	height: 70px;
	width: 70px;
}
.back
{
	float: right;
}

textarea
{
	resize: none;
}

.multiline
{
	height: 85px;
	margin: 0 0;
}

.grid-overflow
{
	height: 530px;
	width: 100%;
	overflow: auto;
}

.grid-overflow-default
{
	height: 515px;
	width: 100%;
	overflow: auto;
}

.grid-overflow-Invchange
{
	height: 350px;
	width: 100%;
	overflow: auto;
}
.grid-overflow-height
{
	height: 300px;
	width: 100%;
	overflow: auto;
}
.grid-textbox
{
	background-color: Yellow;
	font-size: 14px;
	width: 100%;
	text-align: center;
}
.gridTransfer-textbox
{
	background-color: Green;
	font-size: 14px;
	width: 95%;
	text-align: center;
}
html input[type="button"]:focus, button:active, html input[type="button"]:active, button.active, html input.active[type="button"], r, button:focus, html input[type="button"]:focus, button:active, html input[type="button"]:active, button.active, html input.active[type="button"], html input[type="button"]
{
	background-color: #0090cb;
	border-color: #0090cb;
	color: #fff;
}


/************************ Based on InventoryNew Screen **************************/

.top-container
{
	display: table;
	clear: both;
	width: 100%;
	background-color: #f3f3f3;
}
.top-container-im
{
	display: table;
	clear: both;
	width: 100%;
	background-color: #f3f3f3;
}
.left-container
{
	float: left;
	width: 50%;
	display: table;
	background-color: #f3f3f3;
}
.left-container-pc
{
	background-color: #f3f3f3;
	border: 0.5px solid #d8d9d8;
	display: table;
	float: left;
	width: 34%;
}
.right-container-top-pc
{
	float: right;
	width: 65%;
	display: table;
	margin: 0 0 0 1%;
	background-color: #f3f3f3;
	border: 0.5px solid #d8d9d8;
}

.right-container-top-distribution
{
	float: right;
	width: 100%;
	display: table;
	margin: 0 0 1% 0;
	background-color: #f3f3f3;
	border: 0.5px solid #d8d9d8;
	padding: 10px 20px 10px 20px;
}
.right-container-bottom-pc
{
	float: left;
	width: 65%;
	display: table;
	margin: 1% 0 0 32%;
	background-color: #f3f3f3;
}

.right-container-top
{
	float: left;
	width: 49%;
	display: table;
	margin-left: 1%;
	background-color: #f3f3f3;
	border: 1px solid #d8d9d8;
}

.right-container-bottom
{
	float: left;
	width: 49%;
	display: table;
	margin-left: 1%;
	background-color: #f3f3f3;
	border: 1px solid #d8d9d8;
	margin-top: 4px;
}

.bottom-container
{
	display: table;
	margin: 4px 0 0 0;
	clear: both;
	width: 100%;
	height: 100%;
}

.top-container-header
{
	padding: 0 0 0 10px;
	background-color: #004bc6;
	color: #fff;
	font-weight: bold;
}

.right-container-top-header
{
	padding: 0 0 0 10px;
	background-color: #004bc6;
	color: #fff;
	font-weight: bold;
}

.right-container-bottom-header
{
	padding: 0 0 0 10px;
	background-color: #004bc6;
	color: #fff;
	font-weight: bold;
}

.left-container-header
{
	padding: 0 0 0 10px;
	background-color: #004bc6;
	color: #fff;
	font-weight: bold;
}

.left-container-detail
{
	padding: 5px 10px;
	border: 1px solid #d8d9d8;
}

.right-container-top-detail
{
	padding: 5px 10px;
}

.right-container-bottom-detail
{
	padding: 5px 10px;
	background-color: #f3f3f3;
}

.form-control
{
	display: block;
	width: 230px;
	height: 24px;
	padding: 3px 4px 0px 4px;
	font-size: 14px;
	line-height: 1.42857143;
	color: #000000;
	background-color: #ffffff;
	background-image: none;
	border: 1px solid #d8d9d8;
	border-radius: 5px;
	-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
	-moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
	-webkit-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
	-o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
	transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
	-webkit-transition: all border-color ease-in-out .15s, box-shadow ease-in-out .15s ease-out;
	-moz-transition: all border-color ease-in-out .15s, box-shadow ease-in-out .15s ease-out;
	-o-transition: all border-color ease-in-out .15s, box-shadow ease-in-out .15s ease-out;
	transition: all border-color ease-in-out .15s, box-shadow ease-in-out .15s ease-out;
}

.form-control:focus
{
	border-color: #80deea;
	outline: 0;
	-webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(128, 222, 234, 0.6);
	-moz-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(128, 222, 234, 0.6);
	box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(128, 222, 234, 0.6);
}
.form-control::-moz-placeholder
{
	color: #999999;
	opacity: 1;
}
.form-control:-ms-input-placeholder
{
	color: #999999;
}
.form-control::-webkit-input-placeholder
{
	color: #999999;
}
.form-control[disabled], .form-control[readonly], fieldset[disabled]
{
	background-color: lightyellow;
	opacity: 1;
}
.form-control[disabled], fieldset[disabled]
{
	cursor: not-allowed;
}
textarea .form-control
{
	height: auto;
}

.form-control-res
{
	font-size: 14px;
	display: block;
	width: 100%;
	height: 24px;
	font-family: caption;
	padding: 0 2px 0px 2px;
	line-height: 1.42857143;
	color: #000000;
	background-color: #ffffff;
	background-image: none;
	border: 1px solid #d8d9d8;
	border-radius: 5px;
	-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
	-moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
	-webkit-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
	-o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
	transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
	-webkit-transition: all border-color ease-in-out .15s, box-shadow ease-in-out .15s ease-out;
	-moz-transition: all border-color ease-in-out .15s, box-shadow ease-in-out .15s ease-out;
	-o-transition: all border-color ease-in-out .15s, box-shadow ease-in-out .15s ease-out;
	transition: all border-color ease-in-out .15s, box-shadow ease-in-out .15s ease-out;
}

.form-control-res:focus
{
	border-color: #80deea;
	outline: 0;
	-webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(128, 222, 234, 0.6);
	-moz-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(128, 222, 234, 0.6);
	box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(128, 222, 234, 0.6);
}
.form-control-res::-moz-placeholder
{
	color: #999999;
	opacity: 1;
}
.form-control-res:-ms-input-placeholder
{
	color: #999999;
}
.form-control-res::-webkit-input-placeholder
{
	color: #999999;
}
.form-control-res[disabled], .form-control-res[readonly], fieldset[disabled]
{
	background-color: lightyellow;
	opacity: 1;
}
.form-control-res[disabled], fieldset[disabled]
{
	cursor: not-allowed;
}

.control-group-split .control-group-left .label-left
{
	float: left;
	width: 41%;
}

.control-group-split .control-group-left .label-left-design
{
	float: left;	 
}

.control-group-split .control-group-left-pc .label-left-pc
{
	float: left;
	width: 100%;
	margin-left: 1%;
}

.control-group-split .control-group-left .label-right
{
	float: left;
	width: 59%;
}

.control-group-split .control-group-left .label-right-design
{
	float: right;
	width: 50%;
}

.control-group-split .control-group-right .label-left
{
	float: left;
	width: 41%;
}

.control-group-split .control-group-right .label-right
{
	float: left;
	width: 59%;
}

.control-group-split
{
	width: 100%;
	display: table;
	padding-bottom: 2px;
	padding-left: 0;
	padding-right: 0;
	padding-top: 2px;
}

.control-group-split .control-group-left
{
	width: 49%;
	float: left;
}

.control-group-split .control-group-left-vat
{
	width: 49%;
	float: left;
	border: 1px solid #d8d9d8;
	padding: 10px 30px 10px 30px;
	background-color: #f3f3f3;
}
.control-group-split .control-group-right-vat
{
	width: 49%;
	float: right;
	border: 1px solid #d8d9d8;
	background-color: #f3f3f3;
	padding: 10px 30px 10px 30px;
}

.control-group-split .control-group-left-aa
{
	width: 40%;
	float: left;
}

.control-group-split .control-group-right
{
	width: 49%;
	float: right;
}

.control-group-split .control-group-left-pc
{
	width: 13%;
	float: left;
}
.control-group-split .control-group-left-Distb
{
	width: 9%;
	float: left;
}
.control-group-split .control-group-right-Distb
{
	width: 9%;
	float: right;
}
.control-group-split .control-group-left-Description
{
	width: 38%;
	float: left;
}
.control-group-split .control-group-left-Distribut-txt
{
	width: 25%;
	float: left;
}
.control-group-split .control-group-left-Description-sm
{
	width: 32%;
	float: left;
}

.control-group-split .control-group-left-Description-vendor
{
	width: 18%;
	float: left;
}
.control-group-single
{
	width: 100%;
	display: table;
	padding: 2px 0;
}

.control-group-single .label-left
{
	float: left;
	width: 20%;
}

.control-group-single .label-right
{
	float: left;
	width: 80%;
}

.control-group-split .control-group-left1
{
	width: 32%;
	float: left;
}

.control-group-split .control-group-middle
{
	width: 32%;
	float: left;
	margin-left: 2%;
}

.control-group-split .control-group-right1
{
	width: 32%;
	float: left;
	margin-left: 2%;
}
.control-group-split .control-group-left1 .label-left
{
	float: left;
	width: 41%;
}

.control-group-split .control-group-left1 .label-right
{
	float: left;
	width: 59%;
}

.control-group-split .control-group-middle .label-left
{
	float: left;
	width: 41%;
}

.control-group-split .control-group-middle .label-right
{
	float: left;
	width: 59%;
}

.control-group-split .control-group-right1 .label-left
{
	float: left;
	width: 41%;
}

.control-group-split .control-group-right1 .label-right
{
	float: left;
	width: 59%;
}

.inv-price
{
	width: 100%;
	display: table;
}
.selling
{
	width: 100%;
	display: table;
	margin-top:60px;
}
.selling-left
{
	float: left;
	width: 48%;
	display: table;
	background-color: #f3f3f3;
}

.selling-middle
{
	float: left;
	margin-left: 1%;
	width: 25%;
	display: table;
}

.report-right
{
	float: left;
	width: 48%;
	margin-left: 0.5%;
	display: table;
	background-color: #f3f3f3;
}

.report-right-full
{
	float: left;
	width: 68%;
	height:500px;
	margin-left: 0.5%;
	display: table;
	background-color: #f3f3f3;
}
.report-middle
{
	float: left;
	margin-left: 0.5%;
	width: 30%;
	display: table;
}

.report-left
{
	float: left;
	margin-left: 0.5%;
	width: 20%;
	display: table;
}

.selling-right
{
	float: left;
	margin-left: 1%;
	width: 25%;
	display: table;
}

.selling-header
{
	padding: 0 0 0 10px;
	background-color: #004bc6;
	color: #fff;
	font-weight: bold;
}

.selling-detail
{
	padding: 5px;
	border: 1px solid #d8d9d8;
	display: table;
	width: 100%;
}

.purchased
{
	float: left;
	width: 21%;
	font-size: 11px;
}
.radio-price
{
	float: left;
	width: 18%;
}

.avg-price
{
	float: left;
	width: 35%;
}

.mark
{
	color: Blue;
	margin-left: 1%;
	font-size: 10px;
	font-family: Tahoma;
	background-color: transparent;
}

.radio-top
{
	clear: both;
	display: table;
	width: 100%;
	float: left;
	background: #6eac2c url("../images/ui-bg_gloss-wave_50_6eac2c_500x100.png") repeat-x scroll 50% 50%;
	margin-bottom: 10px;
	padding: 5px;
	height: 45px;
}

.radio-right
{
	display: table;
	width: 59%;
	float: left;
	margin-left: 1%;
	background-color: #009fb3;
	margin-bottom: 10px;
	padding: 5px;
	height: 45px;
}

.radio-middle
{
	margin-top: 10px;
	display: table;
	width: 100%;
}

.radio-bottom
{
	margin-top: 5px;
}

.whole-price
{
	width: 100%;
	display: table;
	background-color: #f3f3f3;
}

.whole-price-header
{
	padding: 0 0 0 10px;
	background-color: #004bc6;
	color: #fff;
	font-weight: bold;
}

.whole-price-detail
{
	padding: 5px 10px;
	border: 1px solid #d8d9d8;
}

.barcode
{
	width: 100%;
	display: table;
	background-color: #f3f3f3;
	height: 100%;
}

.barcode-header
{
	padding: 0 0 0 10px;
	background-color: #004bc6;
	color: #fff;
	font-weight: bold;
}
.barcode-header-filter
{
	padding: 0 0 0 10px;
	background-color: #004bc6;
	color: #fff;
	font-weight: bold;
	width:25%;
}

.barcode-detail
{
	padding: 0px;
	height: 100%; 
}

.barcode-grid
{
	width: 100%;
	height: 120px;
	overflow: auto;
}

.barcode-grid tr > th
{
}

.barcode-grid tr > td
{
}

.control-container
{
	float: right;
}

.control-container-purch
{
	float: right;
	width: 100%;
}
.control-button
{
	float: left;
	margin: 5px 2px;
}
.button
{
	width: 100px;
}

.breakprice
{
	display: table;
	width: 100%;
}

.order-process
{
	width: 50%;
	padding: 0px 100px 10px 10px;
	float: left;
	background-color: #f3f3f3;
}

.break-price
{
	margin-left: 2%;
	width: 35%;
	padding: 5px 10px;
	float: left;
	background-color: #f3f3f3;
}

.break-grid
{
	height: 81px;
	overflow: auto;
	width: 93%;
}

.container-group-price
{
	width: 100%;
	padding:5px;
}

.container-group-pc
{
	width: 100%;
	display: table;
	margin: 10px 0 0 0;
}

.container-group-price-pc
{
	width: 100%;
	height: 500px;
	overflow: auto;
}
.container-left-price
{	
	width: 25%;
	margin-top:50px;
	padding: 5px 10px;
	border: 1px solid #d8d9d8;
	background-color: #f3f3f3;
	float: left;
}

.container-right-price
{
	margin-left:3px;
	/*margin-top:50px;*/
	width: 74%;
	float: left;
}

.container-left-change
{
	margin-left: 1%;
	margin-top: 1%;
	width: 40%;
	padding: 5px 10px;
	border: 1px solid #d8d9d8;
	background-color: #f3f3f3;
	float: left;
}

.container-right-change
{
	margin-right: 5%;
	margin-top: 1%;
	width: 40%;
	padding: 5px 10px;
	border: 2px solid #d8d9d8;
	background-color: #2ba6cb;
	float: right;
}

.container-group-full
{
	width: 100%;
	top: 0px;
	left: 0px;
	display: block;
}

.activation
{
	display: table;
	width: 100%;
}

.activation-left
{
	width: 42%;
	float: left;
	border: 1px solid #d8d9d8;
	background-color: #f3f3f3;
	padding: 5px 10px;
}

.activation-right
{
	width: 45%;
	float: left;
	border: 1px solid #d8d9d8;
	background-color: #f3f3f3;
	padding: 5px 10px;
	margin-left: 10px;
}

.activation-check-left
{
	width: 48%;
	float: left;
}

.activation-check-right
{
	width: 48%;
	float: left;
}

.checkbox-left
{
	width: 10%;
	float: left;
}

.checkbox-right
{
	width: 90%;
	float: left;
}

.set-price
{
	width: 100%;
	display: table;
}

.set-price-left
{
	width: 32%;
	float: left;
}

.set-price-middle
{
	float: left;
	margin-left: 2%;
	width: 38%;
	padding: 5px;
}

.set-price-right
{
	float: left;
	margin-left: 2%;
	width: 26%;
}

.TextboxSize
{
	margin-right: 15px;
	float: left;
	width: 220px;
	height: 27px;
	padding: 3px 4px 0px 4px;
	font-size: 14px;
	line-height: 1.42857143;
	color: #555555;
	background-color: #ffffff;
	background-image: none;
	border: 1px solid #d8d9d8;
	border-radius: 3px;
	-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
	-moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
	-webkit-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
	-o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
	transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
	-webkit-transition: all border-color ease-in-out .15s, box-shadow ease-in-out .15s ease-out;
	-moz-transition: all border-color ease-in-out .15s, box-shadow ease-in-out .15s ease-out;
	-o-transition: all border-color ease-in-out .15s, box-shadow ease-in-out .15s ease-out;
	transition: all border-color ease-in-out .15s, box-shadow ease-in-out .15s ease-out;
}

.TextboxSize:focus
{
	border-color: #80deea;
	outline: 0;
	-webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(128, 222, 234, 0.6);
	-moz-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(128, 222, 234, 0.6);
	box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(128, 222, 234, 0.6);
}

.TextboxSize-Report
{
	width: 190px;
	height: 27px;
	padding: 3px 4px 0px 4px;
	font-size: 14px;
	line-height: 1.42857143;
	color: #555555;
	background-color: #ffffff;
	background-image: none;
	border: 1px solid #d8d9d8;
	border-radius: 3px;
	-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
	-moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
	-webkit-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
	-o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
	transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
	-webkit-transition: all border-color ease-in-out .15s, box-shadow ease-in-out .15s ease-out;
	-moz-transition: all border-color ease-in-out .15s, box-shadow ease-in-out .15s ease-out;
	-o-transition: all border-color ease-in-out .15s, box-shadow ease-in-out .15s ease-out;
	transition: all border-color ease-in-out .15s, box-shadow ease-in-out .15s ease-out;
}

.TextboxSize-Reports:focus
{
	border-color: #80deea;
	outline: 0;
	-webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(128, 222, 234, 0.6);
	-moz-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(128, 222, 234, 0.6);
	box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(128, 222, 234, 0.6);
}

.mandatory
{
	color: #FF3300;
}

.terminal-left
{
	width: 65%;
	/*display: table;*/
	float: left;
}

.terminal-right
{
	width: 34%;
	/*display: table;*/
	float: right;
	margin-left: 1%;
}

.terminal-detail
{
	display: table;
	background-color: #f3f3f3;
	width: 100%;
}

.terminal-detail-header
{
	padding: 0 0 0 10px;
	background-color: #004bc6;
	color: #fff;
	font-weight: bold;
}

.terminal-detail-detail
{
	padding: 5px 10px;
	border: 1px solid #d8d9d8;
}

.control-group-split-terminal
{
	display: table;
	padding: 2px 0;
	width: 100%;
}

.control-group-split-terminal .control-group-left1
{
	float: left;
	width: 32%;
}

.control-group-split-terminal .control-group-middle
{
	float: left;
	width: 32%;
	margin-left: 2%;
}


.control-group-split-terminal .control-group-right1
{
	float: left;
	width: 32%;
	margin-left: 2%;
}

.control-group-split-terminal .control-group-left1 .label-left
{
	float: left;
	width: 50%;
}

.control-group-split-terminal .control-group-left1 .label-right
{
	float: left;
	width: 50%;
}

.control-group-split-terminal .control-group-middle .label-left
{
	float: left;
	width: 50%;
}

.control-group-split-terminal .control-group-middle .label-right
{
	float: left;
	width: 50%;
}

.control-group-split-terminal .control-group-right1 .label-left
{
	float: left;
	width: 65%;
}

.control-group-split-terminal .control-group-right1 .label-right
{
	float: left;
	width: 35%;
}

.tender-mapping-header
{
	padding: 0 0 0 10px;
	background-color: #004bc6;
	color: #fff;
	font-weight: bold;
}

.tender-mapping-detail
{
	padding: 0;
	border-bottom: 1px solid #000;
}

.tender-mapping
{
	background-color: #f3f3f3;
	display: table;
	width: 100%;
	margin-top: 5px;
}

.tran-setting-header
{
	padding: 0 0 0 10px;
	background-color: #004bc6;
	color: #fff;
	font-weight: bold;
}

.tran-setting-detail
{
	padding: 0;
	border-bottom: 1px solid #000;
}

.tran-setting
{
	background-color: #f3f3f3;
	display: table;
	width: 100%;
	margin-top: 5px;
}

.department
{
	background-color: #f3f3f3;
	display: table;
	width: 100%;
	margin-top: 5px;
}

.department-header
{
	padding: 0 0 0 10px;
	background-color: #004bc6;
	color: #fff;
	font-weight: bold;
}

.department-detail
{
	padding: 0;
	border-bottom: 1px solid #000;
}

.printer
{
	display: table;
	font-size: 12px;
	padding: 5px;
	width: 100%;
}

.printer-port
{
	display: table;
	width: 100%;
	padding-top: 5px;
}

.cash
{
	display: table;
	font-size: 12px;
	padding: 5px;
	width: 100%;
}

.cash-line
{
	padding: 2px 0;
}

.weighing-tab
{
	display: table;
	font-size: 12px;
	padding: 5px;
	width: 100%;
}

.serial-header
{
	width: 100%;
	padding: 2px 0;
}

.weighing-detail
{
	padding: 5px;
	background-color: #c7c7c7;
	margin-top: 5px;
}

.grid-form-control
{
	background-color: #ffffff;
	background-image: none;
	border: 1px solid #d8d9d8;
	border-radius: 3px;
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
	color: #000000;
	display: block;
	font-family: caption;
	font-size: 14px;
	height: 24px;
	line-height: 1.42857;
	padding: 0 2px;
	transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
	width: 100%;
	text-align: right;
}

.grid-form-control:focus
{
	border-color: #80deea;
	outline: 0;
	-webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(128, 222, 234, 0.6);
	-moz-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(128, 222, 234, 0.6);
	box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(128, 222, 234, 0.6);
}

.radio-text
{
	margin: 0 3px;
}

.logout-btn
{
	margin: 15px 0 0 3px;
}


/************************ Based on Company Master Screen **************************/

.top-container-detail
{
	display: table;
	clear: both;
	width: 100%;
}

.left-top-container
{
	float: left;
	width: 50%;
	display: table;
	padding: 5px 10px;
}

.right-top-container
{
	float: left;
	width: 49%;
	display: table;
	margin-left: 1%;
	padding: 5px 10px;
}

.right-container-detail
{
	padding: 5px 10px;
}

.bottom-company-container
{
	display: table;
	margin: 0 0 0 0;
	clear: both;
	width: 100%;
	height: 100%;
}


.right-bottom-container
{
	float: left;
	width: 49%;
	display: table;
	margin-left: 1%;
	background-color: #f3f3f3;
}

.bottom-left-container-header
{
	padding: 0 0 0 10px;
	background-color: #004bc6;
	color: #fff;
	font-weight: bold;
}

.bottom-left-container-detail
{
	float: left;
	display: table;
	background-color: #f3f3f3;
	padding: 5px 10px;
	width: 100%;
}

.bottom-right-container-header
{
	padding: 0 0 0 10px;
	background-color: #004bc6;
	color: #fff;
	font-weight: bold;
}

.bottom-right-container-detail
{
	display: table;
	background-color: #f3f3f3;
	padding: 5px 10px;
	width: 100%;
}

.bottom-left-container
{
	float: left;
	display: table;
	clear: both;
	width: 50%;
	border: 1px solid #d8d9d8;
}

.bottom-right-container
{
	display: table;
	float: left;
	width: 49%;
	margin-left: 1%;
	border: 1px solid #d8d9d8;
}

.bottom-right-container-left
{
	float: left;
	display: table;
	clear: both;
	width: 50%;
}

.bottom-right-container-right
{
	display: table;
	float: left;
	width: 49%;
	margin-left: 1%;
}
.button-blue
{
	position: relative;
	height: 30px;
	line-height: 26px;
	padding: 0 20px;
	text-align: center;
	float: left;
	border-radius: 10px;
	font-family: "Roboto" ,sans-serif;
	font-weight: 500;
	font-size: 14px;
	color: #FFF;
	text-decoration: none;
	background-color: #1e82c5;
	border-bottom: 5px solid #146ba4;
	text-shadow: 0px -2px #2980B9; /* Animation */
	transition: all 0.1s;
	-webkit-transition: all 0.1s;
	top: 0px;
	left: 0px;
}

.button-export
{
	position: relative; 
	line-height: 26px;
	padding: 0 20px;
	text-align: center;
	float: left;
	border-radius: 10px;
	font-family: "Roboto" ,sans-serif;
	font-weight: 500;
	font-size: 14px; 
	text-decoration: none; 
	transition: all 0.1s;
	-webkit-transition: all 0.1s;
	top: 0px;
	left: 0px;
}

.button-blue:hover, .button-blue:focus
{
	text-decoration: none;
	color: #fff;
	background-color: #0e72b5;
	border-bottom: 5px solid #035a93;
}

.button-blue:active
{
	transform: translate(0px,5px);
	-webkit-transform: translate(0px,5px);
	border-bottom: 1px solid;
}

.button-red
{
	position: relative;
	height: 30px;
	line-height: 26px;
	padding: 0 20px;
	text-align: center;
	float: left;
	border-radius: 10px;
	font-family: "Roboto" ,sans-serif;
	font-weight: 500;
	font-size: 14px;
	color: #FFF;
	text-decoration: none;
	background-color: #d64937;
	border-bottom: 5px solid #b42715;
	text-shadow: 0px -2px #b42715; /* Animation */
	transition: all 0.1s;
	-webkit-transition: all 0.1s;
	top: 0px;
	left: 0px;
}
.button-green
{
	position: relative;
	height: 30px;
	line-height: 26px;
	padding: 0 20px;
	text-align: center;
	float: left;
	border-radius: 10px;
	font-family: "Roboto" ,sans-serif;
	font-weight: 500;
	font-size: 14px;
	color: #FFF;
	text-decoration: none;
	background-color: #37d699;
	border-bottom: 5px solid #156748;
	text-shadow: 0px -2px #156748; /* Animation */
	transition: all 0.1s;
	-webkit-transition: all 0.1s;
	top: 0px;
	left: 0px;
}

.button-green:hover, .button-green:focus
{
	text-decoration: none;
	color: #fff;
	background-color: #26c538;
	border-bottom: 5px solid #06a518;
}

.button-green:active
{
	transform: translate(0px,5px);
	-webkit-transform: translate(0px,5px);
	border-bottom: 1px solid;
}

.button-red:hover, .button-red:focus
{
	text-decoration: none;
	color: #fff;
	background-color: #c53826;
	border-bottom: 5px solid #a51806;
}

.button-red:active
{
	transform: translate(0px,5px);
	-webkit-transform: translate(0px,5px);
	border-bottom: 1px solid;
}

/******************************* Customer Bootstarp Tabs Like jquery ui *******************************/

.custnav
{
	width: 100%;
	background: #2191c0 url("../images/ui-bg_gloss-wave_50_6eac2c_500x100.png") repeat-x scroll 50% 50%;
}
.custnav-invoice
{
	width: 100%;
	background: #2191c0 url("../images/ui-bg_diagonals-small_50_262626_40x40.png") repeat-x scroll 50% 50%;
}
.panel-default
{
	border-color: #72B9D7;
} 
.container-righttab
{
	float: left;
	width: 45%;
}

.grid-search
{
	display: table;
	height: 30px;
	width: 100%;
}

.grid-search-left
{
	width: 50%;
	float: left;
}

.grid-search-right
{
	float: right;
}


.search_textbox
{
	font-size: 14px;
	display: block;
	width: 100%;
	height: 30px;
	font-family: caption;
	padding: 6px 12px;
	line-height: 1.42857143;
	color: #000000;
	background-color: #ffffff;
	background-image: none;
	border: 1px solid #d8d9d8;
	border-radius: 4px;
	-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
	-moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
	-webkit-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
	-o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
	transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
	-webkit-transition: all border-color ease-in-out .15s, box-shadow ease-in-out .15s ease-out;
	-moz-transition: all border-color ease-in-out .15s, box-shadow ease-in-out .15s ease-out;
	-o-transition: all border-color ease-in-out .15s, box-shadow ease-in-out .15s ease-out;
	transition: all border-color ease-in-out .15s, box-shadow ease-in-out .15s ease-out;
}

.search_textbox:focus
{
	border-color: #80deea;
	outline: 0;
	-webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(128, 222, 234, 0.6);
	-moz-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(128, 222, 234, 0.6);
	box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(128, 222, 234, 0.6);
}

table th
{
	border-color: #ccc;
	padding: 5px 5px;
}

.top-purchase-container
{
	display: table;
	clear: both;
	width: 100%;
	background-color: #f3f3f3;
	border: 1px solid #d8d9d8;
	margin-bottom: 5px;
}

.top-purchase-left-container-po
{
	float: left;
	width: 40%;
	display: table;
	background-color: #f3f3f3;
	padding: 5px;
}

.top-purchase-middle-container-po
{
	float: left;
	width: 15%;
	margin-left: 0%;
	display: table;
	background-color: #f3f3f3;
	padding: 5px 0;
}

.top-purchase-right-container-po
{
	float: right;
	width: 44%;
	margin-left: 1%;
	display: table;
	background-color: #f3f3f3;
	padding: 5px;
}

.top-purchase-left-container-pr
{
	float: left;
	width: 40%;
	display: table;
	background-color: #f3f3f3;
	padding: 5px;
}

.top-purchase-middle-container-pr
{
	float: left;
	width: 20%;
	margin-left: 1%;
	display: table;
	background-color: #f3f3f3;
	padding: 5px 0;
}

.top-purchase-right-container-pr
{
	float: right;
	width: 38%;
	margin-left: 1%;
	display: table;
	background-color: #f3f3f3;
	padding: 5px;
}

.bottom-purchase-container
{
	display: block;
	clear: both;
	width: 100%;
}

.bottom-audit-container
{
	clear: both;
	overflow: auto;
	height: 450px;
	width: 100%;
}

.bottom-purchase-container-add
{
	display: table;
	clear: both;
	width: 100%;
	background-color: #f3f3f3;
	padding: 5px 10px;
	border: 1px solid #d8d9d8;
	margin-top: 5px;
}

.bottom-purchase-container-blns
{
	float: left;
	width: 70%;
}

.bottom-purchase-container-add-Text
{
	clear: both;
	display: table;
	width: 100%;
}

.bottom-purchase-container-total
{
	margin-top: 5px;
	display: table;
	clear: both;
	width: 100%;
	background-color: #f3f3f3;
	padding: 5px;
	background-color: #f3f3f3;
	border: 1px solid #d8d9d8;
}

.purchase-order-header
{
	clear: both;
	width: 100%;
	display: table;
	background: #6eac2c url("../images/ui-bg_gloss-wave_50_6eac2c_500x100.png") repeat-x scroll 50% 50%;
	border: 1px solid #d8d9d8;
	padding: 2px 5px;
	margin-bottom: 4px;
}
/*Work by Imthiyaz*/
/*Transfers*/
.transfer-option-container
{
	float: right;
	width: 50%;
	display: table;
}
.transferwarhouse-option-container
{
	float: right;
	width: 30%;
	display: table;
}
.transferbutton-option-container
{
	float: right;
	width: 20%;
	display: table;
}
.transfer-order-header
{
	clear: both;
	width: 100%;
	display: table;
	background-color: #f3f3f3;
	border: 1px solid #d8d9d8;
	padding: 2px 5px;
	margin-bottom: 4px;
}
.distribution-header
{
	clear: both;
	width: 100%;
	display: table;
	border: 2px solid #d8d9d8;
	background-color: #2ba6cb;
	padding: 2px 5px;
	margin-bottom: 4px;
}
.purchase-option-container
{
	float: right;
	width: 50%;
	display: table;
}

.payments-group
{
	display: table;
	clear: both;
	width: 100%;
	background-color: #f3f3f3;
	border: 1px solid #d8d9d8;
	margin-bottom: 5px;
	padding: 2px 10px;
}

.payments-group-left
{
	width: 30%;
	float: left;
}

.payments-group-right
{
	margin-left: 1%;
	width: 69%;
	float: left;
}

.payments-group-left1
{
	width: 50%;
	float: left;
}

.payments-group-right1
{
	margin-left: 1%;
	width: 49%;
	float: left;
}

/*Work by Saravanan*/
/*GID*/
.gid-split
{
	width: 18%;
	float: left;
}
.gid-split .left
{
	width: 40%;
	float: left;
	margin-left: 1%;
}
.gid-split .right
{
	width: 50%;
	float: left;
	margin-left: 1%;
	padding: 2px 0px;
}
.gid-control
{
	float: left;
	margin-left: 1%;
	margin-top: 1%;
}
.checkbox
{
	margin-top: 1px;
}
.gid-fulldesign
{
	width: 98%;
	margin-left: 1%;
	margin-right: 1%;
	margin-top: 1%;
	display: table;
}

.gid-fulldesign1
{
	width: 95%;
	margin-left: 1%;
	margin-right: 1%;
	margin-top: 2%;
	margin-bottom: 1%;
	display: table;
}

.container1
{
	width: 8%;
	float: left;
}
.container2
{
	width: 5%;
	float: left;
}
.container3
{
	width: 13%;
	float: left;
}
.container4
{
	width: 6%;
	float: left;
	margin-top: 1%;
	margin-left: 8px;
}
.container5
{
	width: 1%;
	float: left;
	margin-top: 2%;
	margin-left: 3px;
}
.container6
{
	width: 4%;
	float: left;
}
.container7
{
	width: 5.5%;
	float: left;
}
.container4 .split
{
	padding: 2px 0px;
}
.container1 .spilt
{
	margin-left: 8px;
	padding: 2px 0px;
}
.container2 .spilt
{
	padding: 2px 0px;
	margin-left: 8px;
}
.container7 .spilt
{
	padding: 2px 0px;
	margin-left: 8px;
}
.container3 .spilt
{
	padding: 2px 0px;
	margin-left: 8px;
}
.container3 .spilt .left
{
	width: 35;
}
.container3 .spilt .right
{
	width: 95;
}
.container3 .spilt1
{
	margin-left: 8px;
}
.gid-notification
{
	float: left;
	width: 126px;
	margin-left: 12px;
	margin-top: 1%;
}
.gid-notification .bottom
{
	margin-top: 2%;
	width: 98%;
}
.bottom-split1
{
	width: 13%;
	float: left;
	margin-left: 8px;
}
.bottom-split1 .left
{
	width: 54%;
	float: left;
	text-align: center;
}
.bottom-split1 .right
{
	width: 45%;
	float: left;
	margin-left: 1%;
}
.bottom-split2-left
{
	width: 65%;
	float: left;
}
.bottom-split2-right
{
	width: 35%;
	float: left;
}
.bottom-split2-right .left
{
	width: 40%;
	float: left;
	text-align: center;
}
.bottom-split2-right .right
{
	width: 40%;
	float: right;
	margin-top: 3%;
	margin-left: 15%;
}
container3. spilt1-left
{
	width: 25%;
	float: left;
}
container3. spilt1-right
{
	width: 95%;
	float: left;
}
.bottom-split3
{
	width: 13%;
	float: left;
	margin-left: 8px;
}
.bottom-split4
{
	width: 14%;
	float: left;
	margin-left: 8px;
}
.bottom-split3 .right
{
	width: 45%;
	float: left;
	margin-left: 1%;
	margin-top: 1.5%;
}
.bottom-split3 .left
{
	width: 45%;
	float: left;
	margin-top: 1.5%;
}
.com-split
{
	width: 45%;
	float: left;
}
.com-split1
{
	width: 65%;
	float: left;
	margin-left: 1%;
	margin-left: 1%;
}
.com-split2
{
	width: 25%;
	float: left;
	margin-left: 1%;
	margin-right: 1%;
}
.com-split3
{
	width: 55%;
	float: left;
	margin-left: 1%;
	margin-left: 1%;
}
.com-split4
{
	width: 35%;
	float: left;
	margin-left: 1%;
	margin-right: 1%;
}
.com-split5
{
	width: 20%;
	float: left;
	margin-left: 1%;
	margin-right: 1%;
}
.com-split .left
{
	width: 70%;
	float: left;
}
.com-split .right
{
	width: 20%;
	float: left;
}
.com-split4 .left
{
	width: 31%;
	float: left;
	margin-left: 1%;
}
.left-align
{
	margin-left: 43%;
	width: 45%;
}
.left-align .split
{
	float: left;
	width: 45%;
	margin-bottom: 2%;
}
.left-align .split .value
{
	float: left;
	width: 45%;
	margin-right: 1%;
	margin-top: 1%;
}
.barcodesplit
{
	float: left;
	width: 45%;
	margin-left: 1%;
}
.control-group .split
{
	width: 18%;
	float: left;
}
.control-groupbarcode
{
	display: table;
	padding: 2px 0px;
	width: 100%;
}
.control-group-single .label-right1
{
	float: right;
	width: 70%;
}
.splitonebyone
{
	float: left;
	width: 10%;
	text-align: center;
}
.left-top-container1
{
	float: left;
	width: 65%;
	display: table;
	background-color: #f3f3f3;
	padding: 5px 10px;
}
.rightalign
{
	float: right;
	display: table;
}
.centerposition
{
	margin: auto;
	display: table;
}
.hiddencol
{
	display: none;
}
.Split3Position
{
	float: left;
	width: 33%;
}
.floatleft
{
	float: left;
	width: 45%;
	padding: 2px 0px;
}
.floatright
{
	float: left;
	width: 50%;
	padding: 2px 0px;
}

.chzn-select
{
	width: 100%;
}

.container-pers-top
{
	background-color: #f3f3f3;
	display: table;
	float: left;
	width: 100%;
}

.container-pers-header
{
	background-color: #004bc6;
	color: #fff;
	font-weight: bold;
	padding: 0 0 0 10px;
}

.container-pers-left
{
	display: table;
	float: left;
	width: 25%;
}

.control-group-single-res
{
	display: table;
	padding: 3px 0;
	width: 100%;
}

.control-group-single-res-barcode
{
	display: table;
	padding: 2px 0;
	width: 100%;
}

.control-group-single-res .label-left
{
	float: left;
	width: 30%;
}

.control-group-single-res .label-right
{
	float: left;
	width: 70%;
}

.container-pers-detail
{
	display: table;
	padding: 7px;
	width: 100%;
}

.panel-default
{
	width: 100%;
	padding: 5px;
	display: block;
}

.container-pers-middle
{
	display: table;
	float: left;
	width: 49%;
	margin-left: 1%;
}

.container-pers-right
{
	display: table;
	float: left;
	width: 24%;
	margin-left: 1%;
}

.container-pers-top
{
	background-color: #f3f3f3;
	display: table;
	float: left;
	width: 100%;
	margin-top: 2px;
}

.container-pers-header
{
	background-color: #004bc6;
	color: #fff;
	font-weight: bold;
	padding: 0 0 0 10px;
}

.container-invoice-header
{
	background-color: #004bc6;
	background: #6eac2c url("../images/ui-bg_diagonals-small_50_ff3853_40x40.png") repeat-x scroll 50% 50%;
	color: #fff;
	font-weight: bold;
	padding: 0 0 0 10px;
}

.container-pers-bottom
{
	background-color: #f3f3f3;
	display: table;
	float: left;
	width: 100%;
}
.container-pers-top-header
{
	background: #6eac2c url("../images/ui-bg_gloss-wave_50_6eac2c_500x100.png") repeat-x scroll 50% 50%;
	border: 1px solid #d8d9d8;
	color: black;
	display: table;
	margin-bottom: 4px;
	padding: 2px 0 2px 10px;
	width: 100%;
    margin-top:60px;
}

.container-pers-top-header-invoice
{
	background: #6eac2c url("../images/ui-bg_diagonals-small_50_262626_40x40.png") repeat-x scroll 50% 50%;
	border: 1px solid #d8d9d8;
	color: black;
	display: table; 
	padding: 5px;
	width: 100%;
    margin-top:60px;
}

.container-pers-top-header-mis
{	
	border: 1px solid #d8d9d8;
	color: black;
	display: table; 
	padding: 5px;
	width: 100%; 
}

.container-pers-top-header-reports
{
	background: #6eac2c url("../images/ui-bg_gloss-wave_50_6eac2c_500x100.png") repeat-x scroll 50% 50%;
	border: 1px solid #d8d9d8;
	color: black;
	display: table; 
	margin-bottom: 2px;
	padding: 5px;
	width: 100%;
    margin-top:60px;
}
.container-pers-top-header-blue
{
	background: #6eac2c url("../images/ui-bg_gloss-wave_75_2191c0_500x100.png") repeat-x scroll 50% 50%;
	border: 1px solid #d8d9d8;
	color: black;
	display: table; 
	margin-bottom: 2px;
	padding: 5px;
	width: 100%;
    margin-top:60px;
}
.container-pers-header-left
{
	float: left;
	width: 36%;
}

.container-pers-header-left-design
{
	float: left;
	width: 60%;
}

.container-pers-header-right-design
{
	float: left;
	width: 40%; 
}

.container-pers-header-right
{
	float: left;
	width: 60%; 
}

.container-other-top
{
	background-color: #f3f3f3;
	clear: both;
	display: table;
	width: 100%;
	margin-top: 1px;
}

.container-other-bottom
{
	background-color: #f3f3f3;
	clear: both;
	display: table;
	width: 100%;
}

.container-other-top-left
{
	display: table;
	float: left;
	width: 46%;
	margin-top: 1px;
}

.container-other-top-middle
{
	display: table;
	float: left;
	width: 26%;
	margin-left: 1%;
}

.container-other-top-right
{
	display: table;
	float: left;
	width: 26%;
	margin-left: 1%;
}

.container-other-common-header
{
	background-color: #004bc6;
	color: #fff;
	font-weight: bold;
	padding: 0 0 0 10px;
	margin-bottom: 5px;
}

.container-other-bottom-left
{
	background-color: #f3f3f3;
	display: table;
	float: left;
	width: 50%;
	border: 1px solid #d8d9d8;
	padding: 4px 10px;
}

.container-other-bottom-right
{
	background-color: #f3f3f3;
	display: table;
	float: left;
	width: 49%;
	margin-left: 1%;
	border: 1px solid #d8d9d8;
	padding: 4px 10px;
}

.container-other-common-detail
{
	display: table;
	padding: 0px;
	width: 100%;
}
.Promo_Data
{
	float: left;
	width: 22%;
}
.repeater_td_align_center
{
	text-align: center;
	border-left: 1.5px solid black;
	border-bottom: 1.5px solid black;
	border-right: 1.5px solid black;
	background-color: White;
}
.repeater_Scroll
{
	overflow: scroll;
	width: 100%;
	height: 380px;
	background-color: White;
}
.table_border
{
	border: 1px solid black;
}
.table_border th
{
	text-align: center;
	color: #fff;
	background: #0078ae url(../images/ui-bg_glass_45_0078ae_1x400.png) 50% 50% repeat-x;
	border: 1px solid black;
}
.table_border td
{
	text-align: center;
	border: 1px solid black;
}


.fixed_headers
{
	width: 100%;	
}

.fixed_headers th, .fixed_headers td
{
	text-align: center;
	padding: 5px 5px;
	word-wrap: break-word;
}
.fixed_headers thead
{
	color: #fff;
	background: #0078ae url(../images/ui-bg_glass_45_0078ae_1x400.png) 50% 50% repeat-x;
}
.fixed_headers thead tr
{
	display: block;
	position: relative;
}
.fixed_headers tbody
{
	display: block;
	overflow: auto;
	width: 100%;
	height: 340px;
	background-color: White;
}
.pagingborder
{
	border: 1px solid black;
	padding: 10px;
	width: 250px;
	height: 40px;
}
.pager_enabled
{
	color: #000080;
}
.pager_disabled
{
	color: gray;
}
.pagingborder_status
{
	border: 1px solid black;
	padding: 1px;
}
.revokepromotionbutton
{
	float: right;
}
.revokepromotion_filteration
{
	width: 60%;
	border: 1px solid black;
	height: 75px;
	float: left;
	padding: 5px;
}
.revokepromotion_date
{
	height: 75px;
	padding: 5px;
	border: 1px solid black;
	float: left;
	width: 18%;
	margin-left: 2%;
}
.revokepromotion_dropdown
{
	width: 33%;
	float: left;
}
.revokepromotion_dropdown_left
{
	float: left;
	width: 30%;
}

.revokepromotion_dropdown_right
{
	padding: 2px 0px;
	float: left;
	width: 65%;
}

.revokepromotion_dropdownwithsearch
{
	width: 30%;
	float: left;
}

.revokepromotion_pagingborder
{
	border: 1px solid black;
	padding: 10px;
	width: 250px;
	height: 40px;
	float: left;
}

.revokepromotion_save
{
	float: right;
}

.control-group-price-header
{
	background-color:  #3498db;
	color: #fff;
	font-weight: bold;
	padding: 0 0 0 10px;
	margin-bottom: 7px;
}

.left-top-container-vm
{
	float: left;
	width: 60%;
	display: table;
	background-color: #f3f3f3;
	border: 1px solid #d8d9d8;
}

.right-top-container-vm
{
	float: left;
	width: 39%;
	display: table;
	background-color: #f3f3f3;
	margin-left: 1%;
	border: 1px solid #d8d9d8;
	margin-top: 2px;
}

.left-top-container-header-vm
{
	padding: 0 0 0 10px;
	background-color: #004bc6;
	color: #fff;
	font-weight: bold;
}

.left-top-container-detail-vm
{
	padding: 5px 10px;
}

.right-top-container-detail-vm
{
	padding: 5px 10px;
}

.right-top-container-header-vm
{
	padding: 0 0 0 10px;
	background-color: #004bc6;
	color: #fff;
	font-weight: bold;
}
.barcodesavedialog
{
	display: none;
	text-align: center;
}

.container-group-pi
{
	width: 700px;
}

.top-container-pi
{
	width: 100%;
	margin: 0;
	background-color: #f3f3f3;
	display: table;
}

.top-container-pi-header
{
	width: 100%;
	padding: 0 0 0 10px;
	background-color: #004bc6;
	color: #fff;
	font-weight: bold;
}
.top-container-pi-detail
{
	width: 100%;
	padding: 5px 10px;
	display: table;
	border: 1px solid #d8d9d8;
}
.bottom-container-pi
{
	width: 100%;
	margin: 5px 0 0 0;
	background-color: #f3f3f3;
	display: table;
}
.bottom-container-pi-header
{
	width: 100%;
	padding: 0 0 0 10px;
	background-color: #004bc6;
	color: #fff;
	font-weight: bold;
}
.bottom-container-pi-detail
{
	width: 100%;
	padding: 5px 10px;
	display: table;
	border: 1px solid #d8d9d8;
}
.bottom-container-pi-detail-left
{
	width: 60%;
	float: left;
}
.bottom-container-pi-detail-right
{
	width: 39%;
	margin-left: 1%;
	float: left;
}
.barcodesplit_left
{
	float: left;
	width: 35%;
}
.barcodesplit_right
{
	float: left;
	width: 50%;
	margin-left: 2%;
}
.centerposition_barcode
{
	margin: auto;
	display: table;
	width: 88%;
	padding-top: 30px;
	padding-bottom: 30px;
}
.barcode_template
{
	display: table;
	padding-top: 17px;
	width: 100%;
}
.barcode_PkdData
{
	display: table;
	padding-top: 6px;
	width: 100%;
}
.barcodepahe_color
{
	background: #e6f2ff;
	background: #F5F5F5;
}
.barcode_leftborder
{
	width: 95%;
	border: 1px solid black;
	height: 240px;
	padding: 5px 10px;
}
.barcode_rightborder
{
	width: auto;
	border: 1px solid black;
	height: 240px;
	padding: 5px 10px;
}
.barcode_button
{
	float: right;
	width: 40%;
	border: 1px solid black;
	height: 60px;
	padding: 5px 10px;
	margin-top: 30px;
}
.barcode_header
{
	text-align: center;
	font-weight: bold;
	font-size: larger;
}
.vendorMaster
{
	width: 100%;
	overflow: auto;
}
.vendorMaster
{
	width: 100%;
	overflow: auto;
	height: 450px;
}

.vendorMaster th, .vendorMaster td
{
	text-align: center;
	padding: 5px 5px;
	word-wrap: break-word;
}
.vendorMaster thead
{
	color: #fff;
	background: #0078ae url(../images/ui-bg_glass_45_0078ae_1x400.png) 50% 50% repeat-x;
}
.vendorMaster thead tr
{
	display: table-row;
	position: relative;
}
.vendorMaster tbody
{
	overflow-y: visible;
	overflow-x: hidden;
	width: 100%;
	height: 355px;
	background-color: White;
}
.Barcode_fixed_headers
{
	width: 100%;
	overflow: auto;
}
.Barcode_fixed_headers th, .Barcode_fixed_headers td
{
	text-align: center;
	padding: 5px 5px;
	word-wrap: break-word;
}
.Barcode_fixed_headers thead
{
	color: #fff;
	background: #0078ae url(../images/ui-bg_glass_45_0078ae_1x400.png) 50% 50% repeat-x;
}

.Barcode_fixed_headers thead tr
{
	display: block;
	position: relative;
}

.Barcode_fixed_headers tbody
{
	display: block;
	overflow-y: visible;
	overflow-x: hidden;
	width: 100%;
	height: 355px;
	background-color: White;
}
.pagingborder_bulkbarcode
{
	border: 1px solid black;
	padding: 5px;
	width: 250px;
	height: 35px;
	margin-top: 1.5px;
	margin-left: 13px;
	float: left;
	display: none;
}
.bulkbarcode_backgroundcolor
{
	background: #e6f2ff;
	margin: auto;
}

.barcode_Qty
{
	width: 40px;
	text-align: center;
}
.barcode_Rating
{
	width: 60px;
	text-align: center;
}
.repeaterfooter_payment
{
	height: 320px;
}
.Payment_fixed_headers
{
	width: 100%;
	overflow: auto;
}

.Payment_fixed_headers th, .Payment_fixed_headers td
{
	text-align: center;
	padding: 2px 2px;
	word-wrap: break-word;
	top: -31px;
	left: 228px; /*width: 71px;*/
}
.Payment_fixed_headers thead
{
	color: #fff;
	background: #0078ae url(../images/ui-bg_glass_45_0078ae_1x400.png) 50% 50% repeat-x;
	
}
.Payment_fixed_headers thead tr
{
	display: block;
	position: relative;
}
.Payment_fixed_headers tbody
{
	display: block;
	overflow-y: visible;
	overflow-x: hidden;
	width: 100%;
	height: 235px;
	background-color: White;
}

.Payment_fixed_headers tfoot
{
	display: block;
	width: 100%;
	background-color: White;
}
.paymentfooter_total
{
	font-weight: bolder;
	font-size: larger;
	border-right-color: Yellow;
}
.paymentfooter_balancetotal
{
	font-weight: bolder;
	font-size: larger;
}
.Paymentfooter_Color
{
	background-color: Yellow;
}

.container-group-small
{
	position: relative;
	display: table;
	width: 420px;
	border: 1px solid #d8d9d8;
	background-color: #f3f3f3;
	padding: 0px;
	margin-bottom: 5px;
}
.container-group-full_1
{
	position: relative;
	width: 100%;
	top: 0px;
	left: 0px;
}
.PaymentDialog_yes
{
	float: left;
}
.PaymentDialog_No
{
	float: right;
}
.paymentDialog_Center
{
	margin: auto;
	display: table;
	padding-top: 10px;
	width: 150px;
}
.issuedpayheader tbody
{
	height: 340px;
}
.UnIssuedPayment tbody
{
	height: 331px;
}
.PaymenttopayAmt
{
	
	text-align: center;
}
.container-group-mpa
{
	width: 850px;
}
.top-container-mpa-left
{
	width: 60%;
	display: table;
	float: left;
}
.top-container-mpa-right
{
	margin-left: 2%;
	width: 32%;
	display: table;
	float: right;
	border: 1px dashed black;
	padding: 5px 10px;
	margin-top: 9px;
}
.top-container-mpa
{
	width: 100%;
	margin: 0;
	background-color: #f3f3f3;
	display: table;
	padding: 5px 10px;
	border: 1px solid #d8d9d8;
}
.bottom-container-mpa
{
	width: 100%;
	margin: 5px 0 0 0;
	background-color: #f3f3f3;
	display: table;
	padding: 5px 10px;
	border: 1px solid #d8d9d8;
}
.container-horiz-top-header
{
	display: table;
	width: 100%;
	border: 1px solid #d8d9d8;
	margin-bottom: 4px;
	padding: 3px 3px 3px 3px;
}

.container-horiz-top-purreturn
{
	display: table;
	width: 100%;
	border: 1px solid #d8d9d8;
	padding: 3px 3px 3px 3px;
}
.control-group-split .control-group-left-small
{
	width: 10%;
	float: left;
}
.payment_chequeno
{
	width: 250px;
}
.Payment_display
{
	float: right;
}
.payment_display_body tbody
{
	height: 120px;
}
.payment_rtgs_button
{
	float: left;
	margin-left: 10px;
}
.dialog_center
{
	display: table;
	margin: auto;
	padding-top: 10px;
}
.ga_view_dropdown
{
	float: left;
	width: 60%;
}
.ga_view_radiobutton
{
	float: left;
	width: 40%;
}
.ga_view_dropdown_split
{
	float: left;
	width: 33%;
}
.ga_label
{
	float: left;
	width: 35%;
}
.ga_dropdown
{
	float: left;
	width: 55%;
}
.full_width
{
	width: 100%;
}
.ga_po_qty
{
	padding-left: 15px;
}
.ga_holdunhold
{
	border: 1px solid black;
	height: 30px;
	padding: 1px 10px;
}
.ga_radiobutton_control
{
	margin: 0px;
}
.bill_type
{
	width: 50px;
}
.ga_tab_width
{
	width: 80%;
}
.ga_tab_header
{
	width: 33.3%;
}
.rptr_polist tbody
{
	height: 457px;
}
.rptr_PurchaseRetReq tbody
{
	height: 457px;
}
.rptr_InterPurchase tbody
{
	height: 457px;
}
.ga_label_left
{
	float: left;
	width: 30%;
}
.ga_label_right
{
	float: left;
	width: 70%;
}

.dialog-inv
{
	padding: 5px;
	width: 100%;
}
.dialog-inv-header
{
	padding: 5px 10px;
	width: 100%;
	border: 1px solid #d8d9d8;
}
.dialog-inv-tax
{
	width: 100%;
	margin-top: 5px;
}
.dialog-Inv-tax-header
{
	padding: 0 0 0 10px;
	background-color: #004bc6;
	color: #fff;
	font-weight: bold;
}
.dialog-Inv-tax-detail
{
	padding: 5px 10px;
	border: 1px solid #d8d9d8;
}
.dialog-inv-set-price
{
	width: 100%;
	margin-top: 5px;
}
.dialog-inv-container-set-price-header
{
	padding: 0 0 0 10px;
	background-color: #004bc6;
	color: #fff;
	font-weight: bold;
}
.dialog-inv-container-set-price-detail
{
	width: 100%;
	padding: 5px 10px;
	border: 1px solid #d8d9d8;
	display: table;
}
.dialog-inv-wprice
{
	width: 100%;
	margin-top: 5px;
}
.dialog-inv-wprice-header
{
	padding: 0 0 0 10px;
	background-color: #004bc6;
	color: #fff;
	font-weight: bold;
}
.dialog-inv-wprice-detail
{
	width: 100%;
	padding: 5px 10px;
	border: 1px solid #d8d9d8;
	display: table;
}

.grn_barcode_template
{
	float: left;
	width: 150px;
	margin-left: 1%;
	margin-top: 1%;
}
.grn_barcode_template_left
{
	float: left;
	width: 40%;
}
.grn_barcode_template_right
{
	float: left;
	width: 60%;
}
.grn_vendor_items
{
	float: left;
	width: 100px;
	margin-left: 1%;
	margin-top: 1%;
}
.grn_barcode_Size
{
	float: left;
	width: 120px;
	margin-left: 1%;
	margin-top: 1%;
}
.grn_barcode_size_left
{
	float: left;
	width: 30%;
}
.grn_barcode_size_right
{
	float: left;
	width: 70%;
}
.grn_rptr_textbox_width
{
	text-align: center;
		
}
.stockgrid-top
{
	overflow: auto;
	height: 130px;
	width: 100%;
}
.stockgrid-bottom
{
	overflow: auto;
	height: 130px;
	width: 100%;
	margin-top: 4px;
}

.grid-popup
{
	overflow: auto;
	max-height: 400px;
	width: 100%;
}
.promotiongrid
{
	margin-top: 4px;
	overflow: auto;
	height: 120px;
	width: 100%;
}

.gid_foc_Affectnetcost
{
	float: left;
}
.gid_foc_NotAffectnetcost
{
	float: left;
	padding-left: 30px;
}
.gid_foc_qualifingItem
{
	float: left;
	width: 77%;
	margin-right: 3%;
}
.gid_foc_qualifingQty
{
	float: left;
	width: 30%;
}
.gid_foc_Item
{
	float: left;
	width: 56%;
	margin-right: 3%;
}
.gid_foc_Qty
{
	float: left;
	width: 17%;
	margin-right: 3%;
}
.gid_foc_item_top
{
	margin-top: 14%;
}
.gid_foc_Qitem_top
{
	margin-top: 5%;
}
.gid_foc_date
{
	float: left;
	width: 22%;
	margin-right: 3%;
}
.gid_foc_Date_top
{
	margin-top: 23%;
}
.gid_foc_lable_center
{
	text-align: center;
}
.gid_pricechange_alert
{
	float: left;
	margin-top: 1%;
	margin-right: 0.5%;
	width: 16%;
}

.gid_vetDetail tbody
{
	height: 135px;
}
.ReGeneratePO_Itemhistory tbody
{
    height: 160px;
}
.gid_Deduction tbody
{
	height: 135px;
}
.gid_bulitemPrice_itemcode
{
	float: left;
	width: 15%;
	padding-right: 0.5%;
}
.gid_bulitemPrice_ItemDesc
{
	float: left;
	width: 25%;
	padding-right: 0.5%;
}
.gid_bulitemPrice_Price
{
	float: left;
	width: 7.5%;
	padding-right: 0.5%;
}
.gid_ParentandChild
{
	margin-top: 5%;
}
.gid_child_item_save
{
	margin-top: 1%;
	float: right;
}
.promotiongrid-header
{
	background-color: #004bc6;
	color: #fff;
	font-weight: bold;
	padding: 0 0 0 10px;
}
.gi_child_apply
{
	padding-top: 1.2%;
}
.gid_top_border
{
	border: 1px solid black;
	padding: 5px;
	display: table;
}
.gid_bottom_control
{
	border: 1px solid black;
	padding: 5px;
	display: table;
	margin-top: 5px;
	width: 100%;
}
.gid_medicalbatch_lable
{
	float: left;
	width: 35%;
	padding: 3px;
}
.gid_medicalbatch_textbox
{
	float: left;
	width: 60%;
	padding: 3px;
}
.gid_medicalbatch_ok
{
	float: right;
	margin-right: 15px;
}
.gid_Add_button
{
	float: right;
	margin-top: 13px;
}
.supplierNote_header
{
	float: left;
	width: 22%;
}
.supplierNote_lblvendorcode
{
	float: left;
	width: 30%;
}
.supplierNote_txtvendorcode
{
	float: left;
	width: 60%;
	padding: 3px;
}
.supplierNote_searchlbl
{
	float: left;
	width: 50%;
}
.supplierNote_searchtxt
{
	float: left;
	width: 31%;
	padding: 3px;
}
.supplierNote_NewButton
{
	float: right;
	width: 31%;
	padding: 3px;
	margin-right: 38px;
}
.supplierNote tbody
{
	height: 455px;
}
.supplierNote_All
{
	padding-top: 31px;
}
.supplierNote-group-full
{
	position: relative;
	width: 100%;
	top: 0px;
	left: 0px;
	padding: 10px;
}
.creditandDebit_control_lbl
{
	float: left;
	width: 40%;
	padding: 2px;
}
.creditandDebit_control_txt
{
	float: left;
	width: 60%;
	padding: 2px;
}
.creditandDebitNote_hdr
{
	text-align: center;
	font-weight: bolder;
	font-size: 25px;
}
.creditandDebit_checkbox
{
	float: left;
	padding-left: 26px;
	padding-right: 30px;
	font-weight: bolder;
	font-size: 20px;
}
.creditandDebir_radiobtn
{
	display: table;
	border: 1px solid black;
	padding: 5px;
}
.supplierNote_Body
{
	margin-top: 2px;
	border: 1px solid black;
	padding: 2px;
	height: 520px;
}
.freeItemEntry_header_left
{
	width: 45%;
	float: left;
}
.freeItemEntry_header_right
{
	width: 47.5%;
	float: left;
}
.freeItem_cbList
{
	border: 1px solid black;
	padding: 5px;
	overflow-y: auto;
	height: 175px;
}
.freeItem_header_lbl
{
	width: 15%;
	float: left;
	padding: 2px;
}
.freeItem_header_txt
{
	width: 28%;
	float: left;
	padding: 2px;
}
.display_table
{
	width: 100%;
	display: table;
}
.qualifying_item
{
	float: left;
	width: 45%;
	padding: 5px 0px 0px 0px;
}
.free_item
{
	float: left;
	width: 50%;
}
.qualifyingItem_lbl
{
	text-align: center;
	float: left;
	width: 15%;
	padding: 4px;
}
.qualifyingDesc
{
	text-align: center;
	float: left;
	width: 35%;
	padding: 4px;
}
.freeItem_gDesc
{
	text-align: center;
	float: left;
	width: 45%;
	padding: 4px;
}
.qualifyingAddButton
{
	float: right;
	margin-right: 63px;
}
.freeItemAddButton
{
	float: right;
	margin-right: 30px;
}
.button-link
{
	background-color: #f44336;
	color: #ffffff;
	display: inline-block;
	opacity: 0.9;
	padding: 0px 10px;
	text-align: center;
	text-decoration: none;
}
.button-link:hover, .button-red:focus
{
	text-decoration: none;
	color: #fff;
	background-color: #d43c2f;
}

.button-link:active
{
	transform: translate(0px,2px);
	-webkit-transform: translate(0px,2px);
	border-bottom: 1px solid;
}
.free_selectAll
{
	color: Blue;
	padding: 0px;
}
.FreeItemBackground_color
{
	background: #e6f2ff;
	background: #F5F5F5;
	display: table;
}
.FreeItemSave
{
	float: right;
	margin-right: 94px;
}
.Free_Header_Text
{
	border: 1px solid black;
	padding: 5px;
	width: 90%;
}
.Free_Item_header_text
{
	width: 100%;
	display: table;
	padding: 2px 0;
	color: Purple;
	background: #e6ffff;
	font-size: 15px;
	font-weight: bold;
}
.qItem_len
{
	width: 90%;
}
.freeItem_len
{
	width: 95%;
}
.qualifyingItem tbody
{
	height: 200px;
}
.freeItem tbody
{
	height: 200px;
}
.freeItemView_button
{
	float: right;
	margin-right: 30px;
}
.FreeItem_View tbody
{
	height: 450px;
}
.float_left
{
	float: left;
}
.freeItem_groupCode
{
	float: left;
	width: 150px;
	padding: 0px 0px 0px 5px;
}
.stockAdjustment_View tbody
{
	height: 470px;
}
.stockAdjustmentEntry_No
{
	float: left;
	width: 8%;
	padding: 0px 5px 10px 10px;
}
.stockAdjustmentEntry_text
{
	float: left;
	width: 10%;
	padding: 0px 5px 10px 0px;
}
.stockAdjustmentEntry_Date
{
	float: left;
	width: 6%;
	padding: 0px 5px 10px 10px;
}

.stockAdjustment_itemcode
{
	width: 8%;
	float: left;
	text-align: center;
	padding: 10px 5px 0px 0px;
}
.stockAdjustment_NetValues_lbl
{
	width: 5%;
	float: left;
	text-align: center;
	padding: 10px 5px 0px 0px;
}
.stockAdjustment_NetValues_txt
{
	width: 10%;
	float: left;
	text-align: center;
	padding: 10px 5px 0px 0px;
}
.stockAdjustment_vat_lbl
{
	width: 3%;
}
.stockAdjustment_Description
{
	width: 17%;
	float: left;
	text-align: center;
	padding: 10px 5px 0px 0px;
}
.stockAdjustment_Qty
{
	width: 5.5%;
	float: left;
	text-align: center;
	padding: 10px 5px 0px 0px;
}
.stockAdjustmentEntry tbody
{
	height: 371px;
}
.stockAdjustment_save_button
{
	width: 5.5%;
	float: left;
	text-align: center;
	padding: 25px 5px 0px 0px;
}
.stockAdjustment_footer
{
	width: 100%;
	display: table;
	padding-top: 10px;
}

.tab-content
{
	padding-top: 2px;
	overflow: auto;
	height: auto;
}
.BatchDetail tbody
{
	height: 125px;
}
.Stock_Reset_Footer
{
	height: 470px;
}
.Po_Status_vendor_lbl
{
	float: left;
	width: 7%;
}
.Po_Status_vendor_ddl
{
	float: left;
	width: 11%;
}
.po_Status_header
{
	padding-bottom: 30px;
}
.po_Status
{
	padding-left: 30px;
}
.po_status tbody
{
	height: 480px;
}
.ReGenerate_Po_No
{
	float: left;
	width: 22%;
	padding-right: 5px;
}
.ReGenerate_Po_vendor_Name
{
	float: left;
	width: 32%;
	padding-right: 5px;
}
.ReGenerate_Po_lbl
{
	float: left;
	padding-right: 10px;
	width: 40%;
}
.ReGenerate_Po_txt
{
	float: left;
	padding-bottom: 5px;
	width: 60%;
}
.ReGenerate_Po_lblWidth
{
	float: left;
	padding-right: 10px;
	width: 20%;
}
.ReGenerate_Po_txtWidth
{
	float: left;
	padding-right: 10px;
	width: 80%;
}
.ReGenerate_Po_lbl_VNWidth
{
	float: left;
	padding-right: 10px;
	width: 30%;
}
.ReGenerate_Po_txt_VNWidth
{
	float: left;
	padding-right: 10px;
	width: 70%;
	padding-bottom: 5px;
}
.ReGenerate_PO_totalvalue
{
	float: left;
	width: 35%;
}
.ReGenerate_PO_GST
{
	float: left;
	width: 25%;
}
.ReGenerate_PO_total
{
	float: left;
	width: 50%;
}
.ReGenerate_PO_NetValues_txt
{
	float: left;
	width: 40%;
}
.ReGenerate_PO_Netvalues
{
	float: left;
	width: 15.5%;
	padding-top: 10px;
}
.ReGenerate_PO_Netvalues1
{
	float: left;
	width: 14.5%;
	padding-top: 10px;
}
.full_width
{
	width: 100%;
}

.POStatus_headers
{
	width: 100%;
	overflow: auto;
	border: 1px solid black;
}
.POStatus_headers table
{
	width: 100%;
}

.POStatus_headers th, .POStatus_headers td
{
	text-align: center;
	padding: 2px 2px;
	word-wrap: break-word;
	top: -31px;
	left: 228px;
	width: 71px;
}
.POStatus_headers thead
{
	color: #fff;
	background: #0078ae url(../images/ui-bg_glass_45_0078ae_1x400.png) 50% 50% repeat-x;
}
.POStatus_headers thead tr
{
	position: relative;
}
.POStatus_headers tbody
{
	display: block;
	overflow-y: visible;
	overflow-x: hidden;
	width: 100%;
	height: 235px;
	background-color: White;
}
.POStatus_headers tfoot
{
	display: block;
	width: 100%;
	background-color: White;
}

.price-qty
{
	float: right;
	border: 1px solid blue;
	padding: 5px 10px;
	margin-right: 10px;
}
.top-batch-container
{
	display: table;
	clear: both;
	width: 100%;
	margin-bottom: 5px;
}
.bottom-batch-container
{
	display: table;
	clear: both;
	width: 100%;
	margin-bottom: 5px;
}
.left-batch-container
{
	float: left;
	width: 25%;
	padding: 5px 10px;
	border: 1px solid #d8d9d8;
	background-color: #f3f3f3;
}
.right-batch-container
{
	float: left;
	width: 75%;
}

.customer-receipts-header
{
	background: #6eac2c url("../images/ui-bg_gloss-wave_50_6eac2c_500x100.png") repeat-x scroll 50% 50%;
	border: 1px solid #d8d9d8;
	clear: both;
	display: table;
	margin-bottom: 4px;
	padding: 2px 5px;
	width: 100%;
}
.customer-receipts-header-left
{
	float: left;
	width: 50%;
}
.customer-receipts-header-right
{
	float: left;
	width: 50%;
}

.receipt-entry-header
{
	background-color: #f3f3f3;
	border: 1px solid #d8d9d8;
	clear: both;
	display: table;
	margin-bottom: 5px;
	width: 100%;
}
.receipt-entry-header-left
{
	display: table;
	float: left;
	padding: 5px;
	width: 30%;
}
.receipt-entry-header-right
{
	display: table;
	float: left;
	padding: 5px;
	width: 70%;
}
.receipt-entry-middle
{
	background-color: #f3f3f3;
	border: 1px solid #d8d9d8;
	clear: both;
	display: table;
	margin-bottom: 5px;
	width: 100%;
}
.receipt-entry-middle-left
{
	display: table;
	float: left;
	padding: 5px;
	width: 35%;
}
.receipt-entry-middle-middle
{
	display: table;
	float: left;
	padding: 5px;
	width: 30%;
}
.receipt-entry-middle-right
{
	display: table;
	float: right;
	padding: 5px;
	width: 35%;
}
.uppercase
{
	text-transform: uppercase;
}

.lowercase
{
	text-transform: lowercase;
}
.display_table
{
	display: table;
}
.barcode_date
{
	float: left;
	width: 33%;
}
.barcode_date_left
{
	float: left;
	width: 50%;
}
.barcode_date_left1
{
	float: left;
	width: 43%;
}
.barcode_date_left2
{
	float: left;
	width: 57%;
}
.barcode_date_right
{
	float: left;
	width: 45%;
}
.barcode_checkbox
{
	width: 20%;
	float: left;
}
.barcode_checkbox1
{
	width: 18%;
	float: left;
}
.barcode_checkbox2
{
	width: 21%;
	float: left;
	padding-right: 2px;
}
.barcode_checkbox_hight
{
	margin-top: 10px;
}
.prnt_upload
{
	margin: auto;
	display: table;
	
}
.prnlbl
{
	float: left;
	margin-left: 10px;
}
.prntxt
{
	float: left;
	margin-left: 10px;
}
.prn_file
{
	margin-top: 5px;
	border: 1px solid teal;
	height: 90px;
	padding: 10px 10px 10px 10px;
}
.prn_file_Init
{
    height: 50px;
    width:100%;
    margin: auto;
}
.prn_file_inithight
{
    height: 55px;
}
.prn_add_padding
{
    padding:0px 10px 0px 10px;
}
.prn_browse
{
	height: 40px;
}
.prn_update
{
	height: 35px;
}
.barcode_buttun_width
{
	width: 36%;
}
.inventory_download
{
	display: table;
	height: 40px;
	float: right;
}
.inventory_browse
{
	margin-top: 20px;
}
.inventoryExcel_Repeater
{
	margin-top: 10px;
}
.masterMigration tbody
{
	height: 450px;
}
.button_menu_New
{
	border: 4px solid #26759E;
	-webkit-box-shadow: #878787 0px 2px 2px;
	-moz-box-shadow: #878787 0px 2px 2px;
	box-shadow: #878787 0px 2px 2px;
	-webkit-border-radius: 23px;
	-moz-border-radius: 23px;
	border-radius: 23px;
	font-size: 13px;
	font-family: arial, helvetica, sans-serif;
	padding: 2px 4px 2px 4px;
	text-decoration: none;
	display: inline-block;
	text-shadow: 2px 2px 0 rgba(0,0,0,0.3);
	font-weight: bold;
	color: #FFFFFF;
	background-color: #f62b2b;
	background-image: linear-gradient(to bottom, #f62b2b, #d20202);
	width: 100%;
}

.button_menu_New:hover
{
	border: 2px solid #26759E;
	background-color: #e40a0a;
	background-image: linear-gradient(to bottom, #e40a0a, #9f0202);
}
.Regenerate_PO_Save
{
	float: left;
	margin-left: 30px;
}
.Generate_PO tbody
{
	height: 420px;
}
.ReGenerate_PO_GST_Total
{
	float: left;
	width: 13%;
	padding-top: 10px;
}

.radioboxlist-cm radioboxlistStyle
{
	font-size: x-large;
	padding-right: 10px;
}
.radioboxlist-cm label
{
	color: Black;
	background-color: Silver;
	padding-left: 6px;
	padding-right: 5px;
	padding-top: 2px;
	padding-bottom: 2px;
	border: 1px solid #AAAAAA;
	white-space: nowrap;
	clear: left;
	margin-right: 5px;
	margin-left: 5px;
}
.radioboxlist-cm label:hover
{
	color: #CC3300;
	background: #D1CFC2;
}
.radioboxlist-cm input:checked + label
{
	color: white;
	background: red;
}
.prn_Add_Edit
{
	height:40px;
}
.prn_multitext
{
    height:100%;
    border: 1px solid teal;
    margin-top:10px;
}
.grn_vendorItem
{
	float: right;
	margin: 5px 36px 0px 0px;
	
}
.common_barcode_lbl
{
    float:left;
    width:20%;
}
.common_barcode_txt
{
    float:left;
    width:25%;
    margin-right:20px;
}
.common_barcode_cb
{
    float:left;
    width:25%;
}
.common_barcode_size
{
    float:left;
    width:10%;
    margin-left:20px;
}
.common_barcode_btn
{
    float:right;
}
.text_bold
{
    font-weight:bold;
}
.PO_Status_print
{   
    
	float:right;
	
}