@font-face {
    font-family: 'Berlin Sans FB';
    src: url('../fonts/BerlinSansFB-Reg.eot');
    src: url('../fonts/BerlinSansFB-Reg.eot?#iefix') format('embedded-opentype'), url('../fonts/BerlinSansFB-Reg.woff2') format('woff2'), url('../fonts/BerlinSansFB-Reg.woff') format('woff'), url('../fonts/BerlinSansFB-Reg.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

body {
    font-family: 'Berlin Sans FB';
    background-color: #f9f9f7;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.ms-core-overlay {
    background: none;
}

header .container,
nav .container {
    background: none;
}

    header .container .form-group .form-control {
        min-width: 250px;
        background-color: rgba(255, 255, 255, 0.5);
        border: 1px solid #ccc !important;
    }

.navbar-nav {
    font-size: 17px;
    text-transform: uppercase;
}

    .navbar-nav a {
        color: #666666;
    }

.container_footer {
    height: calc(80vh);
}

.content-area {
    border-left: 6px solid #f3651a;
    box-sizing: border-box;
    box-shadow: 0 -2px 3px 0 rgba(0, 0, 0, 0.2), 0 3px 2px 0 rgba(0, 0, 0, 0.19);
}

.top-breadcrumb .content-area {
    margin-bottom: 25px;
    border-left: 10px solid #00539b;
    box-shadow: 0 -2px 6px 0 rgba(0, 0, 0, 0.2), 0 6px 10px 0 rgba(0, 0, 0, 0.19);
    font-size: 18px;
}

.top-breadcrumb .breadcrumb {
    margin-bottom: 0px;
    font-size: 24px;
    background: none;
    font-weight: 500;
    padding: 14px 15px 11px;
    line-height: 40px;
    text-transform: uppercase;
}

    .top-breadcrumb .breadcrumb a {
        color: #00539b;
    }

.breadcrumb > li + li:before {
    content: ">";
    color: #a5a5a5;
}

.top-breadcrumb .navbar-nav > li {
    margin: 0em 0.20em;
    font-size: 14px;
}

    .top-breadcrumb .navbar-nav > li > a {
        padding: 14px 15px;
        background: #00539b;
        color: rgba(255, 255, 255, 0.6);
    }

        .top-breadcrumb .navbar-nav > li > a:hover,
        .top-breadcrumb .nav .open > a,
        .top-breadcrumb .nav .open > a:focus,
        .top-breadcrumb .nav .open > a:hover {
            background: #00539b;
            color: rgba(255, 255, 255, 1);
        }

.top-breadcrumb .navbar-nav li p {
    margin-bottom: 0px !important;
    margin-top: 0px;
}

.top-breadcrumb .navbar-nav > li.active {
    border-bottom: 5px solid #91c1ea;
    margin-bottom: -5px;
}

.dropdown-menu {
    background: #0f6dbf;
    color: rgba(255, 255, 255, 0.6);
}

    .dropdown-menu > li > a {
        padding: 8px 10px;
        color: rgba(255, 255, 255, 0.6);
    }

        .dropdown-menu > li > a:hover {
            background: #00559e;
            color: rgba(255, 255, 255, 1);
        }

table > td > input {
    padding: 10px !important;
}

.nav > li {
    font-size: 16px;
}

    .nav > li > a:hover {
        background: #ff6a1a;
        color: #fff;
    }

.navbar-toggle .icon-bar {
    background: #666666;
}

.navbar-nav > li {
    text-align: center;
}

/*@media (min-width:768px) {
    header {
        margin-top: 20px;
    }*/

.navbar-form .form-group {
    display: block;
}

.user-login {
    text-align: right;
    display: block;
    font-size: 21px;
    color: #003b6f;
}

.top-breadcrumb .navbar-right {
    margin-right: 0px;
}

.no-padding {
    padding: 0px;
}

.navbar-brand {
    height: 120px !important;
}

.navbar-collapse {
    padding: 0px;
}

}

@media (max-width:480px) {
    body {
        /*background: url(../Content/Imagesbg.png) -318px -12px;*/
    }

    .navbar-brand {
        height: auto;
        padding: 10px;
    }

        .navbar-brand img {
            width: 80%;
        }

    .navbar-form {
        margin-bottom: 0px;
    }

    .navbar-toggle {
        margin-top: -35px;
        margin-right: 0px;
        margin-bottom: 0px;
    }

    .navbar-collapse .nav-justified {
        border: 1px solid #ccc;
    }

    .navbar {
        min-height: auto;
        margin-bottom: 0px;
    }

    #navbar.in {
        margin-bottom: 10px;
    }

    .top-breadcrumb .navbar-nav {
        margin: 0px -15px;
    }

    .top-breadcrumb .breadcrumb {
        padding: 0px;
        font-size: 14px;
    }
    /*/////*/
    .sidebar-nav {
        padding: 9px 0;
    }

    .dropdown-menu .sub-menu {
        left: 100%;
        position: absolute;
        top: 0;
        visibility: hidden;
        margin-top: -1px;
    }

    .dropdown-menu li:hover .sub-menu {
        visibility: visible;
    }

    .dropdown:hover .dropdown-menu {
        display: block;
    }

    .nav-tabs .dropdown-menu, .nav-pills .dropdown-menu, .navbar .dropdown-menu {
        margin-top: 0;
    }

    .navbar .sub-menu:before {
        border-bottom: 7px solid transparent;
        border-left: none;
        border-right: 7px solid rgba(0, 0, 0, 0.2);
        border-top: 7px solid transparent;
        left: -7px;
        top: 10px;
    }

    .navbar .sub-menu:after {
        border-top: 6px solid transparent;
        border-left: none;
        border-right: 6px solid #fff;
        border-bottom: 6px solid transparent;
        left: 10px;
        top: 11px;
        left: -6px;
    }
    /*/////*/
    .navbar-nav > li > .dropdown-menu {
        position: relative !important;
        width: 100%;
    }

    .top-breadcrumb .navbar-nav > li > a {
        text-align: left;
    }

    .top-breadcrumb .navbar-nav li p {
        display: inline;
    }

    .user-login {
        display: inline-block;
        width: 100%;
        text-align: right;
        margin-bottom: 10px;
    }
}

@media (max-width: 767px) {
    .navbar-nav .open .dropdown-menu > li > a {
        line-height: 20px;
        background: #ff6a1a;
        color: rgba(255, 255, 255, 0.6);
        padding: 8px 10px;
    }

    .dropdown-menu > li > a:hover {
        color: rgba(255, 255, 255, 1) !important;
    }
}

@media only screen and (max-device-width:736px) and (orientation:landscape) {
    .navbar-toggle {
        margin-top: -45px;
    }

    .user-login {
        text-align: right;
        margin-top: 35px;
        display: block !important;
    }

    .navbar-collapse.in {
        overflow-y: -webkit-paged-x;
    }
}

@media (max-width:768px) {
    .dropdown-menu > li > a; {
        color: #fff;
    }

    .top-breadcrumb .navbar-nav .open .dropdown-menu {
        position: absolute;
        background: #fe6a1a;
        border: 1px solid #ccc;
        color: #fff;
        width: 100%;
    }
}

@media (max-width:736px) {
    .navbar-brand {
        height: auto !important;
    }

    .user-login {
        display: inline-block;
        width: 100%;
        text-align: right;
        margin-bottom: 10px;
    }

    .logOut {
        margin-left: 180px !important;
    }

    .top-breadcrumb .navbar-nav li p {
        display: inline;
    }

    .top-breadcrumb .navbar-nav > li > a {
        text-align: left;
        padding: 15px 15px;
    }

    body {
        /*background: url(../Content/Imagesbg.png) -318px -12px;*/
    }
}

@media (min-width: 1200px) {
    .container {
        max-width: 212vh;
    }
}

#s4-titlerow {
    display: none !important;
}

.user {
    padding-left: 10px;
}

.usericon {
    display: inline-block;
    padding: 5px;
    background-color: #ff6a1a;
    color: #fff;
    margin-top: 10px;
    border-radius: 50px;
}

.stylish-input-group .input-group-addon {
    background: white !important;
}

.stylish-input-group .form-control {
    border-radius: 0;
    border-right: 0;
    box-shadow: 0 0 0;
    border-color: #ccc;
}

.form-group input {
    font-weight: 400;
}

.stylish-input-group button {
    border: 0;
    background: transparent;
}

.input-group-addon,
.input-group-btn {
    width: auto !important;
    white-space: nowrap;
    vertical-align: middle;
}

.pad_left {
    padding-left: 0 !important;
}

.durationhrs {
    float: left;
    margin-right: 15px;
}

.total_value {
    padding-top: 5px;
}

.attach_icon {
    background-color: #ff6a1c;
    border-radius: 50px;
    min-width: 35px;
    height: 35px;
    text-align: center;
    padding: 6px;
    color: #fff;
    display: inline-block;
}

.user_click {
    padding-left: 5px;
}

.partbutton {
    padding-top: 32%;
}

.btn-primary {
    padding: 8px 20px;
    border: 0px;
    font-size: 15px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    background: #ff6a1a !important;
    color: white;
    border-bottom: 5px solid #ffffff;
    border-color: transparent !important;
}

    .btn-primary:hover {
        color: #fff;
        border-bottom: 5px solid #ffff66;
        background: #ff6a1a;
    }

.btn {
    border-radius: 30px;
    /*min-width:0px !important;*/
}

.btn-cancel {
    color: #fff;
    background-color: #666666;
    border-color: #666666;
}

    .btn-cancel:hover {
        color: #fff;
        background-color: #404040;
        border-color: #404040;
    }

.btn-circle.btn-xl {
    width: 70px;
    height: 70px;
    padding: 10px 16px;
    border-radius: 35px;
    font-size: 24px;
    line-height: 1.33;
}

.btn-circle {
    display: inline-block;
    position: relative;
    padding: 0;
    margin: 0 auto;
    box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.1);
    border-radius: 50%;
    height: 40px;
    width: 40px;
    text-align: center;
}

    .btn-circle:hover {
        box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.3);
    }

.btn-warning {
    color: #fff;
    background-color: #ff6a1a !important;
    border-color: #e0611c !important;
}

    .btn-warning.focus,
    .btn-warning:focus {
        color: #fff;
        background-color: #ff6a1a !important;
        border-color: #da5a16 !important;
    }

.time_sheet_block label {
    font-size: 12px;
}

.div_padding {
    padding-right: 5px;
    padding-left: 5px;
}

.row {
    margin-right: 15px;
    margin-left: 15px;
}

select,
input,
textarea {
    border-left: 0px solid transparent !important;
    border-right: 0px solid transparent !important;
    border-top: 0px solid transparent !important;
    border-bottom: 2px solid #666666;
    background-color: transparent !important;
    box-shadow: none !important;
    border-radius: 0 !important;
}

.form-control:focus {
    border-color: #ff6a1a !important;
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 0.6);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 0.6);
}

/*start date_format*/

.btn:hover {
    outline: 0 !important;
}

.qty {
    text-align: center;
    line-height: 30px;
    margin-bottom: 15px;
}

    .qty .count {
        color: #858585;
        display: inline-block;
        vertical-align: top;
        font-size: 16px;
        font-weight: 200;
        line-height: 20px;
        padding: 0 2px;
        width: 120px !important;
        text-align: center;
    }

    .qty .plus {
        cursor: pointer;
        display: inline-block;
        vertical-align: top;
        color: #858585;
        width: 30px;
        height: 30px;
        font: 16px/1 Arial, sans-serif;
        text-align: center;
        border-radius: 50%;
    }

    .qty .minus {
        cursor: pointer;
        display: inline-block;
        vertical-align: top;
        color: #858585;
        width: 30px;
        height: 30px;
        font: 30px/1 Arial, sans-serif;
        text-align: center;
        border-radius: 50%;
        background-clip: padding-box;
    }

/*Prevent text selection*/
span {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}

input {
    border: 0;
    /* width: 70%; */
}

    input::-webkit-outer-spin-button,
    input::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }

    input:disabled {
        background-color: white;
    }

.filename {
    border: 1px solid #eee;
    border-radius: 10px;
    padding: 5px 10px 5px 10px;
    background-color: #eee;
}

/*end date_format*/

.approve_bt {
    margin-right: 17px;
    display: inline-block;
}

.time-title h2 {
    color: #ff6a1a;
    text-transform: uppercase;
}

.time-title p {
    text-align: center;
    font-size: 12px;
}

.title_time_2 {
    font-size: 14px;
    color: #666666;
    font-weight: bold;
    border-bottom: 1px solid #000;
    padding-bottom: 5px;
}

.form_part {
    padding-left: 10px;
    padding-right: 10px;
}

textarea.form-control {
    height: 108px;
}

.uploaded_image {
    padding: 5px 5px 5px 15px;
    border-radius: 50px;
    background: #eee;
    margin-top: 5px;
}

.multifile_remove_input {
    float: right;
    margin-right: 10px;
    font-size: 16px;
    color: #90908d;
}

.edit_uploaded_image {
    padding: 5px 5px 5px 15px;
    border-radius: 50px;
    background: #eee;
    margin-top: 5px;
}

.edit_multifile_remove_input {
    float: right;
    margin-right: 10px;
    font-size: 16px;
    color: #90908d;
}

.vendor_timesheet {
    margin-bottom: 20px;
    border-left: 7px solid #00539b;
    border-bottom: 1px solid #eee;
    background-color: #fff;
    padding: 0px 50px 25px 50px;
    -webkit-box-shadow: -1px 0px 5px 0px rgba(107, 107, 107, 1);
    -moz-box-shadow: -1px 0px 5px 0px rgba(107, 107, 107, 1);
    box-shadow: -1px 0px 5px 0px rgba(107, 107, 107, 1);
}

.form_part h2 {
    text-transform: uppercase;
    font-size: 16px;
    line-height: 30px;
    font-weight: bold;
    color: #ff6a1a;
    padding: 7px 0;
    border-bottom: 1px solid #efefef;
    margin: 14px 0;
    letter-spacing: 2px;
}

.qty .count {
    color: #000;
    display: inline-block;
    vertical-align: top;
    font-size: 18px;
    font-weight: 700;
    line-height: 30px;
    padding: 0 2px;
    width: 200px !important;
    text-align: center;
}

.qty .plus {
    cursor: pointer;
    display: inline-block;
    vertical-align: top;
    color: #000;
    width: 30px;
    height: 30px;
    font: 30px/1 Arial, sans-serif;
    text-align: center;
    border-radius: 50%;
}

.qty .minus {
    cursor: pointer;
    display: inline-block;
    vertical-align: top;
    color: #000;
    width: 30px;
    height: 30px;
    font: 30px/1 Arial, sans-serif;
    text-align: center;
    border-radius: 50%;
    background-clip: padding-box;
}

/*Prevent text selection*/

span {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}

input {
    border: 0;
    /* width: 70%; */
}

    nput::-webkit-outer-spin-button,
    input::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }

    input:disabled {
        background-color: white;
    }

/* 5 colum*/

.col-xs-5th-1,
.col-xs-5th-2,
.col-xs-5th-3,
.col-xs-5th-4 {
    float: left;
}

.col-xs-5th-5 {
    float: left;
    width: 100%;
}

.col-xs-5th-4 {
    width: 80%;
}

.col-xs-5th-3 {
    width: 60%;
}

.col-xs-5th-2 {
    width: 40%;
}

.col-xs-5th-1 {
    width: 20%;
}

.col-xs-5th-pull-5 {
    right: 100%;
}

.col-xs-5th-pull-4 {
    right: 80%;
}

.col-xs-5th-pull-3 {
    right: 60%;
}

.col-xs-5th-pull-2 {
    right: 40%;
}

.col-xs-5th-pull-1 {
    right: 20%;
}

.col-xs-5th-pull-0 {
    right: auto;
}

.col-xs-5th-push-5 {
    left: 100%;
}

.col-xs-5th-push-4 {
    left: 80%;
}

.col-xs-5th-push-3 {
    left: 60%;
}

.col-xs-5th-push-2 {
    left: 40%;
}

.col-xs-5th-push-1 {
    left: 20%;
}

.col-xs-5th-push-0 {
    left: auto;
}

.col-xs-5th-offset-5 {
    margin-left: 100%;
}

.col-xs-5th-offset-4 {
    margin-left: 80%;
}

.col-xs-5th-offset-3 {
    margin-left: 60%;
}

.col-xs-5th-offset-2 {
    margin-left: 40%;
}

.col-xs-5th-offset-1 {
    margin-left: 20%;
}

.col-xs-5th-offset-0 {
    margin-left: 0%;
}

@media (min-width: 768px) {
    .col-sm-5th-1,
    .col-sm-5th-2,
    .col-sm-5th-3,
    .col-sm-5th-4 {
        float: left;
    }

    .col-sm-5th-5 {
        float: left;
        width: 100%;
    }

    .col-sm-5th-4 {
        width: 80%;
    }

    .col-sm-5th-3 {
        width: 60%;
    }

    .col-sm-5th-2 {
        width: 40%;
    }

    .col-sm-5th-1 {
        width: 20%;
    }

    .col-sm-5th-pull-5 {
        right: 100%;
    }

    .col-sm-5th-pull-4 {
        right: 80%;
    }

    .col-sm-5th-pull-3 {
        right: 60%;
    }

    .col-sm-5th-pull-2 {
        right: 40%;
    }

    .col-sm-5th-pull-1 {
        right: 20%;
    }

    .col-sm-5th-pull-0 {
        right: auto;
    }

    .col-sm-5th-push-5 {
        left: 100%;
    }

    .col-sm-5th-push-4 {
        left: 80%;
    }

    .col-sm-5th-push-3 {
        left: 60%;
    }

    .col-sm-5th-push-2 {
        left: 40%;
    }

    .col-sm-5th-push-1 {
        left: 20%;
    }

    .col-sm-5th-push-0 {
        left: auto;
    }

    .col-sm-5th-offset-5 {
        margin-left: 100%;
    }

    .col-sm-5th-offset-4 {
        margin-left: 80%;
    }

    .col-sm-5th-offset-3 {
        margin-left: 60%;
    }

    .col-sm-5th-offset-2 {
        margin-left: 40%;
    }

    .col-sm-5th-offset-1 {
        margin-left: 20%;
    }

    .col-sm-5th-offset-0 {
        margin-left: 0%;
    }
}

@media (min-width: 992px) {
    .col-md-5th-1,
    .col-md-5th-2,
    .col-md-5th-3,
    .col-md-5th-4 {
        float: left;
    }

    .col-md-5th-5 {
        float: left;
        width: 100%;
    }

    .col-md-5th-4 {
        width: 80%;
    }

    .col-md-5th-3 {
        width: 60%;
    }

    .col-md-5th-2 {
        width: 40%;
    }

    .col-md-5th-1 {
        width: 20%;
    }

    .col-md-5th-pull-5 {
        right: 100%;
    }

    .col-md-5th-pull-4 {
        right: 80%;
    }

    .col-md-5th-pull-3 {
        right: 60%;
    }

    .col-md-5th-pull-2 {
        right: 40%;
    }

    .col-md-5th-pull-1 {
        right: 20%;
    }

    .col-md-5th-pull-0 {
        right: auto;
    }

    .col-md-5th-push-5 {
        left: 100%;
    }

    .col-md-5th-push-4 {
        left: 80%;
    }

    .col-md-5th-push-3 {
        left: 60%;
    }

    .col-md-5th-push-2 {
        left: 40%;
    }

    .col-md-5th-push-1 {
        left: 20%;
    }

    .col-md-5th-push-0 {
        left: auto;
    }

    .col-md-5th-offset-5 {
        margin-left: 100%;
    }

    .col-md-5th-offset-4 {
        margin-left: 80%;
    }

    .col-md-5th-offset-3 {
        margin-left: 60%;
    }

    .col-md-5th-offset-2 {
        margin-left: 40%;
    }

    .col-md-5th-offset-1 {
        margin-left: 20%;
    }

    .col-md-5th-offset-0 {
        margin-left: 0%;
    }
}

@media (min-width: 1200px) {
    .col-lg-5th-1,
    .col-lg-5th-2,
    .col-lg-5th-3,
    .col-lg-5th-4 {
        float: left;
    }

    .col-lg-5th-5 {
        float: left;
        width: 100%;
    }

    .col-lg-5th-4 {
        width: 80%;
    }

    .col-lg-5th-3 {
        width: 60%;
    }

    .col-lg-5th-2 {
        width: 40%;
    }

    .col-lg-5th-1 {
        width: 20%;
    }

    .col-lg-5th-pull-5 {
        right: 100%;
    }

    .col-lg-5th-pull-4 {
        right: 80%;
    }

    .col-lg-5th-pull-3 {
        right: 60%;
    }

    .col-lg-5th-pull-2 {
        right: 40%;
    }

    .col-lg-5th-pull-1 {
        right: 20%;
    }

    .col-lg-5th-pull-0 {
        right: auto;
    }

    .col-lg-5th-push-5 {
        left: 100%;
    }

    .col-lg-5th-push-4 {
        left: 80%;
    }

    .col-lg-5th-push-3 {
        left: 60%;
    }

    .col-lg-5th-push-2 {
        left: 40%;
    }

    .col-lg-5th-push-1 {
        left: 20%;
    }

    .col-lg-5th-push-0 {
        left: auto;
    }

    .col-lg-5th-offset-5 {
        margin-left: 100%;
    }

    .col-lg-5th-offset-4 {
        margin-left: 80%;
    }

    .col-lg-5th-offset-3 {
        margin-left: 60%;
    }

    .col-lg-5th-offset-2 {
        margin-left: 40%;
    }

    .col-lg-5th-offset-1 {
        margin-left: 20%;
    }

    .col-lg-5th-offset-0 {
        margin-left: 0%;
    }
}

/*end 5 coloum*/

.timesheetcontrol {
    padding: 6px 1px !important;
    font-size: 13px !important;
}

table.dataTable thead tr {
    font-size: 13px;
    letter-spacing: 1px;
}

/*Dashboard block css*/

.card {
    border-radius: 6px;
    box-shadow: 0 2px 2px rgba(204, 197, 185, 0.5);
    background-color: #ffffff;
    color: #252422;
    margin-bottom: 20px;
    position: relative;
    z-index: 1;
    border-top: 1px solid #eee;
}

.icon-green {
    color: #a8b312;
}

.icon-info {
    color: #68b3c8;
}

.icon-danger {
    color: #eb5e28;
}

.icon-warning {
    color: #ff6a1a;
}

.card .content {
    padding: 15px 15px 10px 15px;
}

.card .icon-big {
    font-size: 3em;
    min-height: 70px;
}

.card .numbers {
    font-size: 24px;
    text-align: right;
    margin-top: 12px;
}

    .card .numbers p {
        margin: 0;
    }

.icon-success {
    color: #7ac29a;
}

.card .footer {
    padding: 0;
    line-height: 30px;
}

    .card .footer hr {
        margin-top: 5px;
        margin-bottom: 5px;
    }

    .card .footer div {
        display: inline-block;
    }

.card .stats {
    color: #a9a9a9;
    font-weight: 300;
}

.stats a {
    color: #a9a9a9;
}

.label_rtr {
    display: inline-block;
    width: 19%;
    line-height: 17px;
}

.txtcheckInTime .picktim-clear {
    float: right;
    margin-top: 5px;
}

.txtcheckOutTime .picktim-clear {
    float: right;
    margin-top: 5px;
}

.alignText {
    text-align: center;
}

.task-control {
    display: block;
    width: 100%;
    height: 34px;
    padding: 6px 2px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    -webkit-transition: border-color ease-in-out 0.15s, -webkit-box-shadow ease-in-out 0.15s;
    -o-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
    transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
}

.bottombrdr {
    border-bottom: 1px solid #efefef;
    display: inline-block;
    width: 100%;
    margin-bottom: 5px;
}

    .bottombrdr h2 {
        margin-bottom: 0px;
        border-bottom: none;
        float: left;
        color: #ff6a1a;
        font-size: 16px;
        line-height: 30px;
        font-weight: bold;
    }


.created {
    float: right;
    padding-top: 15px;
}

    .created select {
        border: none;
    }

    .created ul {
        margin: 0px 0 9px 0;
    }

.canvasjs-chart-toolbar {
    display: none;
}

.reqtext {
    font-weight: normal;
    padding-top: 4px;
    font-size: 13px;
}

.disheight {
    height: 209px !important;
}

.attachments-added {
}

    .attachments-added ul {
        list-style: none;
    }

    .attachments-added li {
        background-color: #e8e8e8;
        padding: 10px 17px;
        border-radius: 30px;
        color: #444;
        margin-bottom: 10px;
    }

.align-right {
    float: right;
    margin-left: 10px;
    color: #90908d;
    cursor: pointer;
    font-size: 16px;
}

    .align-right:hover {
        color: #1c1c1c;
    }

.newrequest {
    border-left: #ff6a1c solid 6px;
}

.approvedrequest {
    border-left: #32cc00 solid 6px;
}

.pendingrequest {
    border-left: #b7b7b7 solid 6px;
}

.main-stages {
    /*width: 100%;*/
    padding: 0px 15px 0px 5px;
    margin-bottom: 10px;
}

.sub-stages {
    /*width: 100%;*/
    padding: 0px 15px 0px 5px;
    margin-left: 25px;
}

/*.level-count {
    width:200px;
}*/

.add-new {
    width: auto !important;
    min-width: 41px;
    background-color: #f4f4f4 !important;
}

.tbl-stage-item {
    background: #f4f4f4;
    margin-bottom: 5px;
    width: 100%;
    border-radius: 4px;
}



    .tbl-stage-item td {
        padding: 10px;
    }

        .tbl-stage-item td:first-child {
            width: 20px;
            max-width: 25px;
        }

        .tbl-stage-item td:nth-child(2) {
            width: 150px;
        }

        .tbl-stage-item td:nth-child(3) {
            width: 200px;
        }

.tbl-main-item {
    background: #e3e3e3;
    margin-bottom: 5px;
    width: 100%;
    border-radius: 4px;
}

    .tbl-main-item td {
        padding: 10px;
    }

        .tbl-main-item td:first-child {
            width: 20px;
            max-width: 25px;
        }

        .tbl-main-item td:nth-child(2) {
            /* width: 150px; */
        }

        .tbl-main-item td:nth-child(3) {
            width: 30px;
        }

.addnew {
    width: 20px;
    height: 20px;
    font-size: 12px;
    padding-left: 1px;
}

.bottompad {
    border-bottom: 1px solid #efefef;
    display: inline-block;
    width: 100%;
    margin-bottom: 5px;
    padding-bottom: 10px;
}

.align-left {
    font-size: 50px;
    float: left;
    color: #bbb;
}

.bottompad h2 {
    margin: 0px;
    border-bottom: none;
    float: left;
    padding-bottom: 0px;
}

.legend-span {
    clear: both;
    float: left;
    color: #ccc;
    font-size: 16px;
}


.label-ans {
    font-weight: normal;
    color: #7d7d7d;
}


.nopading {
    margin: 0px;
}

.radiodiv {
    margin-top: 5px;
    float: left;
    margin-right: 20px;
}

.radiobtn {
    width: auto !important;
    float: left;
    height: auto;
    margin-right: 4px !important;
}

.form-group {
    overflow: hidden;
}

.approve_bt {
    margin-top: 10px;
}

.inner-nav {
    list-style: none;
    padding: 0px;
    margin: 0px;
    display: inline-block;
    margin-top: 35px;
}


    .inner-nav li {
        float: left;
        margin-right: 14px;
    }

    .inner-nav a {
        padding: 10px 20px;
        border: #b1b1b1 solid 1px;
        color: #4c4c4c;
        display: inline-block;
    }

        .inner-nav a:hover {
            background-color: #ff6a1a;
            border: #ce4b05 solid 1px;
            color: #fff;
            text-decoration: none;
        }


        .inner-nav a.activelink {
            background-color: #ff6a1a;
            border: #ce4b05 solid 1px;
            color: #fff;
            text-decoration: none;
        }


.popup-div {
    background: rgba(0,0,0,0.2);
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 9999;
    top: 0px;
    left: 0px;
}

.popin {
    width: 700px;
    background-color: #fff;
    min-height: 100px;
    margin: 0 auto;
    margin-top: 250px;
    box-shadow: 0px 0px 4px 0px #444;
    position: relative;
}

.popheader {
    font-size: 18px;
    padding: 10px;
    background-color: #ffe0c6;
}

.popbody {
    padding: 20px;
}

.close-lnk {
    position: absolute;
    right: 0px;
    background-color: #444;
    padding: 15px 14px 10px;
}

.bg1 {
    background: url(../Content/Images/dashboard_bg1.png) no-repeat #fff;
    border-left: #599ad5 solid 2px;
}

.dash_div h3 {
    margin: 0px 0;
    padding: 0px;
    color: #727679;
    font-weight: 500 !important;
    font-size: 17px;
    text-align: right;
}

.dash_div {
    width: calc(33.3% - 10px);
    box-shadow: 0px 0px 4px -1px #444;
    height: 100px;
    float: left;
    margin: 0 5px;
    border-radius: 4px;
    padding: 15px;
    position: relative;
    cursor: pointer;
}

.bottom_align {
    position: absolute;
    bottom: 9px;
    width: 93%;
}

.bg2 {
    background: url(../Content/Images/dashboard_bg2.png) no-repeat #fff;
    border-left: #83b830 solid 2px;
}

.bg3 {
    background: url(../Content/Images/dashboard_bg3.png) no-repeat #fff;
    border-left: #fe963d solid 2px;
}

.bg4 {
    background: url(../Content/Images/dashboard_bg4.png) no-repeat #fff;
    border-left: #9d9b9b solid 2px;
}

.dash_div .count {
    width: 48px;
    float: right;
    font-size: 30px;
    color: #ffffff;
    font-weight: 400;
    height: 48px;
    line-height: 28px;
    background-color: #00539b;
    padding: 10px;
    border-radius: 30px;
    text-align: center;
}

.marg_top {
    margin: 10px 0px;
    overflow: hidden;
    padding: 5px 0;
}


.left_nav {
    display: inline-block;
    width: 100%;
}

    .left_nav ul {
        padding: 0px;
        list-style: none;
        width: 100%;
    }

        .left_nav ul li {
            /* float: left; */
            /* width: 14.28%; */
        }

            .left_nav ul li a {
                display: block;
                padding: 15px;
                margin-right: 0px;
                text-align: center;
            }

                .left_nav ul li a img {
                }

                .left_nav ul li a:hover {
                    background-color: #fff;
                }

                .left_nav ul li a.linkact {
                    background-color: #fff;
                }



.rignt_nav {
    background: #fff;
    box-shadow: 0 6px 15px rgba(209,209,209,0.8);
    padding: 21px 15px;
    display: inline-block;
    width: 100%;
    margin: 10px 0px 20px;
}


.heading {
    font-size: 20px;
    font-weight: 600;
    text-transform: uppercase;
    margin-bottom: 10px;
}

ul.list {
    padding: 0px;
    margin: 15px 0px 0px;
    list-style: none;
}

    ul.list li {
        background: url(../Content/Imageslist-arrow.png) no-repeat 6px 12px;
        border-bottom: 1px solid #e5e4e4;
        line-height: 20px;
        padding: 8px 0px 8px 20px;
        font-size: 14px;
    }

        ul.list li:last-child {
            border-bottom: none;
        }

        ul.list li a {
            color: #00539b;
            text-decoration: none;
            font-size: 16px;
        }

            ul.list li a:hover {
                color: #7e7f80;
                text-decoration: underline;
            }


.table .form-control {
    border: #7d7d7d solid 1px;
    border-left: #7d7d7d solid 1px !important;
    border-right: #7d7d7d solid 1px !important;
    border-top: #7d7d7d solid 1px !important;
    padding: 4px 5px;
    height: auto;
    background-color: #fff !important;
    border-radius: 2px !important;
}

    .table .form-control:focus {
        border: #ff6a1a solid 1px;
        border-left: #ff6a1a solid 1px !important;
        border-right: #ff6a1a solid 1px !important;
        border-top: #ff6a1a solid 1px !important;
        padding: 4px 5px;
        height: auto;
        background-color: #fff !important;
    }

.checkSpan {
    padding-right: 20px;
}

    .checkSpan input {
        margin-right: 5px;
    }

.footer {
    border-bottom: 4px solid rgb(229, 134, 52);
    padding-left: 0px !important;
    padding-right: 0px !important;
    box-shadow: -1px 0px 5px 0px rgba(107, 107, 107, 1);
}

.footerin {
    background-color: rgb(0, 81, 155);
    border-bottom: 1px solid rgb(255, 255, 255);
    padding: 20px 25px;
    overflow: auto;
}

.flo_left {
    float: left;
    margin-top: 15px;
    margin-left: 10px;
}

.cop_right {
    color: rgb(232, 232, 232);
    line-height: 20px;
    font-size: 15px;
}

.dataTables_filter input {
    border: 1px solid #666666;
}

.facultysection {
    min-height: 450px;
}

td {
    font-family: Berlin Sans FB;
    font-size: 15px;
    font-weight: normal;
}
