﻿<%@ Page Title="" Language="C#" MasterPageFile="~/MainMaster.master" AutoEventWireup="true" CodeBehind="RISalesReports.aspx.cs" Inherits="EnterpriserWebFinal.RI.RISalesReports" %>
<asp:Content ID="Content1" ContentPlaceHolderID="head" runat="server">
<script type="text/javascript">
    $(document).ready(function () {
        //$('divReportView').layout({ applyDefaultStyles: true });
        // init instance var
        //var myLayout = $('#divReportView').layout({ applyDemoStyles: true });

        // read layout 'options'
        //var is_west_resizable = myLayout.options.west.resizable;
        //var north_maxHeight = myLayout.options.north.maxSize;
       
        // get layout 'state'
        //var is_west_open = myLayout.state.west.isOpen;
        //var north_size = myLayout.state.north.size;

        // layout methods
        //myLayout.open("west");
        //myLayout.sizePane("west", 300);

        // layout utilities
        //myLayout.addPinBtn("#myPinButton", "west");
        //myLayout.allowOverflow("north");

        //$('#divReportView').css('position', 'static');
    });
</script>
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="ContentPlaceHolder1" runat="server">
<div id="divReportView" style="height:100%;width:100%;">
    <div style="float:left;height:600px;width:15%;background-color:Yellow">
        <div id="divCustomizedReports">
            <div>
                Customized Reports:
            </div>
            <div>
                
            </div>
        </div>
        <div id="divSalesReports">
             <div>
                Base Reports:
            </div>
            <div>
            
            </div>
        </div>
    </div>
    <div style="float:right;height:600px;width:85%;background-color:Aqua">ttt
    </div>
</div>
</asp:Content>
