﻿body {
    background-color: #ffffff;
    margin: 0px;
    padding: 0px;
}

.container-left-grn {
    margin-top: 0.5%;
    width: 32.6%;
    padding: 5px 10px;
    border: 1px solid #d8d9d8;
    background-color: #f3f3f3;
    float: left;
}

.container-right-grn {
    margin-top: 0.5%;
    margin-left: 1%;
    width: 66.4%;
    float: left;
    border: 1px solid #d8d9d8;
    background-color: #f3f3f3;

}

.qualifyingItem_lbl_text {
    text-align: center;
    float: left;
    width: 5.5%;
    padding: 0.5px;
}

.textiles-price-header {
    padding: 2px 0 1px 37px;
    background-color: #004bc6;
    color: #fff;
    font-weight: bold; 
}

.welltextiles {
    min-height: 20px;
    padding: 10px;
    margin-bottom: 10px;
    background-color: #f5f5f5;
    border: 1px solid #e3e3e3;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .05);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .05);
}

.welltextiles blockquote {
    border-color: #ddd;
    border-color: rgba(0, 0, 0, .15);
}
.welltextiles-lg {
    padding: 24px;
    border-radius: 6px;
}
.welltextiles-sm {
    padding: 9px;
    border-radius: 3px;
}

.grid-textbox2 {
    background-color: white;
    font-size: 14px;
    width: 100%;
    text-align: center;
    font-weight:bolder;
}
.grid-textboxZero {
    background-color: aliceblue;
    font-size: 14px;
    width: 100%;
    text-align: center; 
}

.report-header-filter
{
    padding: 0 0 0 10px;
    background-color: #004bc6;
    color: #fff;
    font-weight: bold;
    margin-bottom: 5px;
}

.container-center {
    display: table;
    margin: 0 auto;
}

.radioboxlist radioboxlistStyle {
    font-size: x-large;
    padding-right: 10px;
}

.radioboxlist label {
    color: white;
    background-color: rebeccapurple;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
    padding-left: 6px;
    padding-right: 5px;
    padding-top: 2px;
    padding-bottom: 2px;
    border: 1px solid #AAAAAA;
    white-space: nowrap;
    clear: left;
    margin-right: 5px;
    margin-left: 5px;
    font-size: small;
}

.radioboxlist label:hover {
  background-color: dodgerblue;
  color : white;
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
}

.radioboxlistgreen radioboxlistStyle {
    font-size: x-large;
    padding-right: 10px;
}

.radioboxlistgreen label {
    color: white;
    background-color: forestgreen;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
    padding-left: 6px;
    padding-right: 5px;
    padding-top: 2px;
    padding-bottom: 2px;
    border: 1px solid #AAAAAA;
    white-space: nowrap;
    clear: left;
    margin-right: 5px;
    margin-left: 5px;
    font-size: small;
}

.radioboxlistgreen label:hover {
  background-color: dodgerblue;
  color : white;
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
}

.container-invoice-right {
    display: table;
    float: left;
    width: 20%;
    margin-left: 80%;
    font-weight: bold;
    border: 1px solid #d8d9d8;
    background-color: #f3f3f3;
    color: Black;
    padding: 10px;
}

.form_bootstyle {
    padding: 2.5px;
}

.form_bootstyle_border {
    padding: 8px 10px;
    color: black;
    border: 0.5px solid #4CAF50;
    background-color: lightgray;
    border-radius: 5px;
}
.form_bootstyle_border1 {
    padding: 8px 0px;
    color: black;
    border: 0.5px solid #4CAF50;
    background-color: lightgray;
    border-radius: 5px;
}

.form_bootstyle_panel {
    padding: 10px 10px;
    margin-left:10px;
    color: black;
    border: 0.5px solid #4CAF50;
    background-color: ActiveBorder ;
    border-radius: 5px;
}

.form_textbox {
     display: block;
    width: 100%;
    height: 24px;
    padding: 3px 4px 0px 4px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #000000;
    background-color: #ffffff;
    background-image: none;
    border: 1px solid #d8d9d8;
    border-radius: 5px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    -webkit-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    -webkit-transition: all border-color ease-in-out .15s, box-shadow ease-in-out .15s ease-out;
    -moz-transition: all border-color ease-in-out .15s, box-shadow ease-in-out .15s ease-out;
    -o-transition: all border-color ease-in-out .15s, box-shadow ease-in-out .15s ease-out;
}

.form_textbox:focus
{
    border-color: #80deea;
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(128, 222, 234, 0.6);
    -moz-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(128, 222, 234, 0.6);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(128, 222, 234, 0.6);
}

.container-invoice-left {
    display: table;
    float: left;
    width: 18%;
    border: 1px solid #d8d9d8;
    background-color: #f3f3f3;
    color: Black;
    padding: 5px;
}

.container-Transfer-header {
    float: left;
    width: 50%;
    color: Black;
    padding: 5px;
}

.barcode-header-Transfer {
    padding: 0 0 0 10px;
    background-color: #004bc6;
    color: #fff;
    font-weight: bold;
    margin-bottom: 6px;
}

.right-top-container-Transfer {
    float: left;
    width: 49%;
    display: table;
    margin-top: 0.5%;
    border: 1px solid #d8d9d8;
    background-color: #f3f3f3;
    color: Black;
    padding: 8px;
}

.container-Transfer-left {
    float: left;
    width: 50%;
    border: 1px solid #d8d9d8;
    color: Black;
    padding: 5px;
}

.container-Transfer-right {
    float: right;
    width: 48%;
    margin-right: 1%;
    border: 1px solid #d8d9d8;
    color: Black;
    padding: 5px;
}

.container-transfer {
    background: url("../images/ui-bg_diagonals-small_50_ff3853_40x40.png");
    color: black;
    display: table;
    margin-bottom: 4px;
    padding: 2px 0 2px 10px;
    width: 100%;
}

.black_overlay {
    display: none;
    position: absolute;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100%;
    background-color: black;
    z-index: 1001;
    -moz-opacity: 0.8;
    opacity: .80;
    filter: alpha(opacity=80);
}

.white_content {
    display: none;
    position: absolute;
    top: 25%;
    left: 35%;
    width: 35%;
    padding: 0px;
    border: 0px solid #a6c25c;
    background-color: white;
    z-index: 1002;
    overflow: auto;
}

.headertext {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    color: #f19a19;
    font-weight: bold;
}

.textfield {
    border: 1px solid #a6c25c;
    width: 135px;
}

.button2 {
    background-color: #a6c25c;
    color: White;
    font-size: 11px;
    font-weight: bold;
    border: 1px solid #7f9db9;
    width: 68px;
}

.gridInvoice-textbox {
    background-color: White;
    font-size: 13px;
    width: 100%;
    height: 100%;
    font-weight: bold;
    text-align: center;
}

.pshro_MainDivHeader {
    width: 100%;
    text-align: right;
    vertical-align: middle;
    background: url(../images/banner_bg.jpg);
}

.pshro_MainDivImg {
    width: 100%;
    text-align: right;
    vertical-align: middle;
    background: url(../images/banner.jpg);
    background-repeat: no-repeat;
}

.pshro_MainMenu {
    width: 100%;
    height: 14px;
}

.pshro_MainMenuUl {
    list-style: none;
    margin: 0px;
    padding: 0px 10px 0px 0px;
}

.pshro_MainMenuLi {
    height: 12px;
    vertical-align: middle;
    text-align: center;
    text-decoration: none;
    font-family: "Trebuchet MS";
    color: #ffffff;
    font-size: 10px;
    text-align: center;
}

    .pshro_MainMenuLi a {
        height: 12px;
        vertical-align: middle;
        text-align: center;
        text-decoration: none;
        font-family: "Trebuchet MS";
        color: #ffffff;
        font-size: 10px;
        text-align: center;
        padding-left: 8px;
        padding-right: 8px;
    }

.pshro_MainPageMenu {
    width: 100%;
    height: 29px;
}

.pshro_MainPageMenuUl {
    list-style: none;
    margin-top: 2px;
    padding: 0px 0px 0px 0px;
}

.pshro_MainPageMenuLi {
    margin-left: 0px;
    margin-top: 0px;
}

.pshro_MainPageMenuAnchor {
    display: block;
    background: url(../images/button_bg.jpg);
    height: 18px;
    width: 130px;
    text-decoration: none;
    color: #000;
    font-size: 12px;
    vertical-align: middle;
    text-align: center;
    cursor: pointer;
    font-family: "Trebuchet MS";
    font-weight: bold;
    border-right: 1px solid #336699;
}

    .pshro_MainPageMenuAnchor:hover {
        display: block;
        background: url(../images/button_bg.jpg);
        height: 18px;
        width: 130px;
        text-decoration: none;
        color: #000;
        font-size: 12px;
        vertical-align: middle;
        text-align: center;
        cursor: pointer;
        font-family: "Trebuchet MS";
        font-weight: bold;
        border-right: 1px solid #336699;
        background: #3399ff;
        color: #fff;
    }

.LoginText {
    font-weight: bold;
    font-size: 11px;
    color: #000000;
    font-family: Verdana;
    height: 25px;
}

.LoginText_Desc {
    font-size: 11px;
    color: #000000;
    font-family: Verdana;
}

.HyperlinkColor_Menu1 {
    color: #ffffff;
}

.TextBoxFont {
    font-weight: bold;
    font-size: 8px;
    color: Red;
    font-family: Verdana;
}

.pshro_txt {
    font-family: verdana;
    font-size: 8pt;
    vertical-align: middle;
}

a.pshro_sidebar:link {
    font-family: verdana;
    color: Black;
    font-size: 13px;
    font-weight: normal;
    text-align: center;
    vertical-align: middle;
}

a.pshro_sidebar:hover {
    font-family: verdana;
    color: Black;
    font-size: 13px;
    font-weight: normal;
    text-align: center;
    vertical-align: middle;
}

a.pshro_sidebar:visited {
    font-family: verdana;
    color: Black;
    font-size: 13px;
    font-weight: normal;
    text-align: center;
    vertical-align: middle;
}

a.pshro_sidebar:active {
    font-family: verdana;
    color: Black;
    font-size: 13px;
    font-weight: normal;
    text-align: center;
    vertical-align: middle;
}

.pshro_Linkbutton {
    font-family: verdana;
    font-size: 10px;
    font-weight: bold;
    color: blue;
}

.pshro_WzdStepTable {
    float: left;
    margin-left: 0px;
    margin-top: 0px;
    padding: 3px 0px 0px 0px;
}

.pshro_WzdStep {
    display: block;
    background: url(../images/button.png);
    height: 23px;
    width: 148px;
    text-decoration: none;
    color: #ffffff;
    font-size: 12px;
    vertical-align: middle;
    cursor: pointer;
    padding-top: 5px;
    padding-left: 20px;
    font-family: "Trebuchet MS";
    text-align: left;
    font-weight: bold;
}

    .pshro_WzdStep:hover {
        display: block;
        height: 23px;
        width: 148px;
        text-decoration: none;
        color: #ffffff;
        font-size: 12px;
        vertical-align: middle;
        background: url(../images/button_over_03.png);
        cursor: pointer;
        padding-top: 5px;
        padding-left: 20px;
        font-family: "Trebuchet MS";
        text-align: left;
        font-weight: bold;
    }

.pshro_WzdStepActive {
    display: block;
    height: 23px;
    width: 148px;
    text-decoration: none;
    color: #ffffff;
    font-size: 12px;
    vertical-align: middle;
    background: url(../images/button_over_03.png);
    cursor: pointer;
    padding-top: 5px;
    padding-left: 20px;
    font-family: "Trebuchet MS";
    text-align: left;
    font-weight: bold;
}

.pshro_WzdHeaderRow {
    background: #FFFFFF;
    width: 100%;
    height: 30px;
    padding: 0px 0px 0px 0px;
    text-align: left;
}

.pshro_WzdBoxStyle {
    background: #F1FBFD;
    padding: 1px 1px 1px 1px;
    text-align: left;
    font-size: 12px;
    color: #000000;
    border: #336699 1px solid;
    height: auto;
}

.pshro_FieldSetStyle {
    border: 1px #336699 solid;
    padding: 2px 2px 4px 2px;
    text-align: center;
}

.pshro_FieldSetStyleRow {
    border: 1px #336699 solid;
    padding: 2px 2px 4px 2px;
    text-align: center;
}

.pshro_WzdHeaderText {
    text-align: left;
    padding: 5px 0px 0px 20px;
    color: #000000;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    font-weight: bold;
}

.pshro_WzdSuccessMessage {
    text-align: center;
    padding: 5px 0px 0px 20px;
    color: #009966;
    font-family: Verdana;
    font-size: 10px;
}

.pshro_WzdFailureMessage {
    text-align: center;
    padding: 5px 0px 0px 20px;
    color: #FF0000;
    font-family: Verdana;
    font-size: 10px;
}

.pshro_WzdButton {
    display: block;
    height: 30px;
    width: 80px;
    text-decoration: none;
    color: #fff;
    font-size: 12px;
    vertical-align: middle;
    margin-left: 10px;
    background: url(../images/Header_2_11.jpg);
    cursor: pointer;
    font-family: "Trebuchet MS";
    padding-left: 20px;
    padding-top: 3px;
    text-align: left;
    font-weight: bold;
}

    .pshro_WzdButton:hover {
        display: block;
        height: 30px;
        width: 80px;
        text-decoration: none;
        color: #fff;
        font-size: 12px;
        vertical-align: middle;
        margin-left: 10px;
        background-image: url(../images/Header_2_07.jpg);
        cursor: pointer;
        font-family: "Trebuchet MS";
        padding-left: 20px;
        padding-top: 3px;
        text-align: left;
        font-weight: bold;
    }

.pshro_padding10left {
    font-family: verdana;
    font-size: 8pt;
    text-align: left;
}

.pshro_padding10center {
    padding-left: 10px;
    padding-top: 10px;
    font-family: verdana;
    font-size: 8pt;
    text-align: center;
}

.pshro_padding10leftnotes {
    padding-left: 10px;
    font-family: verdana;
    font-size: xx-small;
    text-align: left;
    vertical-align: top;
}

.pshro_GridDgn {
    text-align: center;
    vertical-align: middle;
    width: 100%;
}

.pshro_GridDgnHeaderCellLeft {
    font-family: "Trebuchet MS";
    text-align: center;
    font-size: 15px;
    white-space: nowrap;
    padding-right: 3px;
    padding-left: 3px;
    height: 32px;
    color: #FFFFFF;
    background: #3399CC;
    border-right: grey 1px solid;
}

.pshro_GridDgnHeaderCellCenter {
    font-family: "Arial";
    font-weight: bold;
    text-align: center;
    font-size: 13px;
    height: 30px; /*white-space:nowrap;*/
    color: #fff;
    border-right: grey 1px solid;
    background: #0078ae url(../images/ui-bg_glass_45_0078ae_1x400.png) 50% 50% repeat-x;
    text-decoration: none;
}

.container-pers-middle-invoice {
    display: table;
    float: left;
    width: 81%;
    height: 345px;
    margin-left: 1%;
    border: 1px solid #d8d9d8;
    background-color: #f3f3f3;
    color: Black;
    padding: 5px;
}

.container-invoice-detail {
    display: table;
    width: 100%;
    height: 345px;
}

.container-invoice-bottom {
    background-color: #f3f3f3;
    display: table;
    float: left;
    width: 100%;
    height: 345px;
}

.control-group-split-invoice {
    width: 100%;
    padding-bottom: 2px;
    padding-left: 0;
    padding-right: 0;
    padding-top: 2px;
    height: 345px;
    overflow: auto;
}

.pshro_GridDgnHeaderCellCenter-Invoice {
    font-family: "Arial";
    font-weight: bold;
    text-align: center;
    font-size: 13px;
    height: 30px; /*white-space:nowrap;*/
    color: #fff;
    border-right: grey 1px solid;
    background: #0078ae url(../images/ui-bg_diagonals-small_40_db4865_40x40.png) 50% 50% repeat-x;
    text-decoration: none;
}
/* For Grid Header Hover
.pshro_GridDgnHeaderCellCenter:hover
{
    font-family: "Arial";
    font-weight: bold;
    text-align: center;
    font-size: 13px;
    height: 30px; 
    color: #fff;
    border-right: grey 1px solid; 
    background: #0078ae url(../images/ui-bg_glass_45_0078ae_1x400_1.png) 50% 50% repeat-x;
    text-decoration: none;
}
*/
.pshro_GridDgnHeaderCellCenter th a {
    color: #fff;
    padding-right: 5px;
    text-decoration: none;
    padding-left: 5px;
}

    .pshro_GridDgnHeaderCellCenter th a:hover {
        text-decoration: underline;
    }

.pshro_GridDgnCellRight {
    text-align: left;
    border-right: #FFFFFF 1px solid;
}

.pshro_GridDgnCellCenter {
    text-align: center;
    border-right: #FFFFFF 1px solid;
}

.pshro_GridDgnCellLeft {
    text-align: left;
    border-right: #FFFFFF 1px solid;
}

.pshro_text {
    height: 30px;
}

tr.pshro_text td {
    background-color: #fff;
    text-decoration: none;
    font-size: 16px;
    color: #ffffff;
    text-align: right;
}

    tr.pshro_text td table tr td {
        color: #333333;
    }

        tr.pshro_text td table tr td a {
            background-color: #EAEEFC;
            width: 20px;
            color: black;
            padding: 2px 6px 2px 6px;
            text-decoration: none;
            text-align: center;
        }

            tr.pshro_text td table tr td a:hover {
                background-color: #C9D3FF;
                width: 20px;
                color: black;
                padding: 2px 6px 2px 6px;
                text-decoration: none;
                text-align: center;
            }

        tr.pshro_text td table tr td span {
            background-color: #C9D3FF;
            width: 20px;
            color: black;
            padding: 2px 6px 2px 6px;
            text-decoration: none;
            text-align: center;
            font-weight: bold;
        }

tr.pshro_GridDgnStyle {
    text-decoration: none;
    font-size: 13px;
    height: 23px;
    /*background: #edf1fe;*/
    background-color:aliceblue;
    font-family: "caption";
    font-weight :bold;
    padding-left: 10px;
    padding-right: 10px;
}

    tr.pshro_GridDgnStyle:hover {
        /*background: #FCF0E5;*/
         background-color:aliceblue;
    }

tr.pshro_GridDgnStyle_Alternative:hover {
    /*background: #FCF0E5;*/
    background-color:aliceblue;
}

tr.pshro_GridDgnStyle_Alternative {
    text-decoration: none;
    font-size: 13px;
    height: 23px;
    /*background: #edf1fe;*/
    background-color:aliceblue;
    font-family: "caption";
    font-weight :bold;
    padding-left: 10px;
    padding-right: 10px;
}

.pshro_GridDgnAlternateStyle {
    text-decoration: none;
    font-size: 12px;
    height: 30px;
    background: #E6F3FF;
    font-family: "Trebuchet MS";
    border-right: grey 1px solid;
}

.pshro_MasterMessage {
    text-align: center;
    padding: 5px 0px 0px 20px;
    font-family: Verdana;
    font-size: 15px;
}

.pshro_WzdDivStyle {
    width: 100%;
    height: 100%;
    overflow: auto;
}

.pshro_BoxStyle {
    background: #F1FBFD;
    padding: 1px 1px 1px 1px;
    text-align: left;
    font-size: 12px;
    color: #000000;
    border: #336699 1px solid;
    width: 375px;
    height: auto;
}

.pshro_AreaBoxStyle {
    background: #F1FBFD;
    padding: 1px 1px 1px 1px;
    text-align: left;
    font-size: 12px;
    color: #000000;
    border: #336699 1px solid;
    width: 375px;
    height: auto;
}

.pshro_padding10top {
    padding-left: 10px;
    padding-top: 10px;
    font-family: verdana;
    font-size: 8pt;
    text-align: left;
    vertical-align: top;
}

.pshro_padding10rightalign {
    padding-left: 10px;
    padding-top: 10px;
    font-family: verdana;
    font-size: 8pt;
    text-align: right;
}

.pshro_EmptyCell {
    font-family: "Trebuchet MS";
    text-align: left;
    font-size: 15px;
    white-space: nowrap;
    padding-right: 3px;
    padding-left: 3px;
    height: 32px;
    color: #FFFFFF;
    background: #3399CC;
}

.pshro_RowStyle {
    text-decoration: none;
    font-size: 12px;
    height: 30px;
    background: #F7F8F9;
    font-family: "Trebuchet MS";
    border-right: grey 1px solid;
}

.pshro_AlternateRowStyle {
    text-decoration: none;
    font-size: 12px;
    height: 30px;
    background-color: #EBECEE;
    font-family: "Trebuchet MS";
    border-right: grey 1px solid;
}

.pshro_HideDiv {
    display: none;
    padding-top: 4px;
    margin: 0px;
}

.pshro_PopupDiv {
    display: block;
    position: absolute;
    right: 75px;
    top: 25px;
    border: grey 1px solid;
}

.pshro_RptTitle {
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 18px;
    font-weight: bold;
    color: #242471;
    text-decoration: none;
    vertical-align: middle;
    text-align: left;
    letter-spacing: normal;
    text-indent: 2px;
    padding: 5px 0px 0px 0px;
    height: 25px;
}

.pshro_CellAlign {
    padding: 10px 0px 10px 3px;
}

.pshro_PaddingAddnew {
    text-align: right;
    padding: 10px 10px 10px 10px;
    height: 24px;
}

.pshro_gridAlternateStyleMask {
    font-family: verdana;
    font-size: 12px;
    background-color: #FF0000;
    border-top-width: 1px;
    border-right-width: 1px;
    border-bottom-width: 1px;
    border-left-width: 1px;
    border-top-style: none;
    border-right-style: none;
    border-bottom-style: solid;
    border-left-style: none;
    border-top-color: #B4BCE3;
    border-right-color: #B4BCE3;
    border-bottom-color: #B4BCE3;
    border-left-color: #B4BCE3;
    height: 23px;
}

.pshro_GridDgnStyleMask {
    text-decoration: none;
    font-size: 15px;
    height: 30px;
    background: #FF0000;
    font-family: "Trebuchet MS";
    border-right: grey 1px solid;
}

.white_content {
    display: none;
    position: absolute;
    top: 10%; /*left:25%;*/
    padding: 0px;
    border: 0px solid #a6c25c;
    background-color: white;
    z-index: 1002;
}

.white_content_progress {
    display: none;
    position: absolute;
    top: 48%;
    bottom: 50%;
    right: 45%;
    left: 45%;
    padding: 0px;
    z-index: 1002;
}

tr.pshro_footer td {
    text-align: right;
    background-color: #80c4f6;
}

    tr.pshro_footer td a {
        padding: 2px 5px 2px 5px;
        color: #fff;
        text-decoration: none;
        font-size: 11px;
        background-color: #669933;
        margin: 2px;
    }

    tr.pshro_footer td span a {
        padding: 2px 5px 2px 5px;
        color: #fff;
        text-decoration: none;
        font-size: 11px;
        background-color: #ccc;
        margin: 2px;
    }

    tr.pshro_footer td div {
        text-align: center;
        padding-left: 10px;
    }

.gridDetails {
    padding: 0 0;
    width: 100%;
    background-color: aliceblue !important;
}

/*.pshro_GridDgn td
{
  border-right:  1px solid #3B549F;
  border-left:  1px solid #3B549F;
}*/

.pshro_GridDgn tbody th {
    border-bottom: 1px solid #0E72B5;
    border-right: 1px solid #0E72B5;
    border-top: 1px solid #0E72B5;
    font-weight: bold;
}

.table_border_invoice {
    border: 1px solid black;
    margin: 0 0 40px 0;
    width: 100%;
    box-shadow: 0 1px 10 px rgba(0,0,0,0.2);
    display: table;
    media screen and (max-width: 580px);
    display: block;
}

    .table_border_invoice th {
        text-align: center;
        width: 100%;
        display: table-cell;
        background: #6eac2c url("../images/ui-bg_diagonals-small_50_262626_40x40.png") repeat-x scroll 50% 50%;
        color: #fff;
    }

    .table_border_invoice td {
        text-align: center;
        border: 0.5px solid black;
        height: auto;
        border-collapse: collapse;
        display: table-cell;
        padding: 2px 12px;
        font-size: 14px;
    }

.table_border_so {
    border: 1px solid black;
    margin: 0 0 40px 0;
    width: 100%;
    box-shadow: 0 1px 10 px rgba(0,0,0,0.2);
    display: table;
    media screen and (max-width: 580px);
    display: block;
}

    .table_border_so th {
        text-align: center;
        width: 100%;
        display: table-cell;
        background: #6eac2c url("../images/ui-bg_diagonals-small_50_ff3853_40x40.png") repeat-x scroll 50% 50%;
        color: #fff;
        font-weight: bolder;
    }

    .table_border_so td {
        text-align: center;
        border: 0.5px solid black;
        height: auto;
        border-collapse: collapse;
        display: table-cell;
        padding: 2px 12px;
        font-size: 14px;
    }

.pshro_GridDgnStyle td {
    border-right: 1px solid #3B549F;
    border-left: 1px solid #3B549F;
}
.pagination {
    margin: 5px 0;
}
.tbl_left {
    padding-left:2px !important;    
    text-align:left;
}
    .tbl_left td {        
        padding:0px 3px 0px 3px;
    }
.hover_row {
    background-color: #80b3ff;
}

.hover_row_defualt {
    background-color: #fff2e6;
}